  <script src="../lib/vue.min.js"></script>
  <script src="../lib/vue-i18n.min.js"></script>
  <script src="../lib/vue-clipboard.min.js"></script>
  <script src="../lib/iview/iview.min.js"></script>
  <script src="../lib/es6-promise.auto.min.js"></script>
  <script src="../lib/axios.min.js"></script>
  <script src="../lib/vue-recaptcha.min.js"></script>
  <script src="https://www.google.com/recaptcha/api.js?onload=vueRecaptchaApiLoaded&render=explicit&hl=ar" async defer>
  </script>
  <script src="../scripts/common/utils.js"></script>
  <script src="../scripts/locale/system.js"></script>
  <script src="../scripts/common/axios.config.js"></script>
  <script src="../scripts/common/components.js"></script>
