  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" href="../images/favicon.ico">
  <title>Upex.io - منصة طلبات البيع والشراء للعملات الرقمية بين المتداولين</title>
  <meta name="description" content="إمكانية البيع والشراء تتم من خلال عرض البائعين كمية العملات التي يمتلكونها وتفاصيل البيع في واجهة المنصة، ويشتري المتداولين من العروض المتاحة، فيما المنصة وسيط.">
  <link rel="stylesheet" href="../lib/iview/iview.min.css">
  <link rel="stylesheet" href="../styles/common/common.css">
  <link rel="stylesheet" href="../styles/common/header.css">
