html[lang='zh'] .banner,
html[lang='en'] .banner {
  background-image: url('../images/topbanner-en.png');
}

html[lang='ar'] .banner {
  background-image: url('../images/topbanner-ar.png');
}

.btn-show-release {
  color: #ff7100;
  background-color: #fff;
}

.btn-show-release:hover {
  color: #b24e00;
  border-color: transparent;
  background-color: #fff;
}

.container {
  margin: 20px auto 0;
  width: 1200px;
  min-height: 611px;
}

.container .list-tabs-title {
  width: 186px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  background-image: url(../images/tab-gray.png);
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.container .list-tabs-title span {
  cursor: pointer;
  display: inline-block;
  width: 150px;
  height: 100%;
}

.container .list-tabs-title.active {
  background-image: url(../images/tab-white.png);
  color: #5C95EA;
}

.container .list-tabs-extra {
  margin-top:10px;
  width:68.7%;
}

.container .list-content {
  background-color: #fff;
}

.container .list-content .limit-tips {
  font-size: 11px;
  font-weight: 100;
}

.container .list-content .avatar {
  display: inline-block;
  color: rgba(51, 51, 51, 1);
  font-size: 11px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  border: 1px solid rgba(237, 237, 237, 1);
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
}
.container .list-content .mine {
  font-weight: normal;
  color: #666666;
  background-color: #EDF4FF;
  border-color: #AEC4F2;
}

.page {
  line-height: 50px;
  height: 50px;
  background: white;
  text-align: center;
  margin-bottom: 20px;
}

.order-modal {
  height: 110px;
}
.order-modal .ivu-modal-content {
  padding: 22px 56px;
  height: 100%;
}
.order-modal .ivu-modal-body {
  padding: 0;
}
.order-modal .ivu-modal-close {
  top: -12px;
  right: -12px;
}
.order-modal .order-modal-close {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('../images/close-circle.png');
}

.order-modal .ivu-input-group-append {
  cursor: pointer;
}
.order-modal .input-tips {
  display: block;
  padding-top: 5px;
  text-align: right;
}

body[dir='rtl'] .order-modal .ivu-modal-close {
  left: -12px;
}

body[dir='rtl'] .o-input-number.append .ivu-input-number {
  margin-left: -6px;
  margin-right: auto;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

body[dir='rtl'] .ivu-input-number input {
  text-align: right;
}
