@font-face {
  font-family: 'BankGothic';
  src: url('../fonts/BankGothic-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.banner {
  background-image: url('../images/OTCbanner.jpg');
  padding: 60px 0;
  display: inline-block;
  width: 100%;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 2px 4px #105586;
}

.banner * {
  direction: ltr !important;
}

.banner h2 {
  font-size: 52px;
  font-family: 'BankGothic';
  letter-spacing: -4px;
}

html[lang='ar'] .banner h2 {
  font-size: 44px;
  letter-spacing: 4px;
}

.banner p {
  font-size: 16px;
  font-weight: bold;
}

.btn-show-release {
  font-size: 14px;
  color: #ff7100;
  background-color: #fff;
}

.btn-show-release:hover {
  color: #b24e00;
  border-color: transparent;
  background-color: #fff;
}

.container {
  margin: 20px auto 0;
  width: 1200px;
  min-height: 611px;
}

.container .list-tabs-title {
  width: 170px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #999999;
  background-color: #F7F7F7;
  border-radius: 4px 4px 0 0;
  transform: translateY(6px);
  transition: all 0.2s ease;
}

.container .list-tabs-title span {
  cursor: pointer;
  display: inline-block;
  width: 150px;
  height: 100%;
}

.container .list-tabs-title:hover {
  color: #666666;
  transform: translateY(0);
}
.container .list-tabs-title.active {
  color: #5C95EA;
  background-color: #ffffff;
  transform: translateY(0);
}

.container .list-tabs-extra {
  margin-top:10px;
  width:68.7%;
}

.container .list-content {
  background-color: #fff;
}

.container .list-content .limit-tips {
  font-size: 11px;
  font-weight: 100;
}

.container .list-content .avatar {
  display: inline-block;
  color: rgba(51, 51, 51, 1);
  font-size: 11px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  border: 1px solid rgba(237, 237, 237, 1);
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
}
.container .list-content .mine {
  font-weight: normal;
  color: #666666;
  background-color: #EDF4FF;
  border-color: #AEC4F2;
}
.container .list-content .user-brief {
  display: inline-block;
  vertical-align: middle;
}
.container .list-content .user-brief-guarante {
  cursor: pointer;
  font-size: 12px;
}
.container .list-content .user-brief-guarante:hover {
  color: #5C95EA;
  text-decoration: underline;
}

.page {
  line-height: 50px;
  height: 50px;
  background: white;
  text-align: center;
  margin-bottom: 20px;
}

.order-modal {
  min-height: 110px;
}
.order-modal .ivu-modal-content {
  padding: 22px 56px;
  height: 100%;
}
.order-modal .ivu-modal-body {
  padding: 0;
}
.order-modal .ivu-modal-close {
  top: -12px;
  right: -12px;
}
.order-modal .order-modal-close {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('../images/close-circle.png');
}
.order-modal .ivu-form-item {
  margin-bottom: 0;
}

.order-modal .input-tips {
  display: block;
  padding-top: 5px;
  text-align: right;
}

body[dir='rtl'] .order-modal .ivu-modal-close {
  left: -12px;
}

.detail-modal .ivu-modal-body{
  padding: 68px 100px 50px;
  text-align: right;
  color: #333;
  margin: 40px 0;
}

.detail-wrap-top{
  padding-bottom: 60px;
  border-bottom: 2px solid #333;
  text-align: center;
}

.ivu-modal-mask{
  background-color: rgba(0,0,0,.6);
}

.detail-modal .ivu-modal-footer{
  padding: 0;
}

.detail-modal .ivu-modal{
  height: 100%;
}

.detail-wrap-mid .detail-wrap-mid-title{
  margin-top: 60px;
  margin-bottom: 50px;
  font-size: 32px;
  text-align: center;
}

.detail-wrap-mid-1{
  font-size: 18px;
  line-height: 34px;
  font-weight: bold;
  margin-bottom: 50px;
}

.detail-wrap-mid-2{
  font-size: 16px;
  font-weight: bold;
}

.detail-list-title{
  margin-top: 50px;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 14px;
  unicode-bidi: plaintext;
}

.detail-list li{
  unicode-bidi: plaintext;
  line-height: 26px;
  margin-bottom: 14px;
}

.detail-list-black li{
  color: #000;
}
