html[lang='zh'] .banner,
html[lang='en'] .banner {
  background-image: url('../images/account_bg-en.jpg');
}

html[lang='ar'] .banner {
  background-image: url('../images/account_bg-ar.jpg');
}

.ivu-row::before {
  clear: both;
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  min-height: 600px;
}

.container-row {
  margin-top: 6px;
  padding: 50px 0;
  background-color: #fff;
  border-bottom: 1px solid #fafafa;
}

.ivu-btn-text {
  color: #57a3f3;
  border-bottom: 1px solid #57a3f3;
  border-radius: 0;
}

.account {
  margin-top: -70px;
}

.account-row {
  padding: 0 40px;
}

.ivu-tooltip-inner {
  max-width: 200%;
  width: auto;
}

.account-row-title {
  padding-right: 10px;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  font-weight: bold;
}

.account-card.border-left {
  border-left: 1px solid #f5f5f5;
}

body[dir="rtl"] .account-card.border-left {
  border-left: none;
  border-right: 1px solid #f5f5f5;
}

.account-card dt {
  height: 40px;
  line-height: 40px;
}

.account-card dd {
  padding: 0 40px;
  line-height: 40px;
}

.account .ivu-table-wrapper {
  margin-top: 20px;
  border: none;
}

.account .ivu-tabs-bar {
  margin-bottom: 0;
}

.account .ivu-tabs-nav {
  margin-left: 40px;
}

.account .ivu-tabs-nav .ivu-tabs-tab {
  height: 60px;
  line-height: 40px;
  font-weight: bold;
}

.account .ivu-page {
  margin-top: 20px;
  text-align: center;
}
