.container{
  width:1200px;
  margin: 20px auto;
}
.bg-white{
  background: #fff;
  padding:40px;
}
.h1-text{
  line-height: 26px;
  font-size:22px;
  margin: 10px 0;
}
.wrap-gray{
  width:100%;
  background: #F8F8F8;
  padding:40px;
  border-radius: 5px;
  margin-top: 30px;
}
