.container {
  width: 1200px;
  margin: 20px auto;
}

.bg-white {
  background: #fff;
  padding: 40px;
}

.h1-text {
  line-height: 26px;
  font-size: 22px;
  margin: 10px 0;
}

.wrap-gray {
  width: 100%;
  background: #F8F8F8;
  padding: 40px;
  border-radius: 5px;
  margin-top: 30px;
}

.row-wrap {
  font-size: 0;
  margin-bottom: 30px;
}

.row-wrap:last-child {
  margin-bottom: 0;
}

.row-wrap .row-left, .row-wrap .row-right {
  display: inline-block;
}

.row-wrap .row-left {
  font-size: 14px;
  color: #333;
  margin-right: 20px;
  width: 130px;
  line-height: 40px;
  vertical-align: top;
}

.row-wrap .row-right {
  font-size: 14px;
}

.ivu-select-large.ivu-select-single .ivu-select-selection {
  height: 40px;
}

.ivu-select-large.ivu-select-single .ivu-select-selection .ivu-select-placeholder, .ivu-select-large.ivu-select-single .ivu-select-selection .ivu-select-selected-value {
  height: 38px;
  line-height: 38px;
}

.address {
  color: #666;
  transition: color .3s;
}
.address:hover{
  color: #5C95EA;
}

.address-select {
  height: 40px;
}

.address-none {
  color: #5C95EA;
  text-align: center;
  width: 400px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #D1E1FA;
  background: #EDF4FF;
}
.address-none .font_family{
  font-size:12px;
  margin-right: 4px;
}
.address .font_family{
  font-size:12px;
  color: #5C95EA;
  margin-right: 4px;
}
.ivu-input-large {
  height: 40px;
}

.amount-p {
  font-size: 14px;
  color: #666;
  line-height: 30px;
}

.amount-error-p {
  color: red;
  height:30px;
  line-height:30px;
}
.red .ivu-input{
  border-color:red;
}
.amount-p-title {
  color: #999;
}

.withdrawal-button {
  width: 170px;
  cursor: pointer;
  text-align: center;
  background: #5C95EA;
  border-radius: 4px;
  color: #fff;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
}

.ivu-select-large .ivu-select-item {
  position: relative;
}

.address-select-wrap.ivu-select-large .ivu-select-item:last-child {
  padding: 0
}

.ivu-select-item-selected.ivu-select-item-focus {
  background: #4297F1;
}

.ivu-select-item-selected.ivu-select-item-focus .my-select-address {
  color: #fff;
}

.address {
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #fff;
}

.my-select-address {
  color: #ccc;
}

.ivu-modal-header {
  padding: 20px 30px;
}

.ivu-modal-close {
  right: 24px;
  top: 14px;
}

.ivu-modal-body {
  padding: 30px 50px 0;
}

.modal-title {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 12px;
}

.modal-input .ivu-input {
  background: #fafafa;
}

.WithdrawalAddressn-error {
  height: 30px;
  line-height: 30px;
  color: red;
  font-size: 14px;
}

.ivu-modal-footer {
  border-top: none;
  padding: 0 50px 50px;
}

.vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ivu-modal {
  top: 0;
}

.my-select-address-del {
  position: absolute;
  right: 15px;
  top: 8px;
  font-size: 12px;
  transition: all .3s;
  transform:scale(.7);
  color:#999;
}
.my-select-address-del.delColor{
  color:#ddd;
}
.my-select-address-del:hover {
  color: #5C95EA;
}
.withdrawal-container .ivu-modal-body{
  padding:0;
}
.withdrawal-wrap{
background: #f4f4f4;
  padding:30px 30px 14px;
  overflow: hidden;
  font-size:14px;
}
.withdrawal-container .ivu-modal-header{
  border-bottom: none;
}
.withdrawal-container .ivu-modal-footer{
  padding:0 30px 30px;
}
.gray-left{
  width:140px;
  color:#666;
  float: left;
}
.gray-right{
  float: left;
  color:#333;
}
.withdrawal-wrap p{
  margin-bottom: 16px;
}
.withdrawal-container .ivu-tabs{
  overflow: hidden;
}
.ivu-tabs-nav .ivu-tabs-tab{
  padding: 8px 0;
}
.ivu-tabs-bar{
  border-bottom: none;
}
.tabs-wrap{
  padding:10px 30px;
}
.withdrawal-container .loginNext-input{
  text-align: left;
  margin: 0;
}

.withdrawal-container .loginNext-input .ivu-input{
  width:100%;
  height: 40px;
  background: #fafafa;

}
.withdrawal-container .loginNext-input .ivu-input-group-append{
  z-index: 2;
  top: 1px;
  width: auto;
  right: 1px;
  border-radius: 0;
  border: 0;
  height: 38px;
  background: #fafafa;
  line-height: 30px;
  cursor: pointer;
}
.withdrawal-container .my-loginNext-error{
  margin: 0;
}
.tabs-wrap-h1{
  font-weight: bold;
  color:#434343;
  font-size:14px;
  margin-bottom: 12px;
}
.withdrawalTrue-title{
  padding:50px;
}
.withdrawalTrue-icon{
  float: left;
  width:50px;
  height:50px;
  background-image: url("../images/withdrawalTrue-icon.png");
}
.withdrawalTrue-title p{
  margin-left: 75px;
  color:#333;
  line-height:27px;
  font-size:18px;
  font-weight: bold;
}
.withdrawalTrue-text-wrap{
  padding:0 50px 40px;
  overflow: hidden;
}
.withdrawalTrue-text-wrap p {
  margin-bottom: 18px;
  word-break: break-all;
}
.withdrawalTrue-text-left{
  float: left;
  width:160px;
}
.withdrawalTrue-text-right{
  float: left;
  width: 240px;
}
