*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body[dir='rtl'] #intro .intro-box .intro-box-inner,#intro .intro-box .intro-box-inner button,#intro .intro-box img{
  direction: ltr;
}

.bg-light-blue {
  background: #2881F0;
}

.bg-dark-blue {
  background: #0C2546;
}

.intro-box-inner {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.intro-box {
  height: 620px;
  width: 100%;
}

.intro-box-last{
  height: 440px;
  width: 100%;
  background-image: url("../images/intro-footer.png");
  background-position: 0 100%;
  background-repeat: no-repeat;
}

.intro-box-one {
  background-image: url('../images/intro-banner-en.jpg');
  background-position: center;
  background-size: cover;
}

body[dir='rtl'] .intro-box-one {
  background-image: url('../images/intro-banner-ar.jpg');
}

.intro-box-five-item:nth-last-child(1),.intro-box-six-item:nth-last-child(1){
  margin-right: 0;
}

body[dir='rtl'] .intro-box-five-item:nth-last-child(1),body[dir='rtl'] .intro-box-six-item:nth-last-child(1){
  margin-right: 104px;
}

body[dir='rtl'] .intro-box-five-item:nth-child(1),body[dir='rtl'] .intro-box-six-item:nth-child(1){
  margin-right: 0;
}

.intro-two-left{
  margin-left: -100px;
  padding-top: 69px;
}

.intro-box-two{
  position: relative;
}

.intro-two-right{
  right: 70px;
  position: absolute;
  top: 200px;
}

.intro-two-right-text{
  text-align: right;
  width: 488px;
  line-height: 40px;
  color: #fff;
  font-size: 24px;
}

.intro-two-right .intro-two-right-img{
  float: right;
  margin-top: 60px;
  width: 388px;
  height: 128px;
  background-image: url('../images/intro-two-right-en.png');
}

body[dir='rtl'] .intro-two-right .intro-two-right-img{
  background-image: url('../images/intro-two-right-ar.png');
}

.intro-three-left{
  width: 563px;
  height: 405px;
  background-image: url('../images/intro-three-left-en.png');
  display: inline-block;
  margin-top: 110px;
  margin-left: 72px;
}

body[dir='rtl'] .intro-three-left{
  background-image: url('../images/intro-three-left-ar.png');
}

.intro-three-right{
  float: right;
  padding-right: 70px;
  padding-top: 200px;
}

.intro-four-left{
  float: left;

}

.intro-three-right-text-1{
  text-align: right;
  width: 300px;
  font-size: 24px;
  color: #fff;
  margin-bottom: 20px;
}

.intro-three-right-text-2{
  text-align: right;
  font-size: 16px;
  color: #fff;
}

.intro-four-left-text-1{
  font-size: 24px;
  color: #fff;
  margin-bottom: 38px;
  margin-top: 208px;
}

.intro-four-left-text-2{
  font-size: 16px;
  color: #fff;
  margin-bottom: 86px;
}

.intro-btn{
  width: 206px;
  height: 52px;
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
}

.intro-four-btn-1{
  background: #2881F0;
  margin-right: 20px;
}

body[dir='rtl'] .intro-four-btn-1{
  margin-right: 0;
  margin-left: 20px;
}

.intro-four-btn-2{
  background: transparent;
  border: 1px solid #4B678C;
}

.intro-four-right{
  float: right;
  background-image: url('../images/intro-four-en.png');
  width: 680px;
  height: 620px;
}

body[dir='rtl'] .intro-four-right{
  background-image: url('../images/intro-four-ar.png');
}

.intro-five-title{
  font-size: 24px;
  color: #fff;
  padding-top: 110px;
  text-align: center;
  margin-bottom: 110px;
}

.intro-box-five-wrap {
  display: flex;
  justify-content: center;
}

.intro-box-five-item {
  width: 356px;
  margin-right: 104px;
  text-align: center;
}

.intro-box-six-item{
  text-align: center;
  width: 356px;
  margin-right: 104px;
  height: 364px;
  position: relative;
}
.intro-box-six-item .six-bg{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.intro-box-five-item img{
  margin-bottom: 40px;
}

.intro-box-six-wrap .intro-box-six-item img{
  margin-bottom: 0;
}

.intro-box-five-item .intro-five-text-1{
  font-size: 18px;
  color: #fff;
  margin-bottom: 10px;
}

.intro-box-five-item .intro-five-text-2{
  color: #BCDAFF;
  font-size: 14px;
}

.intro-six-bg{
  background-image: url("../images/intro-six-bg.png");
  background-repeat: no-repeat;
  background-position:0 100%;
}

.intro-six-text-1{
  font-size: 16px;
  color: #529FFF;
  margin-bottom: 10px;
}

.intro-six-text-2{
  font-size: 12px;
  color: #529FFF;
  margin-bottom: 20px;
}

.intro-six-text-2 .loc{
  margin: 0 6px;
  vertical-align: -2px;
}

.intro-six-text-3{
  font-size: 14px;
  color: #fff;
  line-height: 20px;
}

.intro-last-btn{
  display: block;
  margin: 0 auto;
  border-radius: 7px;
  background: #2881F0;
  border: 3px solid #6AACFF;
  color: #fff;
  width: 280px;
  height: 70px;
  line-height: 70px;
  font-size: 16px;
  text-align: left;
  padding-left: 40px;
  position: relative;
  box-shadow: 0 2px 16px 0 #2881F0
}

.intro-last-btn .arrow{
  position: absolute;
  width: 13px;
  height: 22px;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
  background: url("../images/arrow-right.png");
}

body[dir='rtl'] .intro-last-btn{
  text-align: right;
  padding-left: 0;
  padding-right: 40px;
}

body[dir='rtl'] .intro-last-btn .arrow{
  background: url("../images/arrow-left.png");
  right: auto;
  left: 28px;
}
