.pay {
  margin-bottom: 30px;
  background: #fff;
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
}

.pay .pay-header {
  padding: 30px;
  color: #333;
  font-size: 26px;
}

.pay .pay-steps {
  margin-top: 30px;
  padding: 10px 30px 10px 60px;
  height: 80px;
  border-bottom: 1px solid #f4f4f4;
}

body[dir='rtl'] .pay .pay-steps {
  padding-left: 30px;
  padding-right: 60px;
}

.pay .pay-steps .ivu-steps-item {
  width: 31% !important;
}

.pay .pay-steps .ivu-steps-item:last-child {
  width: 7% !important;
}

.ivu-steps .ivu-steps-tail {
  top: 15px;
  padding: 0;
  height: 9px;
  background-color: #f3f3f3;
}

.ivu-steps .ivu-steps-tail > i {
  top: 3px;
  height: 3px;
}

.ivu-steps .ivu-steps-head {
  top: 3px;
  width: 34px;
  height: 34px;
  background-color: #f3f3f3;
  border-radius: 34px;
}

.ivu-steps .ivu-steps-head-inner {
  margin: 4px;
}

.ivu-steps .ivu-steps-main {
  position: absolute;
  top: -20px;
  margin-left: -20px;
  text-align: center;
  white-space: nowrap;
  transform: translateX(-50%);
}

.ivu-steps .ivu-steps-title {
  margin-bottom: 36px;
  padding: 0;
}

body[dir='rtl'] .ivu-steps .ivu-steps-main {
  margin-left: 0;
  margin-right: -20px;
  transform: translateX(50%);
}

.ivu-steps-horizontal .ivu-steps-content {
  padding: 0;
}

.pay .pay-info {
  padding: 20px 30px;
}

.pay .pay-info .pay-info-wrapper {
  border: 1px solid #f4f4f4;
}

.pay .info-header-right{
  border-left: 1px solid #f4f4f4;
}

body[dir='rtl'] .pay .pay-info .info-header-right{
  border-left: 0;
  border-right: 1px solid #f4f4f4;
}

.pay .pay-info .info-body-right{
  border-left: 1px solid #f4f4f4;
}

body[dir='rtl'] .pay .pay-info .info-body-right{
  border-left: 0;
  border-right: 1px solid #f4f4f4;
}

.pay .pay-info .info-header {
  padding-left: 20px;
  background: #f8f8f8;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  color: rgba(51, 51, 51, 1);
}

.info-header .info-header-tip{
  font-size: 14px;
  margin: 12px;
  color: #999;
}

body[dir='rtl'] .pay .pay-info .info-header{
  padding-left: 0;
  padding-right: 20px;
}

.pay .pay-info .info-body {
  padding: 24px;
  line-height: 30px;
}

.pay .pay-info .info-body .text-strong{
  color: #333333;
}

.pay .pay-info .ivu-row .contact {
  background: #0cbf48;
  padding: 0 15px;
  color: white;
  display: inline-block;
  border-radius: 12px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  margin-top: -4px;
  min-width: 140px;
}

.pay .pay-image{
  vertical-align: -2px;
  margin-right: 12px;
}

body[dir='rtl'] .pay .pay-image{
  margin-right: 0;
  margin-left: 12px;
}

body[dir='rtl'] .pay .pay-info .ivu-row .contact .whatup{
  margin-right: 0;
  margin-left: 6px;
}
.pay .pay-info .ivu-row .contact .whatup{
  width: 16px;
  height: 16px;
  margin-right: 6px;
  vertical-align: -2px;
}

.pay-notice {
  margin-bottom: 14px;
  font-size: 18px;
  line-height: 40px;
}

.pay .pay-notice .text-success, .pay .pay-notice .text-error{
  margin: 0 8px;
  font-weight: bold;
}

.pay-action {
  margin-bottom: 40px;
}

.pay-action-btn {
  width: 140px;
  height: 44px;
  background: #5C95EA;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 16px;
  color: #fff;
}

.pay-tips {
  color: #999;
  margin-bottom: 20px;
  line-height: 30px;
}

.leftTime{
  font-size: 16px;
  font-weight: 600;
  margin-left: 10px;
}

.pay .pay-info .ivu-row .contact:hover {
  background: rgb(8, 147, 54);
}

.pay .pay-status {
  padding: 10px 30px;
}

.pay .pay-status h3 + h3{
  margin-top: 20px;
}

.pay .pay-action-tips {
  position: relative;
  display: inline-block;
  width: 466px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  background: #DAE9FF;
  color: #526682;
  border-radius: 5px;
  margin: 0 14px;
}

body[dir='rtl'] .pay .pay-action-tips .triangle{
  left: auto;
  right: -4px;
}
.pay .pay-action-tips .triangle{
  position: absolute;
  width: 8px;
  height: 8px;
  background: #DAE9FF;
  left: -4px;
  top: 15px;
  transform: rotate(45deg);
}

.pay .pay-status-title{
  padding-top: 20px;
}

.pay .pay-status .cancel-order {
  font-size: 14px;
  color: #3461a7;
  line-height: 16px;
  padding: 0;
  text-align: left;
}

body[dir='rtl'] .pay .pay-status .cancel-order{
  text-align: right;
}

body[dir='rtl'] .text-mobile{
  text-align: right;
  unicode-bidi: plaintext;
}

.contact-button{
  margin-right: 20px;
}

body[dir='rtl'] .contact-button{
  margin-right: 0;
  margin-left: 20px;
}

.pay .copy{
  color:#3461A7;
  cursor:pointer;
  text-decoration: underline;
}

.info-sure-pay-header{
  border-bottom: 1px solid #ddd;
}
