<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>404</title>
  <link rel="stylesheet" href="../styles/error.css">
</head>

<body>
  <div class="text-wrapper">
    <div class="title" data-content="500">
      500
    </div>

    <div class="subtitle" data-content="Oops, the server seems to have crashed">
      Oops, the server seems to have crashed.
    </div>

    <div class="buttons">
      <a class="button" href="./otc_adverts.html">Go to homepage</a>
    </div>
  </div>
</body>

</html>