<!DOCTYPE HTML>
<html lang="zh">

<head>
  <title>UPEX</title>
  @@include('header.html')
  <link rel="stylesheet" href="../styles/my_account.css?rev=@@hash">
</head>

<body>
  <div id="account" v-cloak>
    <o-header ref="header"></o-header>
    <div class="banner"></div>
    <div class="container account">
      <!-- 账户与安全信息 -->
      <Row class="container-row" v-show="user.ctime">
        <i-col span="12">
          <dl class="account-card">
            <dt>
              <Row class="account-row">
                <i-col span="12">
                  <span class="account-row-title">{{ $t('accountInfo') }}</span>
                  <Tag color="#ff4d4d" v-if="user.accountStatus > 0">{{ $t('accountFrozen') }}</Tag>
                </i-col>
                <i-col span="12" class="text-right">
                  <i-button type="link" size="small" @click="loginOut">{{ $t('loginOut') }}</i-button>
                </i-col>
              </Row>
            </dt>
            <dd>
              <Row>
                <i-col span="6" class="text-secondary">
                  <Icon type="social-whatsapp" color="#cfcfcf" size="16"></Icon>
                  WhatsApp
                </i-col>
                <i-col span="14" class="text-strong">{{ user.watchapp ? user.watchapp : $t('unBound') }}</i-col>
                <i-col span="4" class="text-right">
                  <i-button type="link" size="small" @click="modifyWhatsApp">{{ user.watchapp ? $t('change') : $t('bind') }}</i-button>
                </i-col>
              </Row>
            </dd>
            <dd>
              <Row>
                <i-col span="6" class="text-secondary">
                  <Icon type="locked" color="#cfcfcf" size="16"></Icon>
                  {{ $t('password') }}
                </i-col>
                <i-col span="14" class="text-strong">********</i-col>
                <i-col span="4" class="text-right">
                  <i-button type="link" size="small" @click="modalPassword = true">{{ $t('change') }}</i-button>
                </i-col>
              </Row>
            </dd>
          </dl>
        </i-col>
        <i-col span="12">
          <dl class="account-card border-left">
            <dt>
              <Row class="account-row">
                <i-col span="24">
                  <span class="account-row-title">{{ $t('securitySet') }}</span>
                  <Badge :count="$t('unsafe')" v-if="!user.googleStatus || !user.isOpenEmailCheck || !user.isOpenMobileCheck"></Badge>
                </i-col>
              </Row>
            </dt>
            <dd>
              <Row>
                <i-col span="6" class="text-secondary">
                  <Icon type="social-google" color="#cfcfcf" size="16"></Icon>
                  {{ $t('googleVerification') }}
                </i-col>
                <i-col span="12" class="text-strong">{{ user.googleStatus ? $t('bound') : $t('unBound')}}</i-col>
                <i-col span="6" class="text-right" v-if="user.googleStatus">
                  <i-button type="link" size="small" @click="modifyGoogleStatus">{{ $t('unbind') }}</i-button>
                </i-col>
                <i-col span="6" class="text-right" v-else>
                  <i-button type="error" size="small" @click="bindGoogle">{{ $t('bind') }}</i-button>
                </i-col>
              </Row>
            </dd>
            <dd>
              <Row>
                <i-col span="6" class="text-secondary">
                  <Icon type="email" color="#cfcfcf" size="16"></Icon>
                  Email
                </i-col>
                <i-col span="12" class="text-strong">{{ user.isOpenEmailCheck ? user.email : $t('unBound') }}</i-col>
                <i-col span="6" class="text-right" v-if="user.isOpenEmailCheck">
                  <i-button type="link" size="small" @click="modifyEmail">{{ $t('change') }}</i-button>
                </i-col>
                <i-col span="6" class="text-right" v-else>
                  <i-button type="error" size="small" @click="modifyEmail">{{ $t('bind') }}</i-button>
                </i-col>
              </Row>
            </dd>
            <dd>
              <Row>
                <i-col span="6" class="text-secondary">
                  <Icon type="iphone" color="#cfcfcf" size="20"></Icon>
                  {{ $t('phoneVerification') }}
                </i-col>
                <i-col span="12" class="text-strong">{{ user.isOpenMobileCheck ? user.mobileNumber : $t('unBound') }}</i-col>
                <i-col span="6" class="text-right" v-if="user.isOpenMobileCheck">
                  <i-button type="link" size="small" @click="modifyPhone">{{ $t('change') }}</i-button>
                </i-col>
                <i-col span="6" class="text-right" v-else>
                  <i-button type="link" size="small" @click="modifyPhone">{{ $t('bind') }}</i-button>
                </i-col>
              </Row>
            </dd>
          </dl>
        </i-col>
      </Row>
      <!-- 银行卡列表 -->
      <Row class="container-row">
        <i-col span="24">
          <Row class="account-row">
            <i-col span="12">
              <span class="account-row-title">{{ $t('bankCard') }}</span>
              {{ $t('bankCardTips') }}
            </i-col>
            <i-col span="12" class="text-right">
              <i-button type="link" size="small" icon="plus" @click="modifyBankInfo('')">{{ $t('addBankCard') }}</i-button>
            </i-col>
          </Row>
          <i-table size="small" :columns="bankColumn" :data="bankData"></i-table>
        </i-col>
      </Row>
      <!-- 登录/操作历史 -->
      <div class="container-row" style="margin-top: 2px;">
        <Tabs v-model="tabLogActive">
          <tab-pane :label="$t('loginHistory')" name="loginHistory">
            <i-table size="small" :columns="loginColumn" :data="loginData"></i-table>
            <Page :total="loginDataTotalCount" size="small" @on-change="loginPageChange"></Page>
          </tab-pane>
          <tab-pane :label="$t('securityHistory')" name="securityHistory">
            <i-table size="small" :columns="securityColumn" :data="securityData"></i-table>
            <Page :total="securityDataTotalCount" size="small" @on-change="securityPageChange"></Page>
          </tab-pane>
        </Tabs>
      </div>
    </div>
    <!-- 修改WhatsApp -->
    <Modal :title="$t('changeWhatsApp')" v-model="modalWhatsApp" @on-cancel="handleReset('formWhatsApp')">
      <i-form ref="formWhatsApp" :model="formWhatsApp" :rules="ruleWhatsApp" label-position="top">
        <form-item :label="'WhatsApp: ' + user.watchapp" prop="number">
          <i-input
            number
            v-model="formWhatsApp.number"
            maxlength="30"
            :placeholder="$t('whatsAppHolder')"
          >
            <i-select class="country-select" v-model="selectCountry" slot="prepend" filterable>
              <i-option
                v-for="(country, index) in countryArr"
                :key="index"
                :value="country.dialingCode"
                :label="country.dialingCode"
                style="width:100%;"
              >
                <span class="float-left">{{country.dialingCode}}</span>
                <span class="float-right" style="color:#aaaaaa;">{{country.enName}}</span>
              </i-option>
            </i-select>
          </i-input>
        </form-item>
      </i-form>
      <div slot="footer">
        <i-button type="link" @click="handleReset('formWhatsApp')" style="margin-left: 8px">{{ $t('cancel') }}</i-button>
        <i-button type="primary" @click="handleSubmit('formWhatsApp')">{{ $t('confirm') }}</i-button>
      </div>
    </Modal>
    <!-- 修改密码 -->
    <Modal :title="$t('changePassword')" v-model="modalPassword" @on-cancel="handleReset('formPassword')">
      <i-form ref="formPassword" :model="formPassword" :rules="rulePassword" label-position="top">
        <form-item :label="$t('originPassword')" prop="password">
          <i-input type="password" v-model="formPassword.password" :placeholder="$t('passwordHolder')"></i-input>
        </form-item>
        <form-item :label="$t('newPassword')" prop="passwordNew">
          <i-input type="password" v-model="formPassword.passwordNew" :placeholder="$t('passwordNewHolder')"></i-input>
        </form-item>
        <form-item :label="$t('repeatPassword')" prop="passwordReNew">
          <i-input type="password" v-model="formPassword.passwordReNew" :placeholder="$t('passwordRepeatHolder')"></i-input>
        </form-item>
        <form-item :label="$t('phoneVerification')" prop="phone" v-if="user.isOpenMobileCheck">
          <i-input v-model="formPassword.phone" maxlength="6" :placeholder="$t('phoneVerificationHolder')">
            <i-button slot="append" @click="sendMessageSecurity('Password', 5)" :disabled="sendDisabledPassword">{{ sendPlaceholderPassword }}</i-button>
          </i-input>
        </form-item>
        <form-item label="Email" prop="email" v-else-if="user.email">
          <i-input v-model="formPassword.email" maxlength="6" :placeholder="$t('emailVerificationHolder')">
            <i-button slot="append" @click="sendMessageSecurity('Email', 15)" :disabled="sendDisabledEmail">{{ sendPlaceholderEmail }}</i-button>
          </i-input>
        </form-item>
        <form-item :label="$t('googleVerification')" prop="google" v-if="user.googleStatus">
          <i-input v-model="formPassword.google" maxlength="30" :placeholder="$t('googleVerificationHolder')"></i-input>
        </form-item>
      </i-form>
      <div slot="footer">
        <i-button type="link" @click="handleReset('formPassword')" style="margin-left: 8px">{{ $t('cancel') }}</i-button>
        <i-button type="primary" @click="handleSubmit('formPassword')">{{ $t('confirm') }}</i-button>
      </div>
    </Modal>
    <!-- 修改谷歌 -->
    <Modal :title="$t('closeGoogleVerification')" v-model="modalGoogle" @on-cancel="handleReset('formGoogle')">
      <i-form ref="formGoogle" :model="formGoogle" :rules="rulePassword" label-position="top">
        <form-item :label="$t('phoneVerification')" prop="phone">
          <i-input v-model="formGoogle.phone" maxlength="6" :placeholder="$t('phoneVerificationHolder')">
            <i-button slot="append" @click="sendMessageSecurity('Google', 30)" :disabled="sendDisabledGoogle">{{ sendPlaceholderGoogle }}</i-button>
          </i-input>
        </form-item>
        <form-item :label="$t('googleVerification')" prop="google">
          <i-input v-model="formGoogle.google" maxlength="6" :placeholder="$t('googleVerificationHolder')"></i-input>
        </form-item>
        <form-item :label="$t('password')" prop="password">
          <i-input type="password" v-model="formGoogle.password" :placeholder="$t('passwordHolder')"></i-input>
        </form-item>
      </i-form>
      <div slot="footer">
        <i-button type="link" @click="handleReset('formGoogle')" style="margin-left: 8px">{{ $t('cancel') }}</i-button>
        <i-button type="primary" @click="handleSubmit('formGoogle')">{{ $t('confirm') }}</i-button>
      </div>
    </Modal>
    <!-- 修改邮箱 -->
    <Modal :title="$t('changeEmail')" v-model="modalEmail" @on-cancel="handleReset('formEmail')">
      <i-form ref="formEmail" :model="formEmail" :rules="ruleEmail" label-position="top">
        <form-item :label="$t('originEmail') + ' : ' + user.email" prop="oldEmail" v-show="user.email">
          <i-input v-model="formEmail.oldEmail" maxlength="6" :placeholder="$t('emailVerificationHolder')">
            <i-button slot="append" @click="sendMessageSecurity('OldEmail', 15)" :disabled="sendDisabledOldEmail">{{ sendPlaceholderOldEmail }}</i-button>
          </i-input>
        </form-item>
        <form-item :label="$t('email')" prop="email">
          <i-input v-model="formEmail.email" maxlength="30" :placeholder="$t('emailHolder')"></i-input>
        </form-item>
        <form-item :label="$t('emailVerification')" prop="verify">
          <i-input v-model="formEmail.verify" maxlength="30" :placeholder="$t('emailVerificationHolder')">
            <i-button slot="append" @click="sendMessageSecurity('Email', 15)" :disabled="sendDisabledEmail">{{ sendPlaceholderEmail }}</i-button>
          </i-input>
        </form-item>
        <form-item :label="$t('phoneVerification')" prop="phone" v-if="user.isOpenMobileCheck">
          <i-input v-model="formEmail.phone" maxlength="6" :placeholder="$t('phoneVerificationHolder')">
            <i-button slot="append" @click="sendMessageSecurity('OldPhone', 4)" :disabled="sendDisabledOldPhone">{{ sendPlaceholderOldPhone }}</i-button>
          </i-input>
        </form-item>
        <form-item :label="$t('googleVerification')" prop="google" v-if="user.googleStatus">
          <i-input v-model="formEmail.google" maxlength="30" :placeholder="$t('googleVerificationHolder')"></i-input>
        </form-item>
      </i-form>
      <div slot="footer">
        <i-button type="link" @click="handleReset('formEmail')" style="margin-left: 8px">{{ $t('cancel') }}</i-button>
        <i-button type="primary" @click="handleSubmit('formEmail')">{{ $t('confirm') }}</i-button>
      </div>
    </Modal>
    <!-- 修改手机 -->
    <Modal :title="$t('changePhone')" v-model="modalPhone" @on-cancel="handleReset('formPhone')">
      <i-form ref="formPhone" :model="formPhone" :rules="rulePhone" label-position="top">
        <form-item :label="$t('phoneVerification') + '(' + $t('originPhone') + ' : ' + user.mobileNumber + ')'" prop="oldVerify" v-show="user.isOpenMobileCheck">
          <i-input v-model="formPhone.oldVerify" maxlength="6" :placeholder="$t('phoneVerificationHolder')">
            <i-button slot="append" @click="sendMessageSecurity('OldPhone', 3)" :disabled="sendDisabledOldPhone">{{ sendPlaceholderOldPhone }}</i-button>
          </i-input>
        </form-item>
        <form-item :label="$t('newPhone')" prop="phone">
          <i-input v-model="formPhone.phone" maxlength="30" :placeholder="$t('phoneHolder')">
            <i-select class="country-select" v-model="selectCountry" slot="prepend" filterable>
              <i-option
                v-for="(country, index) in countryArr"
                :key="index"
                :value="country.dialingCode"
                :label="country.dialingCode"
                style="width:100%;"
              >
                <span class="float-left">{{country.dialingCode}}</span>
                <span class="float-right" style="color:#aaaaaa;">{{country.enName}}</span>
              </i-option>
            </i-select>
          </i-input>
        </form-item>
        <form-item :label="$t('phoneVerification')" prop="verify">
          <i-input v-model="formPhone.verify" maxlength="6" :placeholder="$t('phoneVerificationHolder')">
            <i-button slot="append" @click="sendMessageSecurity('NewPhone', 2)" :disabled="sendDisabledNewPhone">{{ sendPlaceholderNewPhone }}</i-button>
          </i-input>
        </form-item>
        <form-item :label="$t('emailVerification')" prop="email" v-if="user.email">
          <i-input v-model="formPhone.email" maxlength="6" :placeholder="$t('emailVerificationHolder')">
            <i-button slot="append" @click="sendMessageSecurity('OldEmail', 15)" :disabled="sendDisabledOldEmail">{{ sendPlaceholderOldEmail }}</i-button>
          </i-input>
        </form-item>
        <form-item :label="$t('googleVerification')" prop="google" v-if="user.googleStatus">
          <i-input v-model="formPhone.google" maxlength="6" :placeholder="$t('googleVerificationHolder')"></i-input>
        </form-item>
      </i-form>
      <div slot="footer">
        <i-button type="link" @click="handleReset('formPhone')" style="margin-left: 8px">{{ $t('cancel') }}</i-button>
        <i-button type="primary" @click="handleSubmit('formPhone')">{{ $t('confirm') }}</i-button>
      </div>
    </Modal>
    <!-- 添加/修改银行卡 -->
    <div>
      <Modal :title="$t('changeBankcard')" v-model="modalBankInfo" @on-cancel="handleReset('formBankInfo')">
        <i-form ref="formBankInfo" :model="formBankInfo" :rules="ruleBankInfo" label-position="top">
          <form-item :label="$t('bankName')" prop="bankName">
            <i-input v-model="formBankInfo.bankName" maxlength="30" :placeholder="$t('bankNameHolder')"></i-input>
          </form-item>
          <form-item :label="$t('accountName')" prop="name">
            <i-input v-model="formBankInfo.name" maxlength="30" :placeholder="$t('accountNameHolder')"></i-input>
          </form-item>
          <form-item :label="$t('cardNo')" prop="cardNo">
            <i-input v-model="formBankInfo.cardNo" maxlength="30" :placeholder="$t('cardNoHolder')"></i-input>
          </form-item>
          <form-item :label="'iban' + $t('number')" prop="ibanNo">
            <i-input v-model="formBankInfo.ibanNo" maxlength="30" :placeholder="$t('ibanNoHolder')"></i-input>
          </form-item>
        </i-form>
        <div slot="footer">
          <i-button type="link" @click="handleReset('formBankInfo')" style="margin-left: 8px">{{ $t('cancel') }}</i-button>
          <i-button type="primary" @click="handleSubmit('formBankInfo')">{{ $t('confirm') }}</i-button>
        </div>
      </Modal>
      <Modal :title="modalBankConfirmTitle" class="modal-notice info" v-model="modalBankConfirm">
        <div class="modal-notice-header">
          <Row>
            <i-col span="8" class="text-secondary">{{ $t('bankName') }}</i-col>
            <i-col span="16" class="text-strong">{{ formBankInfo.bankName }}</i-col>
          </Row>
          <Row>
            <i-col span="8" class="text-secondary">{{ $t('accountName') }}</i-col>
            <i-col span="16" class="text-strong">{{ formBankInfo.name }}</i-col>
          </Row>
          <Row>
            <i-col span="8" class="text-secondary">{{ $t('cardNo') }}</i-col>
            <i-col span="16" class="text-strong">{{ formBankInfo.cardNo }}</i-col>
          </Row>
          <Row>
            <i-col span="8" class="text-secondary">iban{{ $t('number') }}</i-col>
            <i-col span="16" class="text-strong">{{ formBankInfo.ibanNo }}</i-col>
          </Row>
        </div>
        <div class="modal-notice-footer">
          <i-form ref="formBankConfirm" :model="formBankConfirm" :rules="ruleBankConfirm" label-position="top">
            <Tabs v-model="tabVerifyActive">
              <tab-pane :label="$t('googleVerification')" name="1" v-if="user.googleStatus">
                <form-item label="" prop="google">
                  <i-input v-model="formBankConfirm.google" maxlength="30" :placeholder="$t('googleVerificationHolder')"></i-input>
                </form-item>
              </tab-pane>
              <tab-pane :label="$t('phoneVerification')" name="2" v-if="user.isOpenMobileCheck">
                <form-item label="" prop="phone">
                  <i-input v-model="formBankConfirm.phone" maxlength="6" :placeholder="$t('phoneVerificationHolder')">
                    <i-button slot="append" @click="sendMessage('Bank', 3)" :disabled="sendDisabledBank">{{ sendPlaceholderBank }}</i-button>
                  </i-input>
                </form-item>
              </tab-pane>
            </Tabs>
          </i-form>
        </div>
        <div slot="footer">
          <i-button type="link" @click="handleReset('formBankConfirm')" style="margin-left: 8px">{{ modalBankConfirmCancel }}</i-button>
          <i-button type="primary" @click="handleSubmit('formBankConfirm')">{{ $t('confirm') }}</i-button>
        </div>
      </Modal>
    </div>
  </div>
  @@include('footer.html')
  <script src="../scripts/locale/my_account.js?rev=@@hash"></script>
  <script src="../scripts/my_account.js?rev=@@hash"></script>
</body>

</html>