<!DOCTYPE HTML>
<html lang="zh-cn">

<head>
  <title>UPEX</title>
  @@include('header.html')
  <link rel="stylesheet" href="../styles/all_goods.css?rev=@@hash">
</head>

<body>
  <div id="app" v-cloak>
    <!--header-->
    <o-header ref="header"></o-header>
    <div class="banner">
      {{ $t('welcome') }}
    </div>

    <div class="list wrapper">
      <Row>
        <i-col class="tags" :span="4" :class="showListTag=='BUY' ? 'act' :'disact' ">
          <span @click="showListTag='BUY'">{{ $t('buy') }} USDT</span>
        </i-col>
        <i-col class="tags" :span="4" :class="showListTag=='SELL' ? 'act' :'disact' ">
          <span @click="showListTag='SELL'">{{ $t('sell') }} USDT</span>
        </i-col>
        <i-col span="16">
          <div class="text-right">
            <span>{{ $t('notSatisfied') }} ?</span>
            <i-button type="ghost" shape="circle" style="color:#ff7100;font-weight: bold;background-color: #ffffff;" @click.native.prevent="showPostDialog();">
              <Icon type="plus-round"></Icon>
              {{ $t('releaseAdvert') }}
            </i-button>
          </div>
        </i-col>
      </Row>
      <div>
        <div v-show="showListTag=='BUY'">
          <table class="buylist">
            <thead>
              <tr>
                <th>{{ $t('seller') }}</th>
                <th>{{ $t('amount') }}</th>
                <th>
                  {{ $t('limit') }}
                  <br/>
                  <span class="limit-tips">({{ $t('min2maxPurchase') }})</span>
                </th>
                <th>{{ $t('unitPrice') }}</th>
                <th>{{ $t('payment') }}</th>
                <th>{{ $t('operation') }}</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in buylist" :key="item.id">
                <td>
                  <div class="seller">{{ $t('seller') }}</div>
                  {{item.userName}}
                </td>
                <td>{{(item.volume - item.sell).toFixed(4)}} USDT</td>
                <td>
                  {{item.minTrade}}--{{item.maxTrade}} SAR
                </td>
                <td class="price">{{item.price}} SAR</td>
                <td>{{item.paymentBanks[0].bankName}}</td>
                <td>
                  <button @click="showBuyUsdt(item)" class="buy-btn">{{ $t('buy') }} USDT</button>
                </td>
              </tr>
              <tr v-if="!buylist.length"><td colspan="6">{{ $t('noData') }}</td></tr>
            </tbody>
          </table>
          <div class="page">
            <div class="wrapper">
              <div>
                <Page show-total @on-change="toBuyPage" :page-size="pageSize" :total="buyTotal" :current="buyCurrentPage" size="small"></Page>
              </div>
            </div>
          </div>
        </div>
        <div v-show="showListTag=='SELL'">
          <table class="buylist">
            <thead>
              <tr>
                <th>{{ $t('buyer') }}</th>
                <th>{{ $t('amount') }}</th>
                <th>
                  {{ $t('limit') }}
                  <br/>
                  <span class="limit-tips">({{ $t('min2maxPurchase') }})</span>
                </th>
                <th>{{ $t('unitPrice') }}</th>
                <th>{{ $t('operation') }}</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in selllist" :key="item.id">
                <td>
                  <div class="seller">{{ $t('buyer') }}</div>
                  {{item.userName}}
                </td>
                <td>{{(item.volume - item.sell).toFixed(4)}} USDT</td>
                <td>
                  {{item.minTrade}}--{{item.maxTrade}} SAR
                </td>
                <td class="price">{{item.price}} SAR</td>
                <td>
                  <button @click="showSellUsdt(item)" class="buy-btn">{{ $t('sell') }} USDT</button>
                </td>
              </tr>
              <tr v-if="!selllist.length"><td colspan="5">{{ $t('noData') }}</td></tr>
            </tbody>
          </table>
          <div class="page">
            <div class="wrapper">
              <div>
                <Page show-total @on-change="toSellPage" :page-size="pageSize" :total="sellTotal" :current="sellCurrentPage" size="small"></Page>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="o-modal post-modal" :class="isPostDialogShow ? 'is-show' :'is-not-show' ">
      <div class="content">
        <div class="content-wrapper" style="padding:0;">
          <div class="title">
            <span>{{ $t('releaseAdvert') }}</span>
            <span class="close" @click="closePostDialog">
              <Icon type="close-round"></Icon>
            </span>
          </div>
          <div class="main-content">
            <Tabs v-model="postOrderTag">
              <Tab-Pane :label="$t('buy') + 'USDT'" :disabled="buyDisabled" name="BUY">
                <div style="width: 400px;">
                  <div class="input-group">
                    <div>
                      <span class="input-label">{{ $t('unitPrice') }}</span>
                      <span class="input-tips">{{ $t('currentPrice') }} {{marketPrice.exchange_sell_min || marketPrice.exchange_rate }} SAR</span>
                    </div>
                    <div class="o-input-number">
                      <div class="o-input-number-append">SAR</div>
                      <input-number
                        size="large"
                        v-model="postData.priceBUY"
                        :min="marketPrice.trade_min_price"
                        :max="500000"
                        :placeholder="$t('pricePlaceholder')"
                        ref="inputNumberPriceBUY"
                      >
                      </input-number>
                    </div>
                  </div>
                  <div class="input-group">
                    <div>
                      <span class="input-label">{{ $t('quantity') }}</span>
                      <span class="input-tips">{{ $t('balance') }} {{balance}} USDT</span>
                    </div>
                    <div class="o-input-number">
                        <div class="o-input-number-append">USDT</div>
                        <input-number
                          size="large"
                          v-model="postData.volumeBUY"
                          :min="marketPrice.trade_min_volume"
                          max="500000"
                          :placeholder="$t('amountPlaceholder')"
                          ref="inputNumberVolumeBUY"
                        >
                        </input-number>
                      </div>
                  </div>
                  <div>{{ $t('totalPrice') }}(SAR): {{ postTotalPrice || 0 }}</div>
                  <div class="input-group">
                    <div>
                      <span class="input-label">{{ $t('transactionLimit') }}(SAR)</span>
                    </div>
                    <div>
                      <Row>
                        <i-col span="11">
                          <div class="o-input-number">
                            <div class="o-input-number-append">Min</div>
                            <input-number
                              size="large"
                              v-model="postData.minTradeBUY"
                              :min="marketPrice.trade_min_price"
                              :max="postBuyMax"
                            >
                            </input-number>
                          </div>
                        </i-col>
                        <i-col class="o-to" span="2">-</i-col>
                        <i-col span="11">
                          <div class="o-input-number">
                            <div class="o-input-number-append">Max</div>
                            <input-number
                              size="large"
                              v-model="postData.maxTradeBUY"
                              :min="marketPrice.trade_min_price"
                              :max="postBuyMax"
                            >
                            </input-number>
                          </div>
                        </i-col>
                      </Row>
                    </div>
                  </div>
                  <div>
                    <button @click="postOrder" class="o-buy-sell-btn">{{ $t('buy') }} USDT</button>
                  </div>
                  <div v-if="error.postDataError" class="error">{{error.postDataError}}</div>
                </div>
              </Tab-Pane>
              <Tab-Pane :label="$t('sell') + 'USDT'" :disabled="sellDisabled" name="SELL">
                <div style="width: 400px;">
                  <div class="input-group">
                    <div>
                      <span class="input-label">{{ $t('unitPrice') }}</span>
                      <span class="input-tips">{{ $t('currentPrice') }} {{marketPrice.exchange_sell_min || marketPrice.exchange_rate }} SAR</span>
                    </div>
                    <div class="o-input-number">
                      <div class="o-input-number-append">SAR</div>
                      <input-number
                        size="large"
                        v-model="postData.priceSELL"
                        :min="marketPrice.trade_min_price"
                        max="500000"
                        :placeholder="$t('pricePlaceholder')"
                        ref="inputNumberPriceSELL"
                      >
                      </input-number>
                    </div>
                  </div>
                  <div class="input-group">
                    <div>
                      <span class="input-label">{{ $t('amount') }}</span>
                      <span class="input-tips">{{ $t('balance') }} {{balance}} USDT</span>
                    </div>
                    <div class="o-input-number">
                      <div class="o-input-number-append">USDT</div>
                      <input-number
                        size="large"
                        v-model="postData.volumeSELL"
                        :min="marketPrice.trade_min_volume"
                        :max="balance"
                        :placeholder="$t('amountPlaceholder')"
                        ref="inputNumberVolumeSELL"
                      >
                      </input-number>
                    </div>
                  </div>
                  <div>{{ $t('totalPrice') }}(SAR): {{ postTotalPrice || 0 }}</div>
                  <div class="input-group">
                    <div>
                      <span class="input-label">{{ $t('transactionLimit') }}(SAR)</span>
                    </div>
                    <div>
                      <Row>
                        <i-col span="11">
                          <div class="o-input-number">
                            <div class="o-input-number-append">Min</div>
                            <input-number
                              size="large"
                              v-model="postData.minTradeSELL"
                              :min="marketPrice.trade_min_price"
                              :max="postSellMax"
                            >
                            </input-number>
                          </div>
                        </i-col>
                        <i-col class="o-to" span="2">-</i-col>
                        <i-col span="11">
                          <div class="o-input-number">
                            <div class="o-input-number-append">Max</div>
                            <input-number
                              size="large"
                              v-model="postData.maxTradeSELL"
                              :min="marketPrice.trade_min_price"
                              :max="postSellMax"
                            >
                            </input-number>
                          </div>
                        </i-col>
                      </Row>
                    </div>
                  </div>
                  <div>
                    <button @click="postOrder" class="o-buy-sell-btn">{{ $t('sell') }} USDT</button>
                  </div>
                  <div v-if="error.postDataError" class="error">{{error.postDataError}}</div>
                </div>
              </Tab-Pane>
            </Tabs>
          </div>
        </div>
      </div>
    </div>

    <!--buy-sell-modal-->
    <div class="o-modal buy-sell-modal" :class="isBuyDialogShow? 'is-show':'is-not-show' ">
      <div class="content">
        <div class="content-wrapper" style="padding: 20px;width: 1200px;">
          <Icon type="close-circled" class="o-close" @click="closeBuyDialog"></Icon>
          <div v-if="showListTag=='BUY'">
            {{ $t('balance') }} {{balance}} USDT
          </div>
          <Row>
            <i-col span="4">
              <p class="item-name">{{ $t('amount') }}:</p>
              <p class="item-name" v-if="buyData.method">{{ $t('payment') }}:</p>
            </i-col>
            <i-col span="3">
              <p class="txt-bold">{{buyData.restAmount}}</p>
              <p class="txt-bold" v-if="buyData.method" v-html="buyData.method"></p>
            </i-col>
            <i-col span="6">
              <div class="order-input-wrapper">
                <div class="order-input" :class="buyAmountErrorText ? 'error' : ''">
                  <input type="number" v-model="buyData.buyAmount" @change="changeAmount($event)" @focus="buyAmountAppendText = 'All'" @blur="buyAmountAppendText = 'SAR'"
                  />
                  <div class="order-input-append">
                    <span @click="tradeAll('amount')">{{ buyAmountAppendText }}</span>
                  </div>
                </div>
                <p class="order-input-tips" :class="buyAmountErrorText ? 'error' : ''">
                  {{ $t('limit') }}: {{buyData.min}} -- {{buyAmountMax}}SAR
                </p>
                <p class="error txt-right" v-show="buyAmountErrorText">{{ buyAmountErrorText }}</p>
              </div>
            </i-col>
            <i-col span="1" class="txt-center">
              <Icon type="arrow-swap" size="18" color="#666" style="margin-top:16px"></Icon>
            </i-col>
            <i-col span="6">
              <div class="order-input-wrapper">
                <div class="order-input" :class="buyTotalErrorText ? 'error' : ''">
                  <input type="number" v-model="buyData.buyTotal" @change="changeTotal($event)" @focus="buyTotalAppendText = 'All'" @blur="buyTotalAppendText = 'USDT'"
                  />
                  <div class="order-input-append">
                    <span @click="tradeAll('total')">{{ buyTotalAppendText }}</span>
                  </div>
                </div>
                <p class="order-input-tips" :class="buyTotalErrorText ? 'error' : ''">
                  {{ $t('limit') }}:{{ buyTotalMin }} -- {{ buyTotalMax }}USDT
                </p>
                <p class="error txt-right" v-show="buyTotalErrorText">{{ buyTotalErrorText }}</p>
              </div>
            </i-col>
            <i-col span="4" class="btn-wrapper">
              <button v-show="showListTag==='BUY'" @click="buy" class="order-btn">{{ $t('buy') }}</button>
              <button v-show="showListTag==='SELL'" @click="sell" class="order-btn">{{ $t('sell') }}</button>
            </i-col>
          </Row>
          <div class="buyError error">{{error.buyError}}</div>
        </div>
      </div>
    </div>

    <!--挂单-->
    <Modal v-model="isPricePromptShow" width="420">
      <p slot="header" style="color: #333333; text-align: center">
        <span>{{ $t('deviationWarn') }}</span>
      </p>
      <div>
        <div v-if="postOrderTag=='SELL'" style="padding:20px;text-align: center; height: 136px; background: rgba(171, 15, 15, 1);; color: white; font-size: 16px;">
          <img src="../images/warning.png" alt="">
          <p>{{postErroMsg}}</p>
        </div>
        <div v-if="postOrderTag=='BUY'" style="padding:20px;text-align: center; height: 136px; background: rgba(171, 15, 15, 1);; color: white; font-size: 16px;">
          <img src="../images/warning.png" alt="">
          <p>{{postErroMsg}}</p>
        </div>
        <div style="padding: 0 50px;font-size: 16px;">
          <p style="margin: 10px 0;">
            <span>{{ $t('currentPrice') }}</span>
            <span>{{marketPrice.exchange_sell_min || marketPrice.exchange_rate}} SAR</span>
          </p>
          <p style="margin: 10px 0;">
            <span>{{ $t('currentReleasePrice') }}</span>
            <span style="color:red;">{{ postData['price' + postOrderTag] }} SAR</span>
          </p>
        </div>
      </div>
      <div slot="footer">
        <a href="#" @click="confirmRelease">{{ $t('confirmRelease') }}</a>
        <a href="#" @click="modifyPostOrder" class="i-modify" style="width:220px;display: inline-block;
				height:44px;background:rgba(255,237,0,1);
				border-radius:5px;">{{ $t('modifyNow') }}</a>
      </div>
    </Modal>

    <!-- confirm pending order -->
    <div class="o-modal pend-order-modal" :class="isPendModalShow? 'is-show' :'is-not-show'">
      <div class="content">
        <div class="content-wrapper" style="padding:0;">
          <div class="p-header">
            <span>{{ $t('confirmRelease') }}</span>
            <Icon @click="isPendModalShow=false" type="close" class="o-close"></Icon>
          </div>
          <div class="p-info">
            <Row>
              <i-col span="6" class="key">{{ $t('unitPrice') }}</i-col>
              <i-col span="18" class="value">{{postData['price' + postOrderTag]}} SAR</i-col>
            </Row>
            <Row>
              <i-col span="6" class="key">{{ $t('quantity') }}</i-col>
              <i-col span="18" class="value">{{postData['volume' + postOrderTag]}} USDT</i-col>
            </Row>
            <Row>
              <i-col span="6" class="key">{{ $t('limit') }}</i-col>
              <i-col span="18" class="value">{{postData['minTrade' + postOrderTag]}} SAR -- {{postData['maxTrade' + postOrderTag]}} SAR</i-col>
            </Row>
            <Row>
              <i-col span="6" class="key">{{ $t('totalPrice') }}</i-col>
              <i-col span="18" class="value">{{postData['volume' + postOrderTag] * postData['price' + postOrderTag]}} SAR</i-col>
            </Row>
            <div v-if="postOrderTag=='SELL'" class="settings">
              <div class="s-header">
                <p class="key" @click="showMoreSettings = !showMoreSettings">More settings
                  <Icon :type="showMoreSettings ? 'chevron-up' : 'chevron-down'"></Icon>
                </p>
              </div>
              <div v-show="showMoreSettings" class="s-body">
                <Row>
                  <i-col class="key" span="6">
                    WhatsApp
                  </i-col>
                  <i-col span="18">
                    {{ whatsApp }}
                  </i-col>
                </Row>
                <Row>
                  <i-col span="24" class="key">{{ $t('bankCard') }}</i-col>
                </Row>
                <Row v-for="(item, index) in cardInfo">
                  <i-col span="20">
                    <p style="color: #ffffff;">{{ item.bankName }}</p>
                    <p class="key">{{item.cardNo}}</p>
                  </i-col>
                  <i-col span="4">
                    <i-switch v-model="cardStatus[index]"></i-switch>
                  </i-col>
                </Row>
              </div>
            </div>
          </div>
          <div class="rtabs">
            <Row>
              <i-col :span="12" :class="postData.checkType==='1'?'tb-act':'tb-disact'">
                <span @click="postData.checkType='1'">{{ $t('googleAuthCode') }}</span>
              </i-col>
              <i-col :span="12" :class="postData.checkType==='2'?'tb-act':'tb-disact'">
                <span @click="postData.checkType='2'">{{ $t('smsCode') }}</span>
              </i-col>
            </Row>
            <div>
              <div class="gg" v-show="postData.checkType == 1">
                <input v-model="gCode" type="text">
              </div>
              <div class="sms" v-show="postData.checkType == 2">
                <input v-model="smsCode" type="text">
                <span v-show="sms" class="sendMsg">{{sendText}}s</span>
                <span v-show="!sms" @click="sendMsg" class="sendMsg">sms</span>
              </div>
            </div>
          </div>
          <div class="p-foot">
            <a class="return" @click="modifyPostOrder">{{ $t('backEdit') }}</a>
            <a class="config" @click="confirmPostOrder">{{ $t('confirmRelease') }}</a>
            <div class="p-foot-tips" :class="error.postError ? 'error' : ''">{{error.postError}}</div>
          </div>
        </div>
      </div>
    </div>
    <!-- confirm pending order end -->

    <!--bind card-->
    <bindcard :show="isBindCardShow" :locale="locale"></bindcard>
    <confirm :show="isConfirmBindShow" :locale="locale"></confirm>
    <!--bind card end-->

    <acontact :show="isContactShow" :isWatchupBind="isWatchAppBind" :locale="locale"></acontact>
    <gauth :show="isGoogleAuthShow" :locale="locale"></gauth>
    <selectcard :show="isSelectCardShow" :cards="cardInfo" :locale="locale"></selectcard>

  </div>

  <!--footer-->
  @@include('footer.html')
  <script src="../scripts/locale/all_goods.js?rev=@@hash"></script>
  <script src="../scripts/all_goods.js?rev=@@hash"></script>
</body>

</html>