<!DOCTYPE HTML>
<html lang="zh">

<head>
  <title>UPEX</title>
  @@include('header.html')
  <link rel="stylesheet" href="../styles/my_assets_recharge.css?rev=@@hash">
</head>

<body>
<div id="recharge" v-cloak>
  <o-header ref="header"></o-header>
  <div class="container recharge">
    <!-- 充值信息 -->
    <div class="container-row">
      <Row class="recharge-row">
        <i-col span="24">
          <h3 class="recharge-row-title">USDT {{ $t('recharge') }}</h3>
          <p class="breadcrumb">
            <a href="otc_my_assets.html">{{ $t('myAssets') }}</a>
            <Icon type="ios-arrow-right"></Icon>
            <span class="text-secondary">USDT {{ $t('recharge') }}</span>
          </p>
        </i-col>
        <i-col span="24">
          <Row class="recharge-info">
            <i-col span="12">
              <h3 class="recharge-info-title">USDT {{ $t('rechargeAddress') }}</h3>
              <Row>
                <i-col span="6">
                  <div class="recharge-info-qr" id="rechargeQR">
                    <img :src="rechargeAddressQR">
                  </div>
                </i-col>
                <i-col span="18">
                  <p class="recharge-info-id text-secondary">{{ rechargeAddressString }}</p>
                  <i-button icon="ios-copy-outline" type="primary" size="large" @click="copyAddress">{{ $t('copy') }}</i-button>
                </i-col>
              </Row>
            </i-col>
            <i-col span="12">
              <h3 class="recharge-info-title">{{ $t('attention') }}</h3>
              <ul class="recharge-info-notice">
                <li>{{ $t('attentionFirst') }}</li>
                <li>{{ $t('attentionSecond') }}</li>
                <li>{{ $t('attentionThird') }}</li>
              </ul>
            </i-col>
          </Row>
        </i-col>
      </Row>
    </div>
    <!-- 充值历史 -->
    <div class="container-row" style="margin-top: 20px;">
      <Row class="recharge-row">
        <i-col span="12">
          <h3 class="recharge-row-title">{{ $t('rechargeRecord') }}</h3>
        </i-col>
        <i-col span="12" class="text-right">
          <a href="#">{{ $t('allRecords') }} <Icon type="ios-arrow-right"></Icon></a>
        </i-col>
      </Row>
      <i-table :columns="rechargeColumn" :data="rechargeData" size="small"></i-table>
      <div style="padding: 10px 0;">
        <Page class="text-center" :total="rechargeTotalCount" size="small" show-total @on-change="rechargePageChange"></Page>
      </div>
    </div>
  </div>
</div>
@@include('footer.html')
<script src="../scripts/locale/my_assets_recharge.js?rev=@@hash"></script>
<script src="../scripts/my_assets_recharge.js?rev=@@hash"></script>
</body>

</html>
