<!DOCTYPE HTML>
<html lang="ar">

<head>
  <title>UPEX</title>
  @@include('header.html')
  <link rel="stylesheet" href="../styles/pay.css?rev=@@hash">
</head>

<body>
  <div id="app" v-cloak>
    <o-header ref="header" style="margin-bottom: 30px"></o-header>
    <div class="wrapper pay" v-show="orderInfo.status">
      <div class="pay-header" v-show="leftTime !== ''">
        <h3 v-if="orderInfo.status == 1">
          {{ $t('waitForBuyer') }}
        </h3>
        <h3 v-if="orderInfo.status == 2 && leftTime !== 0">
          {{ $t('buyerPaid') }}
          <span class="text-warning">{{orderInfo.totalPrice}} SAR</span>
        </h3>
        <h3 v-if="orderInfo.status == 3">
          {{ $t('transactionSuccessful') }} - {{ $t('received') }}
          <span class="text-success">{{orderInfo.totalPrice}} SAR</span>
        </h3>
        <h3 v-if="orderInfo.status == 4">
          {{ $t('orderCanceled') }}
        </h3>
        <h3 v-if="(orderInfo.status == 7 || leftTime === 0) && orderInfo.status !== 4" class="text-error">
          {{ $t('orderExpired') }}
        </h3>
      </div>
      <div class="pay-steps">
        <Steps :current="currentStep">
          <Step :title="$t('orderSuccess')"></Step>
          <Step :title="$t('payAndConfirm')" :content="$t(payStatusText)" :status="payStatus"></Step>
          <Step :title="$t('receivePayment')" :content="$t(confirmStatusText)" :status="confirmStatus"></Step>
          <Step :title="$t('tradeDone')"></Step>
        </Steps>
      </div>
      <div class="pay-info">
        <Row>
          <i-col span="10">
            <div class="info-header">{{ $t('orderInfo') }}</div>
            <div class="info-body">
              <Row>
                <i-col span="6">{{ $t('orderNo') }} :</i-col>
                <i-col span="18" class="text-strong">{{orderInfo.sequence}}</i-col>
              </Row>
              <Row>
                <i-col span="6">{{ orderInfo.status == 3 ? $t('sold') : $t('totalPurchase') }} :</i-col>
                <i-col span="18" class="text-strong" :class="orderInfo.status == 3 ? 'text-success' : ''">
                  {{orderInfo.volume}} USDT
                </i-col>
              </Row>
              <Row>
                <i-col span="6">{{ orderInfo.status == 3 ? $t('received') : $t('totalPrice') }} :</i-col>
                <i-col span="18" class="text-strong" class="text-strong" :class="orderInfo.status == 3 ? 'text-success' : ''">
                  {{orderInfo.totalPrice}} SAR
                </i-col>
              </Row>
            </div>
          </i-col>
          <i-col span="14">
            <div class="info-header">{{ $t('buyInfo') }}</div>
            <div class="info-body">
              <Row>
                <i-col span="6">
                  <img src="../images/pay_user.png" class="pay-image">
                  {{ $t('buyName') }}
                </i-col>
                <i-col span="18" class="text-strong">
                  {{orderInfo.buyer.showNickName}}
                </i-col>
              </Row>
              <Row v-if="orderInfo.buyer.hideMobileNumber">
                <i-col span="6">
                  <img src="../images/pay_phone.png" class="pay-image">
                  {{ $t('phone') }}
                </i-col>
                <i-col span="18" class="text-strong text-mobile">
                  {{orderInfo.buyer.hideMobileNumber}}
                </i-col>
              </Row>
              <Row>
                <i-col span="6">
                  <img src="../images/pay_whatsapp.png" class="pay-image">
                  Whatsapp
                </i-col>
                <i-col span="18" class="text-strong">
                  <a class="contact" :href="'https://api.whatsapp.com/send?phone='+whatsAppLink" target="_blank">
                  <img class="whatup" src="../images/whatup-white.png" />{{ $t('contactBuyer') }}</a>
                </i-col>
              </Row>
            </div>
          </i-col>
        </Row>
      </div>
      <div class="pay-status" v-if="orderInfo.status < 2">
        <p class="pay-notice">
          {{ $t('waitForBuyer') }}<br>
          {{ $t('restTime') }}: <span class="text-success">{{leftTime}}</span>
        </p>
        <p class="pay-tips">
          1. {{ $t('helpTipsFirst') }}<br>
          2. {{ $t('helpTipsSecond') }}
        </p>
      </div>
      <div class="pay-status" v-if="orderInfo.status == 2">
        <template v-if="leftTime != 0" v-cloak>
          <p class="pay-notice">
            {{ $t('lastFourNumber') }} <span class="text-warning text-strong">{{ orderInfo.bankCardLastNum }}</span>, {{ $t('payYou') }}
            <span class="text-warning text-strong"> {{orderInfo.totalPrice}}</span> SAR , {{ $t('receiveAll') }}<br>
            {{ $t('notReceiveAndWait') }}<br>
            {{ $t('restTime') }}: <span class="text-error"> {{ leftTime }}</span>
          </p>
          <div class="pay-action">
            <i-button type="primary" @click="confirmOrder">{{ $t('confirm') }}</i-button>
          </div>
        </template>
        <p class="pay-tips">
          1. {{ $t('helpTipsThird', { hours: confirmLimit }) }}<br>
          2. {{ $t('helpTipsFourth') }}
        </p>
      </div>
      <div class="pay-status" v-if="orderInfo.status == 3">
        <p class="pay-notice text-success">{{ $t('tradeDone') }}</p>
      </div>
      <div class="pay-status" v-if="orderInfo.status > 3">
        <h3 v-if="leftTime === 0 && orderInfo.status !== 4" class="text-error">
          {{ $t('orderExpired') }}
        </h3>
        <h3 v-if="leftTime === 0" style="margin-top:20px">
          {{ $t('reasonForFailure') }} :
          <span v-if="orderInfo.status == 4">{{ $t('orderCanceled') }}</span>
          <span v-if="orderInfo.status == 7 || orderInfo.status == 2">
            {{ orderInfo.paymentTime ? $t('outOfTimeToConfirm') : $t('outOfTimeToPay') }}
          </span>
        </h3>
      </div>
      <div class="pay-status">
        <p class="pay-tips">
          <a href="otc_adverts.html">{{ $t('backToHome') }}</a>
        </p>
      </div>
    </div>
  </div>
  @@include('footer.html')
  <script src="../scripts/locale/wait_pay.js?rev=@@hash"></script>
  <script src="../scripts/wait_pay.js?rev=@@hash"></script>
</body>

</html>
