<!DOCTYPE HTML>
<html lang="zh">

<head>
  <title>UPEX</title>
  @@include('header.html')
  <link rel="stylesheet" href="../styles/my_assets_withdrawal.css?rev=@@hash">
</head>

<body>
<div id="app" v-cloak>
  <o-header ref="header"></o-header>
  <o-google-auth :google-auth-show="showGoogleAuth"></o-google-auth>
  <div class="container">
    <div class="bg-white">
      <h1 class="h1-text">{{ $t('withdrawal') }}</h1>
      <breadcrumb separator=">">
        <breadcrumb-item to="otc_my_assets.html">{{ $t('myAsset') }}</breadcrumb-item>
        <breadcrumb-item>{{ $t('withdrawal') }}</breadcrumb-item>
      </breadcrumb>
      <div class="wrap-gray">
        <div class="row-wrap">
          <div class="row-left">{{ $t('currency') }}</div>
          <div class="row-right currency-select">
            <i-select v-model="modelCurrency" @on-change="currencyChange(modelCurrency)" style="width:200px" size="large">
              <i-option v-for="currency in currencyList" :value="currency.value">{{ currency.value }}</i-option>
            </i-select>
          </div>
        </div>
        <div class="row-wrap">
          <div class="row-left">{{ $t('withdrawAddress') }}</div>
          <div class="row-right address-select">
            <div class="address-none" v-show="addressList.length === 0" @click="addressClick">
              <span class="font_family">&#xe629;</span>{{ $t('addAddress') }}
            </div>
            <i-select v-show="addressList.length" class="address-select-wrap" @on-change="addressChange(modelAddress)"
                      v-model="modelAddress" style="width:400px" :placeholder="$t('pleaseChoose')"
                      size="large">
              <i-option v-for="address in addressList" :value="address.address" :label="address.label + ': ' + address.address">
                <div style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 350px;margin: 0;">
                  <span class="my-select-label">{{address.label}}:</span>
                  <span class="my-select-address">{{address.address}}</span></div>
                <span @click.stop="delAddress(address.address)" class="my-select-address-del font_family" :class="!delStatus?'delColor':''">
                    &#xe62a;</span>
              </i-option>
              <i-option style="font-size: 14px" :value="'Add address'">
                <div class="address" @click.stop="addressClick"><span class="font_family">&#xe629;</span>{{ $t('addAddress') }}</div>
              </i-option>
            </i-select>
          </div>
        </div>
        <div class="row-wrap" style="margin-bottom: 10px">
          <div class="row-left">{{ $t('amount') }}</div>
          <div class="row-right amount-input">
            <i-input style="width: 400px" v-model="valueAmount" size="large"
                     :placeholder="pricePlaceholder"
                     :class="withdrawalErrorText != ''?'red':''"
                     @on-focus="withdrawalErrorText = ''"
            ></i-input>
            <p class="amount-p">
              <span class="amount-p-title">{{ $t('extractable') }}:</span><span>{{balanceExtractable}}</span>
              <span class="amount-p-title" style="margin-left: 20px">{{ $t('dailyLimit') }}:</span><span>{{dailyLimit}}</span>
            </p>
            <p class="amount-p amount-error-p">{{withdrawalErrorText}}</p>
          </div>
        </div>
        <div class="row-wrap">
          <div class="row-left"></div>
          <div class="row-right withdrawal-button" @click="withdrawal">{{ $t('withdrawal') }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="bg-white">
      <h1 class="h1-text" style="margin-bottom: 30px">{{ $t('withdrawalRecord') }}</h1>
      <i-table :columns="columns3" :data="data3" size="small" :no-data-text="$t('noData')" :loading="tableLoading3"></i-table>
      <div style="margin: 10px;overflow: hidden" v-show="data3Page > 10">
        <div style="float: right;">
          <Page :total="data3Page" @on-change="changeWithDraw"></Page>
        </div>
      </div>
    </div>
  </div>
  <modal
    v-model="addressModel"
    :title="$t('addOneAddress')"
    @on-cancel="asyncCancel"
    class-name="vertical-center-modal"
    width="500"
  >
    <p class="modal-title">{{ $t('withdrawAddress') }}</p>
    <i-input
      size="large"
      :class="WithdrawalAddressErrorText?'is-red':'is-gray'"
      v-model="WithdrawalAddress"
      type="text"
      :placeholder="$t('enterWithdraw')"
      class="modal-input"
      @on-focus="withdrawalAddressFocus"
    >
    </i-input>
    <p class="WithdrawalAddressn-error">{{WithdrawalAddressErrorText}}</p>
    <p class="modal-title">{{ $t('addressTag') }}</p>
    <i-input
      size="large"
      :class="AddressTagErrorText?'is-red':'is-gray'"
      v-model="AddressTag"
      type="text"
      placeholder="Example：Binance"
      class="modal-input"
      @on-focus="AddressTagFocus"
    >
    </i-input>
    <p class="WithdrawalAddressn-error">{{AddressTagErrorText}}</p>
    <div slot="footer">
      <i-button type="primary" size="large" long :loading="modal_loading" @click="addressFun">{{ $t('submit') }}</i-button>
    </div>
  </modal>
  <modal
    v-model="withdrawalModel"
    :title="$t('confirmModalTitle')"
    @on-cancel="withdrawalCancel"
    class-name="vertical-center-modal withdrawal-container"
    width="500"
    :loading="withdrawalLoading"
  >
    <div class="withdrawal-wrap">
      <div class="gray-left">
        <p>{{ $t('withdrawAmount') }}</p>
        <p>{{ $t('fee') }} :</p>
        <p>{{ $t('realAmount') }}:</p>
      </div>
      <div class="gray-right">
        <p>{{valueAmount}} {{changeCoin}}</p>
        <p>{{balanceDefaultFee}} {{changeCoin}}</p>
        <p>{{valueAmountCalc}} {{changeCoin}}</p>
      </div>
    </div>
    <div class="tabs-wrap">
        <tabs :value="tabsName" @on-click="tabChange">
          <tab-pane :label="$t('emailValidate')" :disabled="disabledEmail" name="loginEmail">
            <i-input
              v-model="emailSmsCode"
              type="text"
              maxLength="6"
              @on-change="checkNum('email')"
              :placeholder="$t('emailValidate')"
              class="loginNext-input loginNext-sms-input" @on-focus="emailSmsCodeFocus" :class="emailSmsCodeError?'loginNext-input-red':' '">
          <span slot="append"
                class="my-slot-append"
                @click="runSendSms('email')"
                :class="timerEmail?'my-slot-append-gary':'my-slot-append'"
          >
            {{sendSmsEmail}}
          </span>
            </i-input>
            <p class="my-loginNext-error">{{emailSmsCodeErrorText}}</p>

          </tab-pane>
          <tab-pane :label="$t('phoneValidate')" :disabled="disabledPhone" name="loginPhone">
            <i-input
              v-model="phoneSmsCode"
              type="text"
              maxLength="6"
              @on-change="checkNum('phone')"
              :placeholder="$t('phoneValidate')"
              class="loginNext-input loginNext-sms-input" @on-focus="phoneSmsCodeFocus" :class="phoneSmsCodeError?'loginNext-input-red':' '">

          <span slot="append"
                class="my-slot-append"
                @click="runSendSms('phone')"
                :class="timerPhone?'my-slot-append-gary':'my-slot-append'"
          >
            {{sendSmsPhone}}
          </span>
            </i-input>
            <p class="my-loginNext-error">{{phoneSmsCodeErrorText}}</p>
          </tab-pane>
        </tabs>
        <h1 class="tabs-wrap-h1">{{ $t('googleValidateCode') }}</h1>
        <i-input
          v-model="googleCode"
          type="text"
          maxLength="6"
          @on-change="checkNum('google')"
          :placeholder="$t('googleValidateCode')"
          class="loginNext-input loginNext-sms-input" @on-focus="googleCodeFocus" :class="googleCodeError?'loginNext-input-red':' '">
          </span>
        </i-input>
        <p class="my-loginNext-error">{{googleCodeErrorText}}</p>
      </div>
    <div slot="footer">
      <i-button type="primary" size="large" long :loading="withdrawalLoading" @click="okWithdrawal">{{ $t('submit') }}</i-button>
    </div>
  </modal>
  <modal
    v-model="withdrawalModelTrue"
    title=""
    @on-cancel="withdrawalCancelTrue"
    class-name="vertical-center-modal withdrawal-container"
    width="500"
    :loading="withdrawalLoadingTrue"
  >
    <div class="withdrawalTrue-title">
      <div class="withdrawalTrue-icon"></div>
      <p>{{ $t('waitTitle') }}</p>

    </div>
    <div class="withdrawalTrue-text-wrap">
      <div class="withdrawalTrue-text-left">
        <p>{{ $t('inCountNum') }}:</p>
        <p>{{ $t('fee') }} :</p>
        <p>{{ $t('applyTime') }}:</p>
        <p>{{ $t('withdrawAddress') }}:</p>
      </div>
      <div class="withdrawalTrue-text-right">
        <p style="color:#5C95EA">{{valueAmountCalc}} {{changeCoin}}</p>
        <p>{{balanceDefaultFee}} {{changeCoin}}</p>
        <p>{{withdrawalTime}}</p>
        <p>{{withdrawalAddress}}</p>
      </div>
    </div>
    <div slot="footer">
      <i-button type="primary" size="large" long :loading="withdrawalLoading" @click="withdrawalCancelTrue">{{ $t('iKnow') }}</i-button>
    </div>
  </modal>
</div>
@@include('footer.html')
<script src="../scripts/locale/my_assets_withdrawal.js?rev=@@hash"></script>
<script src="../scripts/my_assets_withdrawal.js?rev=@@hash"></script>
</body>

</html>
