<!DOCTYPE HTML>
<html lang="zh">

<head>
  <title>UPEX</title>
  @@include('header.html')
  <link rel="stylesheet" href="../styles/my_assets_withdrawal.css?rev=@@hash">
</head>

<body>
<div id="app" v-cloak>
  <o-header ref="header"></o-header>
  <div class="container">
    <div class="bg-white">
      <h1 class="h1-text">Withdrawal</h1>
      <breadcrumb separator=">">
        <breadcrumb-item to="otc_my_assets.html">My assets</breadcrumb-item>
        <breadcrumb-item>Components</breadcrumb-item>
      </breadcrumb>
      <div class="wrap-gray">
        <div class="row-wrap">
          <div class="row-left">Currency</div>
          <div class="row-right currency-select">
            <i-select v-model="modelCurrency" @on-change="currencyChange(modelCurrency)" style="width:200px" size="large">
              <i-option v-for="currency in currencyList" :value="currency.value">{{ currency.value }}</i-option>
            </i-select>
          </div>
        </div>
        <div class="row-wrap">
          <div class="row-left">Withdrawal Address</div>
          <div class="row-right address-select">
            <div class="address-none" v-show="addressList.length === 0" @click="addressClick">
              <span class="font_family">&#xe629;</span>Add address
            </div>
            <i-select v-show="addressList.length" class="address-select-wrap" @on-change="addressChange(modelAddress)"
                      v-model="modelAddress" style="width:400px"
                      size="large">
              <i-option v-for="address in addressList" :value="address.address" :label="address.label + ' ' + address.address">
                <div style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 350px;margin: 0;">
                  <span>{{address.label}}</span>
                  <span class="my-select-address">{{address.address}}</span></div>
                <span @click.stop="delAddress(address.address)" class="my-select-address-del font_family" :class="!delStatus?'delColor':''">
                    &#xe62a;</span>
              </i-option>
              <i-option style="font-size: 14px" :value="'Add address'">
                <div class="address" @click.stop="addressClick"><span class="font_family">&#xe629;</span>Add address</div>
              </i-option>
            </i-select>
          </div>
        </div>
        <div class="row-wrap" style="margin-bottom: 10px">
          <div class="row-left">Amount</div>
          <div class="row-right amount-input">
            <i-input style="width: 400px" v-model="valueAmount" size="large"
                     placeholder="The minimum withdrawal amount is 0.2 USDT"
                     :class="withdrawalErrorText != ''?'red':''"
                     @on-focus="withdrawalErrorText = ''"
            ></i-input>
            <p class="amount-p">
              <span class="amount-p-title">Extractable:</span><span>{{balanceExtractable}}</span>
              <span class="amount-p-title" style="margin-left: 20px">Daily limit:</span><span>{{balanceLimit}}</span>
            </p>
            <p class="amount-p amount-error-p">{{withdrawalErrorText}}</p>
          </div>
        </div>
        <div class="row-wrap">
          <div class="row-left"></div>
          <div class="row-right withdrawal-button" @click="withdrawal">Withdrawal</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="bg-white">
      <h1 class="h1-text" style="margin-bottom: 30px">Withdrawal recording</h1>
      <i-table :columns="columns3" :data="data3" size="small" no-data-text="没有数据" :loading="tableLoading3"></i-table>
      <div style="margin: 10px;overflow: hidden" v-show="data3Page > 10">
        <div style="float: right;">
          <Page :total="data3Page" @on-change="changeWithDraw"></Page>
        </div>
      </div>
    </div>
  </div>
  <modal
    v-model="addressModel"
    title="Add a withdrawal address"
    @on-cancel="asyncCancel"
    class-name="vertical-center-modal"
    width="500"
  >
    <p class="modal-title">Withdrawal address</p>
    <i-input
      size="large"
      :class="WithdrawalAddressError?'is-red':'is-gray'"
      v-model="WithdrawalAddress"
      type="text"
      placeholder="Enter your withdrawal address"
      class="modal-input"
      @on-focus="withdrawalAddressFocus"
    >
    </i-input>
    <p class="WithdrawalAddressn-error">{{WithdrawalAddressErrorText}}</p>
    <p class="modal-title">Address tag</p>
    <i-input
      size="large"
      :class="AddressTagError?'is-red':'is-gray'"
      v-model="AddressTag"
      type="text"
      placeholder="Example：Binance"
      class="modal-input"
      @on-focus="AddressTagFocus"
    >
    </i-input>
    <p class="WithdrawalAddressn-error">{{AddressTagErrorText}}</p>
    <div slot="footer">
      <i-button type="primary" size="large" long :loading="modal_loading" @click="addressFun">Log in</i-button>
    </div>
  </modal>
  <modal
    v-model="withdrawalModel"
    title="Please comfirm withdrawal info"
    @on-cancel="withdrawalCancel"
    class-name="vertical-center-modal withdrawal-container"
    width="500"
    :loading="withdrawalLoading"
  >
    <div class="withdrawal-wrap">
      <div class="gray-left">
        <p>Withdrawal amount:</p>
        <p>Fees :</p>
        <p>Actual arrival:</p>
      </div>
      <div class="gray-right">
        <p>{{valueAmount}} {{changeCoin}}</p>
        <p>{{balanceDefaultFee}} {{changeCoin}}</p>
        <p>{{valueAmountCalc}} {{changeCoin}}</p>
      </div>
    </div>
    <div class="tabs-wrap">
        <tabs v-model="tabsName" @on-click="tabChange">
          <tab-pane label="E-mail verification" :disabled="disabledEmail" name="loginEmail">
            <i-input
              v-model="emailSmsCode"
              type="text"
              placeholder="E-mail verification code"
              class="loginNext-input loginNext-sms-input" @on-focus="emailSmsCodeFocus" :class="emailSmsCodeError?'loginNext-input-red':' '">
          <span slot="append"
                class="my-slot-append"
                @click="runSendSms('email')"
                :class="timerEmail?'my-slot-append-gary':'my-slot-append'"
          >
            {{sendSmsEmail}}
          </span>
            </i-input>
            <p class="my-loginNext-error">{{emailSmsCodeErrorText}}</p>

          </tab-pane>
          <tab-pane label="SMS verification" :disabled="disabledPhone" name="loginPhone">
            <i-input
              v-model="phoneSmsCode"
              type="text"
              placeholder="phone verification code"
              class="loginNext-input loginNext-sms-input" @on-focus="phoneSmsCodeFocus" :class="phoneSmsCodeError?'loginNext-input-red':' '">

          <span slot="append"
                class="my-slot-append"
                @click="runSendSms('phone')"
                :class="timerPhone?'my-slot-append-gary':'my-slot-append'"
          >
            {{sendSmsPhone}}
          </span>
            </i-input>
            <p class="my-loginNext-error">{{phoneSmsCodeErrorText}}</p>
          </tab-pane>
        </tabs>
        <h1 class="tabs-wrap-h1">Google verification</h1>
        <i-input
          v-model="googleCode"
          type="text"
          placeholder="phone verification code"
          class="loginNext-input loginNext-sms-input" @on-focus="googleCodeFocus" :class="googleCodeError?'loginNext-input-red':' '">
          </span>
        </i-input>
        <p class="my-loginNext-error">{{googleCodeErrorText}}</p>
      </div>
    <div slot="footer">
      <i-button type="primary" size="large" long :loading="withdrawalLoading" @click="okWithdrawal">Complete binding</i-button>
    </div>
  </modal>
  <modal
    v-model="withdrawalModelTrue"
    title=""
    @on-cancel="withdrawalCancelTrue"
    class-name="vertical-center-modal withdrawal-container"
    width="500"
    :loading="withdrawalLoadingTrue"
  >
    <div class="withdrawalTrue-title">
      <div class="withdrawalTrue-icon"></div>
      <p>The coin application has been submitted please be patient</p>

    </div>
    <div class="withdrawalTrue-text-wrap">
      <div class="withdrawalTrue-text-left">
        <p>Number of arrivals:</p>
        <p>Fees :</p>
        <p>Application time:</p>
        <p>Withdrawal address:</p>
      </div>
      <div class="withdrawalTrue-text-right">
        <p style="color:#5C95EA">{{valueAmountCalc}} {{changeCoin}}</p>
        <p>{{balanceDefaultFee}} {{changeCoin}}</p>
        <p>{{withdrawalTime}}</p>
        <p>{{withdrawalAddress}}</p>
      </div>
    </div>
    <div slot="footer">
      <i-button type="primary" size="large" long :loading="withdrawalLoading" @click="withdrawalCancelTrue">ok</i-button>
    </div>
  </modal>
</div>
@@include('footer.html')
<script src="../scripts/locale/my_assets_withdrawal.js?rev=@@hash"></script>
<script src="../scripts/my_assets_withdrawal.js?rev=@@hash"></script>
</body>

</html>
