<!DOCTYPE HTML>
<html lang="zh">

<head>
  <title>UPEX</title>
  @@include('header.html')
  <link rel="stylesheet" href="../styles/all_goods.css?rev=@@hash">
  <link rel="stylesheet" href="../styles/my_goods.css?rev=@@hash">
</head>

<body>
  <div id="app" v-cloak>
    <!--header-->
    <o-header ref="header"></o-header>
    <div class="banner"></div>

    <div class="list wrapper">
      <Row>
        <i-col class="tags" :span="4" :class="showListTag=='BUY' ? 'act' :'disact' ">
          <span @click="showListTag='BUY'">{{ $t('buy') }} USDT</span>
        </i-col>
        <i-col class="tags" :span="4" :class="showListTag=='SELL' ? 'act' :'disact' ">
          <span @click="showListTag='SELL'">{{ $t('sell') }} USDT</span>
        </i-col>
        <i-col span="16">
          <div class="text-right">
            <span>{{ $t('notSatisfied') }} ?</span>
            <i-button type="ghost" shape="circle" style="color:#ff7100;font-weight: bold;background-color: #ffffff;" @click.native.prevent="showPostDialog();">
              <Icon type="plus-round"></Icon>
              {{ $t('releaseAdvert') }}
            </i-button>
          </div>
        </i-col>
      </Row>
      <div>
        <div v-show="showListTag=='BUY'">
          <div class="list-table">
            <table class="buylist">
              <thead>
                <tr>
                  <th>{{ $t('seller') }}</th>
                  <th>{{ $t('amount') }}</th>
                  <th>
                    {{ $t('limit') }}
                    <br/>
                    <span class="limit-tips">({{ $t('min2maxPurchase') }})</span>
                  </th>
                  <th>{{ $t('unitPrice') }}</th>
                  <th>{{ $t('payment') }}</th>
                  <th>{{ $t('operation') }}</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in buylist" :key="item.id">
                  <td>
                    <span class="avatar" :class="userId == item.userId ? 'mine' : ''">
                      {{ userId == item.userId ? $t('mine') : $t('seller') }}
                    </span>
                    {{item.userName}}
                  </td>
                  <td>{{(item.volume - item.sell).toFixed(4)}} USDT</td>
                  <td>
                    {{item.minTrade}}--{{item.maxTrade}} SAR
                  </td>
                  <td class="price">{{item.price}} SAR</td>
                  <td>{{item.paymentBanks[0].bankName}}</td>
                  <td>
                    <template v-if="userId == item.userId">
                      <i-button
                        @click="pause(item)" 
                        :disabled="item.status === 3 || item.status === 4 || item.status === 5"
                        type="link"
                        size="small"
                      >
                        {{ item.status === 6 ? $t('start') : $t('pause') }}
                      </i-button>
                      <i-button
                        @click="cancel(item)"
                        :disabled="item.status === 4 || item.status === 5"
                        type="link"
                        size="small"
                      >
                        {{ $t('cancel') }}
                      </i-button>
                    </template>
                    <i-button type="primary" size="small" @click="showBuyUsdt(item)" v-else>{{ $t('buy') }} USDT</i-button>
                  </td>
                </tr>
                <tr v-if="!buylist.length"><td colspan="6">{{ $t('noData') }}</td></tr>
              </tbody>
            </table>
          </div>
          <div class="page">
            <div class="wrapper">
              <div>
                <Page @on-change="toBuyPage" :page-size="pageSize" :total="buyTotal" :current="buyCurrentPage" size="small"></Page>
              </div>
            </div>
          </div>
        </div>
        <div v-show="showListTag=='SELL'">
          <div class="list-table">
            <table class="buylist">
              <thead>
                <tr>
                  <th>{{ $t('buyer') }}</th>
                  <th>{{ $t('amount') }}</th>
                  <th>
                    {{ $t('limit') }}
                    <br/>
                    <span class="limit-tips">({{ $t('min2maxPurchase') }})</span>
                  </th>
                  <th>{{ $t('unitPrice') }}</th>
                  <th>{{ $t('operation') }}</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in selllist" :key="item.id">
                  <td>
                    <span class="avatar" :class="userId == item.userId ? 'mine' : ''">
                      {{ userId == item.userId ? $t('mine') : $t('buyer') }}
                    </span>
                    {{item.userName}}
                  </td>
                  <td>{{(item.volume - item.sell).toFixed(4)}} USDT</td>
                  <td>
                    {{item.minTrade}}--{{item.maxTrade}} SAR
                  </td>
                  <td class="price">{{item.price}} SAR</td>
                  <td>
                    <template v-if="userId == item.userId">
                      <i-button
                        @click="pause(item)"
                        :disabled="item.status === 3 || item.status === 4 || item.status === 5"
                        type="link"
                        size="small"
                      >
                        {{ item.status === 6 ? $t('start') : $t('pause') }}
                      </i-button>
                      <i-button
                        @click="cancel(item)"
                        :disabled="item.status === 4 || item.status === 5"
                        type="link"
                        size="small"
                      >
                        {{ $t('cancel') }}
                      </i-button>
                    </template>
                    <i-button type="primary" size="small" @click="showSellUsdt(item)" v-else>{{ $t('sell') }} USDT</i-button>
                  </td>
                </tr>
                <tr v-if="!selllist.length"><td colspan="5">{{ $t('noData') }}</td></tr>
              </tbody>
            </table>
          </div>
          <div class="page">
            <div class="wrapper">
              <div>
                <Page @on-change="toSellPage" :page-size="pageSize" :total="sellTotal" :current="sellCurrentPage" size="small"></Page>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="o-modal post-modal" :class="isPostDialogShow ? 'is-show' :'is-not-show' ">
      <div class="content">
        <div class="content-wrapper" style="padding:0;">
          <div class="title">
            <span>{{ $t('releaseAdvert') }}</span>
            <span class="close" @click="closePostDialog">
              <Icon type="close-round"></Icon>
            </span>
          </div>
          <div class="main-content">
            <Tabs v-model="postOrderTag">
              <Tab-Pane :label="$t('buy') + 'USDT'" :disabled="buyDisabled" name="BUY">
                <div style="width: 400px;">
                  <div class="input-group">
                    <div>
                      <span class="input-label">{{ $t('unitPrice') }}</span>
                      <span class="input-tips">{{ $t('currentPrice') }} {{marketPrice.exchange_sell_min || marketPrice.exchange_rate }} SAR</span>
                    </div>
                    <div class="o-input-number">
                      <div class="o-input-number-prepend">SAR</div>
                      <input-number
                        v-model="postData.priceBUY"
                        :min="marketPrice.trade_min_price"
                        :max="500000"
                        :placeholder="$t('pricePlaceholder')"
                        ref="inputNumberPriceBUY"
                      >
                      </input-number>
                    </div>
                  </div>
                  <div class="input-group">
                    <div>
                      <span class="input-label">{{ $t('quantity') }}</span>
                      <span class="input-tips">{{ $t('balance') }} {{balance}} USDT</span>
                    </div>
                    <div class="o-input-number">
                        <div class="o-input-number-prepend">USDT</div>
                        <input-number
                          v-model="postData.volumeBUY"
                          :min="marketPrice.trade_min_volume"
                          max="500000"
                          :placeholder="$t('amountPlaceholder')"
                          ref="inputNumberVolumeBUY"
                        >
                        </input-number>
                      </div>
                  </div>
                  <div>{{ $t('totalPrice') }}(SAR): {{ releaseTotalPrice || 0 }}</div>
                  <div class="input-group">
                    <div>
                      <span class="input-label">{{ $t('transactionLimit') }}(SAR)</span>
                    </div>
                    <div>
                      <Row>
                        <i-col span="11">
                          <div class="o-input-number">
                            <div class="o-input-number-prepend">Min</div>
                            <input-number
                              v-model="postData.minTradeBUY"
                              :min="marketPrice.trade_min_price"
                              :max="postBuyMax"
                            >
                            </input-number>
                          </div>
                        </i-col>
                        <i-col class="o-to" span="2">-</i-col>
                        <i-col span="11">
                          <div class="o-input-number">
                            <div class="o-input-number-prepend">Max</div>
                            <input-number
                              v-model="postData.maxTradeBUY"
                              :min="marketPrice.trade_min_price"
                              :max="postBuyMax"
                            >
                            </input-number>
                          </div>
                        </i-col>
                      </Row>
                    </div>
                  </div>
                  <div>
                    <button @click="postOrder" class="o-buy-sell-btn">{{ $t('buy') }} USDT</button>
                  </div>
                  <div v-if="error.postDataError" class="error">{{error.postDataError}}</div>
                </div>
              </Tab-Pane>
              <Tab-Pane :label="$t('sell') + 'USDT'" :disabled="sellDisabled" name="SELL">
                <div style="width: 400px;">
                  <div class="input-group">
                    <div>
                      <span class="input-label">{{ $t('unitPrice') }}</span>
                      <span class="input-tips">{{ $t('currentPrice') }} {{marketPrice.exchange_sell_min || marketPrice.exchange_rate }} SAR</span>
                    </div>
                    <div class="o-input-number">
                      <div class="o-input-number-prepend">SAR</div>
                      <input-number
                        v-model="postData.priceSELL"
                        :min="marketPrice.trade_min_price"
                        max="500000"
                        :placeholder="$t('pricePlaceholder')"
                        ref="inputNumberPriceSELL"
                      >
                      </input-number>
                    </div>
                  </div>
                  <div class="input-group">
                    <div>
                      <span class="input-label">{{ $t('amount') }}</span>
                      <span class="input-tips">{{ $t('balance') }} {{balance}} USDT</span>
                    </div>
                    <div class="o-input-number">
                      <div class="o-input-number-prepend">USDT</div>
                      <input-number
                        v-model="postData.volumeSELL"
                        :min="marketPrice.trade_min_volume"
                        :max="balance"
                        :placeholder="$t('amountPlaceholder')"
                        ref="inputNumberVolumeSELL"
                      >
                      </input-number>
                    </div>
                  </div>
                  <div>{{ $t('totalPrice') }}(SAR): {{ releaseTotalPrice || 0 }}</div>
                  <div class="input-group">
                    <div>
                      <span class="input-label">{{ $t('transactionLimit') }}(SAR)</span>
                    </div>
                    <div>
                      <Row>
                        <i-col span="11">
                          <div class="o-input-number">
                            <div class="o-input-number-prepend">Min</div>
                            <input-number
                              v-model="postData.minTradeSELL"
                              :min="marketPrice.trade_min_price"
                              :max="postSellMax"
                            >
                            </input-number>
                          </div>
                        </i-col>
                        <i-col class="o-to" span="2">-</i-col>
                        <i-col span="11">
                          <div class="o-input-number">
                            <div class="o-input-number-prepend">Max</div>
                            <input-number
                              v-model="postData.maxTradeSELL"
                              :min="marketPrice.trade_min_price"
                              :max="postSellMax"
                            >
                            </input-number>
                          </div>
                        </i-col>
                      </Row>
                    </div>
                  </div>
                  <div>
                    <button @click="postOrder" class="o-buy-sell-btn">{{ $t('sell') }} USDT</button>
                  </div>
                  <div v-if="error.postDataError" class="error">{{error.postDataError}}</div>
                </div>
              </Tab-Pane>
            </Tabs>
          </div>
        </div>
      </div>
    </div> -->

    <!--buy-sell-modal-->
    <div class="o-modal buy-sell-modal" :class="isBuyDialogShow? 'is-show':'is-not-show' ">
      <div class="content">
        <div class="content-wrapper" style="padding: 20px;width: 1200px;">
          <Icon type="close-circled" class="o-close" @click="closeBuyDialog"></Icon>
          <div v-if="showListTag=='BUY'">
            {{ $t('balance') }} {{balance}} USDT
          </div>
          <Row>
            <i-col span="4">
              <p class="item-name">{{ $t('amount') }}:</p>
              <p class="item-name" v-if="buyData.method">{{ $t('payment') }}:</p>
            </i-col>
            <i-col span="3">
              <p class="txt-bold">{{buyData.restAmount}}</p>
              <p class="txt-bold" v-if="buyData.method" v-html="buyData.method"></p>
            </i-col>
            <i-col span="6">
              <div class="order-input-wrapper">
                <div class="order-input" :class="buyAmountErrorText ? 'error' : ''">
                  <input type="number" v-model="buyData.buyAmount" @input="changeAmount($event)" @focus="buyAmountAppendText = 'All'" @blur="buyAmountAppendText = 'SAR'"
                  />
                  <div class="order-input-append">
                    <span @click="tradeAll('amount')">{{ buyAmountAppendText }}</span>
                  </div>
                </div>
                <p class="order-input-tips" :class="buyAmountErrorText ? 'error' : ''">
                  {{ $t('limit') }}: {{buyData.min}} -- {{buyAmountMax}}SAR
                </p>
              </div>
            </i-col>
            <i-col span="1" class="txt-center">
              <Icon type="arrow-swap" size="18" color="#666" style="margin-top:16px"></Icon>
            </i-col>
            <i-col span="6">
              <div class="order-input-wrapper">
                <div class="order-input" :class="buyTotalErrorText ? 'error' : ''">
                  <input type="number" v-model="buyData.buyTotal" @input="changeTotal($event)" @focus="buyTotalAppendText = 'All'" @blur="buyTotalAppendText = 'USDT'"
                  />
                  <div class="order-input-append">
                    <span @click="tradeAll('total')">{{ buyTotalAppendText }}</span>
                  </div>
                </div>
                <p class="order-input-tips" :class="buyTotalErrorText ? 'error' : ''">
                  {{ $t('limit') }}:{{ buyTotalMin }} -- {{ buyTotalMax }}USDT
                </p>
              </div>
            </i-col>
            <i-col span="4" class="btn-wrapper">
              <button v-show="showListTag==='BUY'" @click="buy" class="order-btn">{{ $t('buy') }}</button>
              <button v-show="showListTag==='SELL'" @click="sell" class="order-btn">{{ $t('sell') }}</button>
            </i-col>
          </Row>
          <div class="buyError error">{{error.buyError}}</div>
        </div>
      </div>
    </div>

    <!-- 填写挂单信息 -->
    <Modal :title="$t('releaseAdvert')" v-model="modalRelease" @on-cancel="handleReset('formRelease')">
      <i-form ref="formRelease" :model="formRelease" :rules="ruleRelease" label-position="top">
        <Row>
          <i-col span="8" class="text-strong">挂单类型</i-col>
        </Row>
        <form-item prop="side">
          <radio-group v-model="formRelease.side">
            <Radio label="BUY" :disabled="buyDisabled">{{ $t('buy') + 'USDT' }}</Radio>
            <Radio label="SELL" :disabled="sellDisabled">{{ $t('sell') + 'USDT' }}</Radio>
          </radio-group>
        </form-item>
        <Row>
          <i-col span="8" class="text-strong">{{ $t('unitPrice') }}</i-col>
          <i-col span="16" class="text-right">{{ $t('currentPrice') }} {{marketPrice.exchange_sell_min || marketPrice.exchange_rate }} SAR</i-col>
        </Row>
        <form-item label="" prop="price">
          <i-input
            type="number"
            number
            v-model="formRelease.price"
            :min="marketPrice.trade_min_price"
            :max="500000"
            :placeholder="$t('pricePlaceholder')"
          >
            <span slot="prepend">SAR</span>
          </i-input>
        </form-item>
        <Row>
          <i-col span="8" class="text-strong">{{ $t('quantity') }}</i-col>
          <i-col span="16" class="text-right" v-show="formRelease.side === 'SELL'">{{ $t('balance') }} {{balance}} USDT</i-col>
        </Row>
        <form-item label="" prop="volume">
          <i-input
            type="number"
            number
            v-model="formRelease.volume"
            :min="marketPrice.trade_min_volume"
            :max="releaseMaxPrice"
            :placeholder="$t('amountPlaceholder')"
          >
            <span slot="prepend">USDT</span>
          </i-input>
        </form-item>
        <Row class="text-strong" style="margin-bottom: 24px;">{{ $t('totalPrice') }}(SAR): {{ releaseTotalPrice || 0 }}</Row>
        <Row class="text-strong">{{ $t('transactionLimit') }}(SAR)</Row>
        <Row>
          <i-col span="11">
            <form-item prop="minTrade">
              <i-input
                type="number"
                number
                v-model="formRelease.minTrade"
                :min="marketPrice.trade_min_price"
                :max="releaseMaxPrice"
              >
                <span slot="prepend">Min</span>
              </i-input>
            </form-item>
          </i-col>
          <i-col class="text-center" span="2" style="margin-top:10px">--</i-col>
          <i-col span="11">
            <form-item prop="maxTrade">
              <i-input
                type="number"
                number
                v-model="formRelease.maxTrade"
                :min="marketPrice.trade_min_price"
                :max="releaseMaxPrice"
              >
                <span slot="prepend">Max</span>
              </i-input>
            </form-item>
          </i-col>
        </Row>
      </i-form>
      <div slot="footer">
          <i-button type="link" @click="handleReset('formRelease')">{{ $t('cancel') }}</i-button>
          <i-button type="primary" @click="handleSubmit('formRelease')">{{ $t('confirm') }}</i-button>
        </div>
    </Modal>

    <!-- 挂单价格提醒 -->
    <Modal :title="$t('deviationWarn')" v-model="modalReleaseWarning" class="modal-notice warning">
      <div class="modal-notice-header text-center">
        <img src="../images/warning.png" alt="">
        <p class="text-white">{{ releaseWarning }}</p>
      </div>
      <div class="modal-notice-footer">
        <Row>
          <i-col span="6">{{ $t('currentPrice') }}</i-col>
          <i-col span="18">{{marketPrice.exchange_sell_min || marketPrice.exchange_rate}} SAR</i-col>
        </Row>
        <Row>
          <i-col span="6">{{ $t('currentReleasePrice') }}</i-col>
          <i-col span="18" class="text-error">{{ formRelease.price }} SAR</i-col>
        </Row>
      </div>
      <div slot="footer">
        <i-button type="link" @click="continueRelease">{{ $t('confirmRelease') }}</i-button>
        <i-button type="primary" @click="modifyRelease" >{{ $t('modifyNow') }}</i-button>
      </div>
    </Modal>

    <!-- 确认挂单 -->
    <Modal :title="$t('confirmRelease')" v-model="modalReleaseConfirm" class="modal-notice" @on-cancel="handleReset('formReleaseConfirm')">
      <div class="modal-notice-header">
        <Row>
          <i-col span="6">{{ $t('unitPrice') }}</i-col>
          <i-col span="18" class="text-strong">{{ formRelease.price }} SAR</i-col>
          </Row>
          <Row>
            <i-col span="6">{{ $t('quantity') }}</i-col>
            <i-col span="18" class="text-strong">{{ formRelease.volume }} USDT</i-col>
          </Row>
          <Row>
            <i-col span="6">{{ $t('limit') }}</i-col>
            <i-col span="18" class="text-strong">{{ formRelease.minTrade }} SAR -- {{ formRelease.maxTrade }} SAR</i-col>
          </Row>
          <Row>
            <i-col span="6">{{ $t('totalPrice') }}</i-col>
            <i-col span="18" class="text-strong">{{ (formRelease.price * formRelease.volume).toFixed(2) }} SAR</i-col>
        </Row>
      </div>
      <div class="modal-notice-header border-top-dashed" v-show="formRelease.side === 'SELL'">
        <Row>
        <i-col span="6">WhatsApp</i-col>
        <i-col span="18" class="text-strong">{{ whatsApp }}</i-col>
        </Row>
        <Row>
          <i-col span="6">{{ $t('bankCard') }}</i-col>
        </Row>
        <Row v-for="item in cardList" :key="item.id" style="line-height: 26px">
          <i-col span="18">
            <h4 class="text-strong">{{ item.bankName }}</h4>
            <p>{{ item.cardNo }}</p>
          </i-col>
          <i-col span="6" class="text-right">
            <i-switch :value="!!item.status" size="large" @on-change="changeCardStatus($event, item)">
              <span slot="open">YES</span>
              <span slot="close">NO</span>
            </i-switch>
          </i-col>
        </Row>
      </div>
      <div class="modal-notice-footer border-top-dashed">
        <i-form ref="formReleaseConfirm" :model="formReleaseConfirm" :rules="ruleReleaseConfirm" label-position="top">
          <Tabs v-model="tabVerifyActive">
            <tab-pane :label="$t('googleVerification')" :name="1">
              <form-item label="" prop="google">
                <i-input v-model="formReleaseConfirm.google" maxlength="6" :placeholder="$t('googleVerificationHolder')"></i-input>
              </form-item>
            </tab-pane>
            <tab-pane :label="$t('phoneVerification')" :name="2">
              <form-item label="" prop="phone">
                <i-input v-model="formReleaseConfirm.phone" maxlength="6" :placeholder="$t('phoneVerificationHolder')">
                  <i-button slot="append" @click="sendMessage('Bank', 3)" :disabled="sendDisabledBank">{{ sendPlaceholderBank }}</i-button>
                </i-input>
              </form-item>
            </tab-pane>
          </Tabs>
        </i-form>
      </div>
      <div slot="footer">
        <i-button type="link" @click="handleReset('formReleaseConfirm', 'modify')">{{ $t('backEdit') }}</i-button>
        <i-button type="primary" @click="handleSubmit('formReleaseConfirm')">{{ $t('confirmRelease') }}</i-button>
      </div>
    </Modal>
    <!-- <div class="o-modal pend-order-modal" :class="isPendModalShow? 'is-show' :'is-not-show'">
      <div class="content">
        <div class="content-wrapper" style="padding:0;">
          <div class="p-header">
            <span>{{ $t('confirmRelease') }}</span>
            <Icon @click="isPendModalShow=false" type="close" class="o-close"></Icon>
          </div>
          <div class="p-info">
            <Row>
              <i-col span="6" class="key">{{ $t('unitPrice') }}</i-col>
              <i-col span="18" class="value">{{postData['price' + postOrderTag]}} SAR</i-col>
            </Row>
            <Row>
              <i-col span="6" class="key">{{ $t('quantity') }}</i-col>
              <i-col span="18" class="value">{{postData['volume' + postOrderTag]}} USDT</i-col>
            </Row>
            <Row>
              <i-col span="6" class="key">{{ $t('limit') }}</i-col>
              <i-col span="18" class="value">{{postData['minTrade' + postOrderTag]}} SAR -- {{postData['maxTrade' + postOrderTag]}} SAR</i-col>
            </Row>
            <Row>
              <i-col span="6" class="key">{{ $t('totalPrice') }}</i-col>
              <i-col span="18" class="value">{{postData['volume' + postOrderTag] * postData['price' + postOrderTag]}} SAR</i-col>
            </Row>
            <div v-if="postOrderTag=='SELL'" class="settings">
              <div class="s-header">
                <p class="key" @click="showMoreSettings = !showMoreSettings">More settings
                  <Icon :type="showMoreSettings ? 'chevron-up' : 'chevron-down'"></Icon>
                </p>
              </div>
              <div v-show="showMoreSettings" class="s-body">
                <Row>
                  <i-col class="key" span="6">
                    WhatsApp
                  </i-col>
                  <i-col span="18">
                    {{ whatsApp }}
                  </i-col>
                </Row>
                <Row>
                  <i-col span="24" class="key">{{ $t('bankCard') }}</i-col>
                </Row>
                <Row v-for="(item, index) in cardList">
                  <i-col span="20">
                    <p style="color: #ffffff;">{{ item.bankName }}</p>
                    <p class="key">{{item.cardNo}}</p>
                  </i-col>
                  <i-col span="4">
                    <i-switch v-model="cardStatus[index]"></i-switch>
                  </i-col>
                </Row>
              </div>
            </div>
          </div>
          <div class="rtabs">
            <Row>
              <i-col :span="12" :class="postData.checkType==='1'?'tb-act':'tb-disact'">
                <span @click="postData.checkType='1'">{{ $t('googleAuthCode') }}</span>
              </i-col>
              <i-col :span="12" :class="postData.checkType==='2'?'tb-act':'tb-disact'">
                <span @click="postData.checkType='2'">{{ $t('smsCode') }}</span>
              </i-col>
            </Row>
            <div>
              <div class="gg" v-show="postData.checkType == 1">
                <input v-model="gCode" type="link">
              </div>
              <div class="sms" v-show="postData.checkType == 2">
                <input v-model="smsCode" type="link">
                <span v-show="sms" class="sendMsg">{{sendText}}s</span>
                <span v-show="!sms" @click="sendMsg" class="sendMsg">sms</span>
              </div>
            </div>
          </div>
          <div class="p-foot">
            <a class="return" @click="modifyPostOrder">{{ $t('backEdit') }}</a>
            <a class="config" @click="confirmPostOrder">{{ $t('confirmRelease') }}</a>
            <div class="p-foot-tips" :class="error.postError ? 'error' : ''">{{error.postError}}</div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- confirm pending order end -->

    <!--bind card-->
    <!-- <bindcard :modal-bank-info="isBindCardShow" :locale="locale"></bindcard> -->
    <!-- <confirm :modal-bank-confirm="isConfirmBindShow" :form-bank-info="cardList" :locale="locale"></confirm> -->
    <!-- 添加/修改银行卡 -->
    <div data-id="modifyBankCard">
      <Modal :title="$t('addBankCard')" v-model="modalBankInfo" @on-cancel="handleReset('formBankInfo')">
        <i-form ref="formBankInfo" :model="formBankInfo" :rules="ruleBankInfo" label-position="top">
          <form-item :label="$t('bankName')" prop="bankName">
            <i-input v-model="formBankInfo.bankName" maxlength="30" :placeholder="$t('bankNameHolder')"></i-input>
          </form-item>
          <form-item :label="$t('accountName')" prop="name">
            <i-input v-model="formBankInfo.name" maxlength="30" :placeholder="$t('accountNameHolder')"></i-input>
          </form-item>
          <form-item :label="$t('cardNo')" prop="cardNo">
            <i-input v-model="formBankInfo.cardNo" maxlength="30" :placeholder="$t('cardNoHolder')"></i-input>
          </form-item>
          <form-item :label="'iban' + $t('number')" prop="ibanNo">
            <i-input v-model="formBankInfo.ibanNo" maxlength="30" :placeholder="$t('ibanNoHolder')"></i-input>
          </form-item>
        </i-form>
        <div slot="footer">
          <i-button type="link" @click="handleReset('formBankInfo')" style="margin-left: 8px">{{ $t('cancel') }}</i-button>
          <i-button type="primary" @click="handleSubmit('formBankInfo')">{{ $t('confirm') }}</i-button>
        </div>
      </Modal>
      <Modal :title="$t('confirmBind')" class="modal-notice info" v-model="modalBankConfirm" @on-cancel="handleReset('formBankConfirm')">
        <div class="modal-notice-header">
          <Row>
            <i-col span="8" class="text-secondary">{{ $t('bankName') }}</i-col>
            <i-col span="16" class="text-strong">{{ formBankInfo.bankName }}</i-col>
          </Row>
          <Row>
            <i-col span="8" class="text-secondary">{{ $t('accountName') }}</i-col>
            <i-col span="16" class="text-strong">{{ formBankInfo.name }}</i-col>
          </Row>
          <Row>
            <i-col span="8" class="text-secondary">{{ $t('cardNo') }}</i-col>
            <i-col span="16" class="text-strong">{{ formBankInfo.cardNo }}</i-col>
          </Row>
          <Row>
            <i-col span="8" class="text-secondary">iban{{ $t('number') }}</i-col>
            <i-col span="16" class="text-strong">{{ formBankInfo.ibanNo }}</i-col>
          </Row>
        </div>
        <div class="modal-notice-footer">
          <i-form ref="formBankConfirm" :model="formBankConfirm" :rules="ruleBankConfirm" label-position="top">
            <Tabs v-model="tabVerifyActive">
              <tab-pane :label="$t('googleVerification')" :name="1">
                <form-item label="" prop="google">
                  <i-input v-model="formBankConfirm.google" maxlength="30" :placeholder="$t('googleVerificationHolder')"></i-input>
                </form-item>
              </tab-pane>
              <tab-pane :label="$t('phoneVerification')" :name="2">
                <form-item label="" prop="phone">
                  <i-input v-model="formBankConfirm.phone" maxlength="6" :placeholder="$t('phoneVerificationHolder')">
                    <i-button slot="append" @click="sendMessage('Bank', 3)" :disabled="sendDisabledBank">{{ sendPlaceholderBank }}</i-button>
                  </i-input>
                </form-item>
              </tab-pane>
            </Tabs>
          </i-form>
        </div>
        <div slot="footer">
          <i-button type="link" @click="handleReset('formBankConfirm', 'modify')" style="margin-left: 8px">{{ $t('backEdit') }}</i-button>
          <i-button type="primary" @click="handleSubmit('formBankConfirm')">{{ $t('confirm') }}</i-button>
        </div>
      </Modal>
    </div>
    <!--bind card end-->

    <acontact :show="isContactShow" :isWatchupBind="isWatchAppBind" :locale="locale"></acontact>
    <!-- <gauth :show="isGoogleAuthShow" :locale="locale"></gauth> -->
    <selectcard :show="isSelectCardShow" :cards="cardList" :locale="locale"></selectcard>
    <Modal class="google-modal" v-model="isGoogleAuthShow" footer-hide>
      <dl class="text-center">
        <dt><img src="../images/warn.png"/></dt>
        <dd>{{ $t('bindGoogleAuthMsg') }}</dd>
        <dd>
          <i-button @click="toGoogeAuth">
            {{ $t('googleAuthBtn') }} <img src="../images/gauth.png" />
          </i-button>
        </dd>
      </dl>
    </Modal>
    <Modal v-model="modalOperationOrder" width="500" class="pend-order_modal">
      <div class="g-body">
        <div class="g-body_title">
          <i class="pend-icon icon-wait"></i>
          {{ modalMsg.title }}
        </div>
        <div class="g-body_desc">{{ modalMsg.desc }}</div>
      </div>
      <div slot="footer">
        <i-button type="link" @click="modalOperationOrder = false">{{ $t('cancel') }}</i-button>
        <i-button type="primary" @click="manualAction">{{ modalMsg.confirmText }}</i-button>
      </div>
    </Modal>
  </div>

  <!--footer-->
  @@include('footer.html')
  <script src="../scripts/locale/all_goods.js?rev=@@hash"></script>
  <script src="../scripts/all_goods.js?rev=@@hash"></script>
</body>

</html>