<!DOCTYPE HTML>
<html lang="ar">

<head>
  <title>UPEX</title>
  @@include('header.html')
  <link rel="stylesheet" href="../styles/pay.css?rev=@@hash">
</head>

<body>
  <div id="app" v-cloak>
    <o-header ref="header" style="margin-bottom: 30px"></o-header>
    <div class="wrapper pay" v-show="leftTime !== ''">
      <div class="pay-header">
        <h3 v-if="orderInfo.status == 1">
          {{ $t('payToSeller') }}
          <span class="text-warning">&nbsp;{{orderInfo.totalPrice}} SAR</span>
        </h3>
        <h3 v-if="(orderInfo.status == 2 && leftTime !== 0) || orderInfo.status == 6">
          {{ $t('waitForSellerConfirm') }}
        </h3>
        <h3 v-if="orderInfo.status == 3">
          {{ $t('transactionSuccessful') }} - {{ $t('received') }}
          <span class="text-success"> {{ orderInfo.volume }} USDT</span>
        </h3>
        <h3 v-if="orderInfo.status == 4 || (orderInfo.status == 1 && leftTime === 0)">
          {{ $t('orderCanceled') }}
        </h3>
        <h3 v-if="orderInfo.status == 5 || orderInfo.status == 7 || (leftTime === 0 && orderInfo.status == 2)">
          {{ $t('orderAbnormal') }}
        </h3>
      </div>
      <div class="pay-steps">
        <Steps :current="currentStep">
          <Step :title="$t('orderSuccess')"></Step>
          <Step :title="$t('payAndConfirm')" :content="$t(payStatusText)" :status="payStatus"></Step>
          <Step :title="$t('receiveAndConfirm')" :content="$t(confirmStatusText)" :status="confirmStatus"></Step>
          <Step :title="$t('USDTArrival')"></Step>
        </Steps>
      </div>
      <div class="pay-info">
        <Row>
          <i-col span="10">
            <div class="info-header">{{ $t('orderInfo') }}</div>
            <div class="info-body">
              <Row>
                <i-col span="8">{{ $t('orderNo') }} :</i-col>
                <i-col span="16" class="text-strong">{{orderInfo.sequence}}</i-col>
              </Row>
              <Row>
                <i-col span="8">{{ orderInfo.status == 3 ? $t('received') : $t('totalPurchase') }} :</i-col>
                <i-col span="16" class="text-strong" :class="orderInfo.status == 3 ? 'text-success' : ''">{{orderInfo.volume}} USDT</i-col>
              </Row>
              <Row>
                <i-col span="8">{{ orderInfo.status == 3 ? $t('paid') : $t('totalPrice') }} :</i-col>
                <i-col span="16" class="text-strong" :class="orderInfo.status == 3 ? 'text-success' : ''">{{orderInfo.totalPrice}} SAR</i-col>
              </Row>
              <Row v-if="orderInfo.status == 3">
                <i-col span="8">{{ $t('timeOfArrival') }} :</i-col>
                <i-col span="16" class="text-strong">{{ orderInfo.paymentTime | date }}</i-col>
              </Row>
            </div>
          </i-col>
          <i-col span="14">
            <div class="info-header">{{ $t('sellerInfo') }}</div>
            <div class="info-body">
              <template v-if="orderInfo.paymentBanks" v-for="(item, index) in orderInfo.paymentBanks">
                <Row>
                  <i-col span="6">{{ $t('bank') }}</i-col>
                  <i-col span="18" class="text-strong">{{item.bankName}}</i-col>
                </Row>
                <Row>
                  <i-col span="6">{{ $t('cardNo') }}</i-col>
                  <i-col span="18" class="text-strong">{{item.cardNo}}</i-col>
                </Row>
                <Row>
                  <i-col span="6">{{ $t('accountName') }}</i-col>
                  <i-col span="18" class="text-strong">{{item.name}}</i-col>
                </Row>
                <Row>
                  <i-col span="6">Iban {{ $t('iBanNo') }}</i-col>
                  <i-col span="18" class="text-strong">{{item.ibanNo}}</i-col>
                </Row>
              </template>
              <Row v-if="orderInfo.seller.hideMobileNumber">
                <i-col span="6">
                  <img src="../images/pay_phone.png" class="pay-image">
                  {{ $t('phone') }}
                </i-col>
                <i-col span="18" class="text-strong text-mobile">
                  {{orderInfo.seller.hideMobileNumber}}
                </i-col>
              </Row>
              <Row>
                <i-col span="6">
                  <img src="../images/pay_whatsapp.png" class="pay-image">
                  Whatsapp
                </i-col>
                <i-col span="18" class="text-strong">
                  <a class="contact" :href="'https://api.whatsapp.com/send?phone='+whatsAppLink" target="_blank">
                  <img class="whatup" src="../images/whatup-white.png" />{{ $t('contactSeller') }}</a>
                </i-col>
              </Row>
            </div>
          </i-col>
        </Row>
      </div>
      <div class="pay-status" v-if="orderInfo.status == 1">
        <p class="pay-notice">
          {{ $t('payInTime') }}
          <span class="text-error">{{leftTime}}</span>
        </p>
        <div class="pay-action">
          <i-button type="primary" @click="modalPaid = true">{{ $t('iPaid') }}</i-button>
          <span class="pay-action-tips">
            <span class="triangle"></span>
            {{ $t('iPaidTips') }}</span>
        </div>
        <i-button type="link" size="large" @click="cancelPay">{{ $t('cancelOrder') }}</i-button>
      </div>
      <div class="pay-status" v-if="(orderInfo.status == 2 && leftTime !== 0) || orderInfo.status == 6">
        <p class="pay-notice">
          {{ $t('sellerNotConfirmIn') }}<span class="text-success">{{ (confirmLimit / 60).toFixed(0) }}</span> {{ $t('hour') }}<br>
          {{ $t('restTime') }}<span class="text-success">{{leftTime}}</span>
        </p>
      </div>
      <div class="pay-status" v-if="orderInfo.status == 3">
        <p class="pay-notice text-success">{{ $t('tradeDone') }}</p>
      </div>
      <div class="pay-status" v-if="(orderInfo.status < 3 && leftTime !== 0) || orderInfo.status == 6">
        <p class="pay-tips">
          1. {{ $t('helpTipsFirst') }}<br>
          2. {{ $t('helpTipsSecond') }}<br>
          3. {{ $t('helpTipsThird') }}<br>
          4. {{ $t('helpTipsFourth') }}
        </p>
      </div>
      <div class="pay-status" v-if="orderInfo.status == 4 || (leftTime === 0 && orderInfo.status == 1)">
        <h3>
          {{ $t('reasonForFailure') }} : {{ $t('orderCanceled') }}
        </h3>
      </div>
      <div class="pay-status" v-if="orderInfo.status == 5 || orderInfo.status == 7 || (leftTime === 0 && orderInfo.status == 2)">
        <h3>
          {{ $t('reasonForFailure') }} : {{ orderInfo.paymentTime ? $t('outOfTimeToConfirm') : $t('outOfTimeToPay') }}
        </h3>
      </div>
      <div class="pay-status">
        <p class="pay-tips">
          <a href="otc_adverts.html">{{ $t('backToHome') }}</a>
        </p>
      </div>
    </div>
    <!-- 已支付 -->
    <Modal :title="$t('hasPaid')" v-model="modalPaid" :mask-closable="false">
      <p>{{ $t('notPayWarn') }}</p>
      <div slot="footer">
        <i-button type="link" @click="modalPaid = false">{{ $t('cancel') }}</i-button>
        <i-button type="primary" @click="paid">{{ $t('alreadyPaid') }}</i-button>
      </div>
    </Modal>
    <!-- 确认支付信息 -->
    <Modal :title="$t('myTransferInfo')" v-model="modalTransferInfo" :mask-closable="false" @on-calcel="handleReset('formTransferInfo')">
      <i-form ref="formTransferInfo" :model="formTransferInfo" :rules="ruleTransferInfo" label-position="top">
        <form-item :label="$t('payName')" prop="name">
          <i-input maxlength="64" v-model="formTransferInfo.name" @on-enter="handleSubmit('formTransferInfo')">
          </i-input>
        </form-item>
        <form-item :label="$t('lastFourNumber')" prop="card">
          <i-input maxlength="4" v-model="formTransferInfo.card" @on-enter="handleSubmit('formTransferInfo')">
          </i-input>
        </form-item>
      </i-form>
      <div slot="footer">
        <i-button @click="handleSubmit('formTransferInfo')" type="primary" long :loading="modalTransferInfoLoading">
          {{ $t('confirm') }}
        </i-button>
        <p class="text-center text-strong" style="margin-top: 10px"> {{ $t('transferTips') }} </p>
      </div>
    </Modal>
  </div>
  @@include('footer.html')
  <script src="../scripts/locale/pay.js?rev=@@hash"></script>
  <script src="../scripts/pay.js?rev=@@hash"></script>
</body>

</html>
