<!DOCTYPE HTML>
<html lang="ar">

<head>
  <title>UPEX</title>
  @@include('header.html')
  <link rel="stylesheet" href="../styles/my_assets.css?rev=@@hash">
</head>

<body>
<div id="app" v-cloak>
  <o-header ref="header"></o-header>
  <o-google-auth :google-auth-show="showGoogleAuth"></o-google-auth>
  <div class="order-wrap">
    <div class="order-wrap-bg">
      <h1 class="order-wrap-h1">{{ $t('myAsset') }}</h1>
      <ul class="order-wrap-top-ul">
        <li class="li-usdt-wrap">
          <div class="order-wrap-top-li-top-wrap">
            <div class="left-wrap">
              <span class="order-wrap-top-bold">USDT</span>
            </div>
            <div class="right-wrap">
              <div class="order-wrap-top-button" @click="runRecharge">{{ $t('deposit') }}</div>
              <div class="order-wrap-top-button" @click="runWithdrawal('USDT')">{{ $t('withdrawal') }}</div>
            </div>
          </div>
          <div class="order-wrap-total" v-show="balance.USDT.normal_balance">
            <span class="order-wrap-total-ar">{{ $t('total') }}</span>{{(Number(balance.USDT.normal_balance) + Number(balance.USDT.lock_balance)).toFixed(2)}} USDT
          </div>
          <div class="order-wrap-top-li-bottom-wrap">
            <div class="left-wrap">
              <div class="order-wrap-top-title">{{ $t('available') }}:</div>
              <div class="order-wrap-top-bold">{{balance.USDT.normal_balance}} USDT</div>
            </div>
            <div class="right-wrap">
              <div class="order-wrap-top-title">{{ $t('freeze') }}:</div>
              <div class="order-wrap-top-bold">{{balance.USDT.lock_balance}} USDT</div>
            </div>
          </div>
        </li>
        <li class="li-btc-wrap">
          <div class="order-wrap-top-li-top-wrap">
            <div class="left-wrap">
              <span class="order-wrap-top-bold">BTC</span>
            </div>
            <div class="right-wrap">
              <!--<div class="order-wrap-top-button">{{ $t('deposit') }}</div>-->
              <div class="order-wrap-top-button"  @click="runWithdrawal('BTC')">{{ $t('withdrawal') }}</div>
            </div>
          </div>
          <div class="order-wrap-total">
            <span class="order-wrap-total-ar">{{ $t('total') }}</span>{{balance.BTC.total_balance}} BTC
          </div>
          <div class="order-wrap-top-li-bottom-wrap">
            <div class="left-wrap">
              <div class="order-wrap-top-title">{{ $t('available') }}:</div>
              <div class="order-wrap-top-bold">{{balance.BTC.normal_balance}} BTC</div>
            </div>
            <div class="right-wrap">
              <div class="order-wrap-top-title">{{ $t('freeze') }}:</div>
              <div class="order-wrap-top-bold">{{balance.BTC.lock_balance}} BTC</div>
            </div>
          </div>
        </li>
        <li class="li-eth-wrap">
          <div class="order-wrap-top-li-top-wrap">
            <div class="left-wrap">
              <span class="order-wrap-top-bold">ETH</span>
            </div>
            <div class="right-wrap">
              <!--<div class="order-wrap-top-button">{{ $t('deposit') }}</div>-->
              <div class="order-wrap-top-button"  @click="runWithdrawal('ETH')">{{ $t('withdrawal') }}</div>
            </div>
          </div>
          <div class="order-wrap-total">
            <span class="order-wrap-total-ar">{{ $t('total') }}</span>{{balance.ETH.total_balance}} ETH
          </div>
          <div class="order-wrap-top-li-bottom-wrap">
            <div class="left-wrap">
              <div class="order-wrap-top-title">{{ $t('available') }}:</div>
              <div class="order-wrap-top-bold">{{balance.ETH.normal_balance}} ETH</div>
            </div>
            <div class="right-wrap">
              <div class="order-wrap-top-title">{{ $t('freeze') }}:</div>
              <div class="order-wrap-top-bold">{{balance.ETH.lock_balance}} ETH</div>
            </div>
          </div>
        </li>
      </ul>
      <h2 class="order-wrap-h2">
        <span class="order-wrap-h2-gray">{{ $t('assetCalc') }}</span>
        <span class="order-wrap-h2-black" v-show="getBTCToSAR">{{AssetFoldingBTCText}}</span>
      </h2>
    </div>
    <div class="order-wrap-bg">
      <h1 class="order-wrap-h1">{{ $t('assetRecord') }}</h1>
      <div class="order-table-wrap">
        <tabs value="name1" v-model="orderWrapTable">
          <tab-pane :label="$t('recentRecord')" name="name1">
            <i-table :columns="columns1" :data="data1" size="small" :no-data-text="$t('noData')" :loading="tableLoading1"></i-table>
            <div style="margin: 10px;overflow: hidden" v-show ="data1Page > 10">
              <div style="float: right;">
                <Page :total="data1Page" @on-change="changePageAll"></Page>
              </div>
            </div>
          </tab-pane>
          <tab-pane :label="$t('depositRecord')" name="name2">
            <i-table :columns="columns2" :data="data2" size="small" :no-data-text="$t('noData')" :loading="tableLoading2"></i-table>
            <div style="margin: 10px;overflow: hidden" v-show ="data2Page > 10">
              <div style="float: right;">
                <Page :total="data2Page" @on-change="changePageDeposit"></Page>
              </div>
            </div>
          </tab-pane>
          <tab-pane :label="$t('withdrawalRecord')" name="name3">
            <i-table :columns="columns3" :data="data3" size="small" :no-data-text="$t('noData')" :loading="tableLoading3"></i-table>
            <div style="margin: 10px;overflow: hidden" v-show ="data3Page > 10">
              <div style="float: right;">
                <Page :total="data3Page" @on-change="changeWithDraw"></Page>
              </div>
            </div>
          </tab-pane>
          <tab-pane :label="$t('otherRecord')" name="name4">
            <i-table :columns="columns4" :data="data4" size="small" :no-data-text="$t('noData')" :loading="tableLoading4"></i-table>
            <div style="margin: 10px;overflow: hidden" v-show ="data4Page > 10">
              <div style="float: right;">
                <Page :total="data4Page" @on-change="changeOtherTransfer"></Page>
              </div>
            </div>
          </tab-pane>
        </tabs>
      </div>
    </div>
  </div>
</div>
@@include('footer.html')
<script src="../scripts/locale/my_assets.js?rev=@@hash"></script>
<script src="../scripts/my_assets.js?rev=@@hash"></script>
</body>

</html>
