<!DOCTYPE HTML>
<html lang="zh-cn">

<head>
  <title>UPEX</title>
  @@include('header.html')
  <link rel="stylesheet" href="../styles/my_goods.css?rev=@@hash">
</head>

<body>
  <div id="app" v-cloak>
    <o-header ref="header"></o-header>
    <div class="wrapper">
      <div class="pend-order">
        <div class="header">
          <h3>{{ $t('pendingOrder') }}</h3>
        </div>
        <div class="main">
          <table class="table">
            <thead>
              <tr>
                <th>{{ $t('type') }}</th>
                <th>{{ $t('amount') }}</th>
                <th>{{ $t('unitPrice') }}</th>
                <th>{{ $t('limit') }}</th>
                <th>{{ $t('time') }}</th>
                <th>{{ $t('operation') }}</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in pendingOrdersList" :key="item.id">
                <td>
                  <Avatar size="large" style="background-color: #5C95EA">{{$t(item.side.toLowerCase())}}</Avatar>
                </td>
                <td>{{ (item.volume - item.sell).toFixed(4) }} / {{ item.volume }} USDT</td>
                <td>{{item.price}} SAR</td>
                <td>{{item.minTrade}} - {{item.maxTrade}} SAR</td>
                <td>{{item.ctime | date}}</td>
                <td>
                  <i-button @click="pause(item)" :disabled="item.status === 3 || item.status === 4 || item.status === 5" type="text">{{ item.status === 6 ? $t('start') : $t('pause') }}</i-button>
                  <i-button @click="cancel(item)" :disabled="item.status === 4 || item.status === 5" type="text">{{ $t('cancel') }}</i-button>
                </td>
              </tr>
              <tr v-if="!pendingOrdersList.length"><td colspan="9">{{ $t('noData') }}</td></tr>
            </tbody>
          </table>
        </div>
        <div class="pager">
          <Page :total="pendingOrdersCount" @on-change="getAdvert" :current="current" :page-size="pageSize" size="small" show-total></Page>
        </div>
        <Modal v-model="showModal" width="500" class="pend-order_modal">
          <div class="g-body">
            <div class="g-body_title">
              <i class="pend-icon icon-wait"></i>
              {{ modalMsg.title }}
            </div>
            <div class="g-body_desc">{{ modalMsg.desc }}</div>
          </div>
          <div slot="footer">
            <i-button type="text" @click="showModal = false">{{ $t('cancel') }}</i-button>
            <i-button type="warning" @click="manualAction">{{ modalMsg.confirmText }}</i-button>
          </div>
        </Modal>
      </div>
    </div>
  </div>
  @@include('footer.html')
  <script src="../scripts/locale/my_goods.js?rev=@@hash"></script>
  <script src="../scripts/my_goods.js?rev=@@hash"></script>
</body>

</html>