<!DOCTYPE HTML>
<html lang="ar">

<head>
  <title>UPEX</title>
  @@include('header.html')
  <link rel="stylesheet" href="../styles/all_goods.css?rev=@@hash">
  <link rel="stylesheet" href="../styles/my_goods.css?rev=@@hash">
</head>

<body>
  <div id="app" v-cloak>
    <!--header-->
    <o-header ref="header"></o-header>
    <div class="banner">
      <Carousel autoplay :autoplay-speed="6000" loop dots="none" arrow="none">
        <carousel-item>
          <h2>{{ $t('bannerTitle_1') }}</h2>
          <p>{{ $t('bannerDesc_1') }}</p>
        </carousel-item>
        <carousel-item>
          <h2>{{ $t('bannerTitle_2') }}</h2>
          <p>{{ $t('bannerDesc_2') }}</p>
        </carousel-item>
      </Carousel>
    </div>

    <div class="container">
      <Row class="list-tabs">
        <i-col class="list-tabs-title" :span="4" :class="showListTag == 'BUY' ? 'active' : '' ">
          <span @click="showListTag='BUY'">{{ $t('buy') }} USDT</span>
        </i-col>
        <i-col class="list-tabs-title" :span="4" :class="showListTag == 'SELL' ? 'active' : '' ">
          <span @click="showListTag='SELL'">{{ $t('sell') }} USDT</span>
        </i-col>
        <i-col span="16" class="list-tabs-extra">
          <div class="text-right">
            <span class="mr-10">{{ $t('notSatisfied') }} ?</span>
            <i-button
              type="ghost"
              shape="circle"
              size="small"
              class="btn-show-release"
              :loading="modalReleaseLoading"
              @click="showModalRelease">
              <Icon type="plus-round" class="mr-8"></Icon>
              {{ $t('releaseAdvert') }}
            </i-button>
          </div>
        </i-col>
      </Row>
      <div class="list-content">
        <div v-show="showListTag == 'BUY'">
          <i-table size="large" :columns="buyColumn" :data="buylist" :loading="buylistLoading"></i-table>
          <div class="page">
            <Page @on-change="getAdvertList('SELL', $event)" :total="buyTotal" :current="buyCurrentPage" size="small">
            </Page>
          </div>
        </div>
        <div v-show="showListTag == 'SELL'">
          <i-table size="large" :columns="sellColumn" :data="selllist" :loading="selllistLoading"></i-table>
          <div class="page">
            <Page @on-change="getAdvertList('BUY', $event)" :total="sellTotal" :current="sellCurrentPage" size="small">
            </Page>
          </div>
        </div>
      </div>
    </div>

    <!-- 下单信息 -->
    <Modal v-model="modalOrder" width="1200" :mask-closable="false" footer-hide class="order-modal" @on-cancel="handleReset('formOrder')">
      <span class="order-modal-close" slot="close"></span>
      <i-form ref="formOrder" :model="formOrder" :rules="ruleOrder" :show-message="false">
        <Row>
          <i-col span="6">
            <Row>
              <i-col span="6">{{ $t('amount') }}:</i-col>
              <i-col span="18" class="text-strong">
                {{ digitalCurrencyAvailable }} {{ selectedAdvert.coin }}
              </i-col>
            </Row>
            <Row v-show="showListTag === 'SELL'">
              <i-col span="6">{{ $t('balance') }}:</i-col>
              <i-col span="18" class="text-strong">{{ balance }} {{ selectedAdvert.coin }}</i-col>
            </Row>
            <Row v-show="showListTag === 'BUY'">
              <i-col span="6">{{ $t('payment') }}:</i-col>
              <i-col span="18" class="text-strong" v-html="selectedAdvertBanks"></i-col>
            </Row>
          </i-col>
          <i-col span="14">
            <Row>
              <i-col span="11">
                <form-item prop="legalCurrency">
                  <i-input
                    size="large"
                    type="number"
                    v-model="formOrder.legalCurrency"
                    @on-change="changeLegalCurrency">
                    <div slot="append">{{ selectedAdvert.paycoin }}</div>
                  </i-input>
                  <span class="input-tips" :class="legalCurrencyError || legalCurrencyFormat ? 'error' : ''">
                    {{ legalCurrencyFormat ? $t('atMost2Dot') : legalCurrencyTips }}
                  </span>
                </form-item>
              </i-col>
              <i-col span="2" style="text-align: center;line-height: 32px;">
                <Icon type="arrow-swap" size="24" color="#979797" style="margin-top: 10px;"></Icon>
              </i-col>
              <i-col span="11">
                <form-item prop="digitalCurrency">
                  <i-input
                    size="large"
                    type="number"
                    v-model="formOrder.digitalCurrency"
                    @on-change="changeDigitalCurrency">
                    <div slot="append">{{ selectedAdvert.coin }}</div>
                  </i-input>
                  <span class="input-tips" :class="digitalCurrencyError || digitalCurrencyFormat ? 'error' : ''">
                    {{ digitalCurrencyFormat ? $t('atMost4Dot') : digitalCurrencyTips }}
                  </span>
                </form-item>
              </i-col>
            </Row>
          </i-col>
          <i-col span="4" class="text-right">
            <i-button
              type="warning"
              @click="handleSubmit('formOrder')"
              :loading="formOrderLoading"
              >
              {{ showListTag == 'BUY' ? $t('buy') : $t('sell') }}
            </i-button>
          </i-col>
        </Row>
      </i-form>
    </Modal>

    <!-- 填写挂单信息 -->
    <Modal :title="$t('releaseAdvert')" :mask-closable="false" v-model="modalRelease" @on-cancel="handleReset('formRelease')">
      <i-form ref="formRelease" :model="formRelease" :rules="ruleRelease" label-position="top">
        <form-item prop="side">
          <radio-group v-model="formRelease.side" type="button" size="large" @on-change="releaseSideChange">
            <Radio label="BUY" :disabled="buyDisabled">{{ $t('buy') + 'USDT' }}</Radio>
            <Radio label="SELL" :disabled="sellDisabled">{{ $t('sell') + 'USDT' }}</Radio>
          </radio-group>
        </form-item>
        <Row>
          <i-col span="8" class="text-strong">{{ $t('unitPrice') }}</i-col>
          <i-col span="16" class="text-right" v-show="formRelease.side === 'BUY'">
            {{ $t('currentPrice') }} {{marketPrice.exchange_buy_max || marketPrice.exchange_rate }} SAR
          </i-col>
          <i-col span="16" class="text-right" v-show="formRelease.side === 'SELL'">
            {{ $t('currentPrice') }} {{marketPrice.exchange_sell_min || marketPrice.exchange_rate }} SAR
          </i-col>
        </Row>
        <form-item label="" prop="price">
          <i-input
            type="number"
            v-model="formRelease.price"
            :placeholder="$t('pricePlaceholder')"
            @on-enter="handleSubmit('formRelease')"
          >
            <span slot="prepend">SAR</span>
          </i-input>
        </form-item>
        <Row>
          <i-col span="8" class="text-strong">{{ $t('quantity') }}</i-col>
          <i-col span="16" class="text-right" v-show="formRelease.side === 'SELL'">{{ $t('balance') }} {{balance}} USDT</i-col>
        </Row>
        <form-item label="" prop="volume">
          <i-input
            type="number"
            v-model="formRelease.volume"
            :placeholder="$t('amountPlaceholder')"
            @on-enter="handleSubmit('formRelease')"
          >
            <span slot="prepend">USDT</span>
          </i-input>
        </form-item>
        <Row class="text-strong" style="margin-bottom: 24px;">{{ $t('totalPrice') }} : {{ releaseTotalPrice || 0 }} (SAR)</Row>
        <Row class="text-strong">{{ $t('transactionLimit') }} (SAR) </Row>
        <Row>
          <i-col span="11">
            <form-item prop="minTrade">
              <i-input
                number
                v-model="formRelease.minTrade"
                @on-enter="handleSubmit('formRelease')"
              >
                <span slot="prepend">{{ $t('min') }}</span>
              </i-input>
            </form-item>
          </i-col>
          <i-col class="text-center" span="2" style="margin-top:10px">--</i-col>
          <i-col span="11">
            <form-item prop="maxTrade">
              <i-input
                number
                v-model="formRelease.maxTrade"
                @on-enter="handleSubmit('formRelease')"
              >
                <span slot="prepend">{{ $t('max') }}</span>
              </i-input>
            </form-item>
          </i-col>
        </Row>
      </i-form>
      <div slot="footer">
          <i-button type="primary" long @click="handleSubmit('formRelease')">{{ $t('confirm') }}</i-button>
        </div>
    </Modal>

    <!-- 挂单价格提醒 -->
    <Modal :title="$t('deviationWarn')" :mask-closable="false" v-model="modalReleaseWarning" class="modal-notice warning">
      <div class="modal-notice-header text-center">
        <img src="../images/warning.png" alt="">
        <p class="text-white">{{ releaseWarning }}</p>
      </div>
      <div class="modal-notice-footer">
        <Row>
          <i-col span="10">{{ $t('currentPrice') }}</i-col>
          <i-col span="14">{{marketPrice.exchange_sell_min || marketPrice.exchange_rate}} SAR</i-col>
        </Row>
        <Row>
          <i-col span="10">{{ $t('currentReleasePrice') }}</i-col>
          <i-col span="14" class="text-error">{{ formRelease.price }} SAR</i-col>
        </Row>
      </div>
      <div slot="footer">
        <i-button type="link" @click="continueRelease">{{ $t('confirmRelease') }}</i-button>
        <i-button type="primary" @click="modifyRelease" >{{ $t('modifyNow') }}</i-button>
      </div>
    </Modal>

    <!-- 确认挂单 -->
    <Modal
      :title="$t('confirmRelease')"
      :mask-closable="false"
      v-model="modalReleaseConfirm"
      class="modal-notice"
      @on-cancel="handleReset('formReleaseConfirm')"
      >
      <div class="modal-notice-header">
        <Row>
          <i-col span="6">{{ $t('unitPrice') }}</i-col>
          <i-col span="18" class="text-strong">{{ formRelease.price }} SAR</i-col>
          </Row>
          <Row>
            <i-col span="6">{{ $t('quantity') }}</i-col>
            <i-col span="18" class="text-strong">{{ formRelease.volume }} USDT</i-col>
          </Row>
          <Row>
            <i-col span="6">{{ $t('limit') }}</i-col>
            <i-col span="18" class="text-strong">{{ formRelease.minTrade }} -- {{ formRelease.maxTrade }} SAR</i-col>
          </Row>
          <Row>
            <i-col span="6">{{ $t('totalPrice') }}</i-col>
            <i-col span="18" class="text-strong">{{ (formRelease.price * formRelease.volume).toFixed(2) }} SAR</i-col>
        </Row>
      </div>
      <div class="modal-notice-header border-top-dashed" v-show="formRelease.side === 'SELL'">
        <Row>
        <i-col span="6">WhatsApp</i-col>
        <i-col span="18" class="text-strong text-dir-ltr">{{ userInfo.watchapp }}</i-col>
        </Row>
        <Row>
          <i-col span="6">{{ $t('bankCard') }}</i-col>
        </Row>
        <Row v-for="item in cardList" :key="item.id" style="line-height: 26px">
          <i-col span="18">
            <h4 class="text-strong">{{ item.bankName }}</h4>
            <p>{{ item.cardNo }}</p>
          </i-col>
          <i-col span="6" class="text-right">
            <i-switch :value="!!item.status" size="large" @on-change="changeCardStatus($event, item)">
              <span slot="open">YES</span>
              <span slot="close">NO</span>
            </i-switch>
          </i-col>
        </Row>
      </div>
      <div class="modal-notice-footer border-top-dashed">
        <i-form ref="formReleaseConfirm" :model="formReleaseConfirm" :rules="ruleReleaseConfirm" label-position="top">
          <Tabs v-model="tabVerifyActive">
            <tab-pane :label="$t('googleVerification')" :name="1">
              <form-item label="" prop="google">
                <i-input
                  v-model="formReleaseConfirm.google"
                  :maxlength="6"
                  @on-change="autoSubmit($event, 'formReleaseConfirm')"
                  :placeholder="$t('googleVerificationHolder')"
                  @on-enter="handleSubmit('formReleaseConfirm')"
                ></i-input>
              </form-item>
            </tab-pane>
            <tab-pane :label="$t('phoneVerification')" :name="2">
              <form-item label="" prop="phone">
                <i-input
                  v-model="formReleaseConfirm.phone"
                  :maxlength="6"
                  @on-change="autoSubmit($event, 'formReleaseConfirm')"
                  :placeholder="$t('phoneVerificationHolder')"
                  @on-enter="handleSubmit('formReleaseConfirm')"
                  >
                  <i-button slot="append" @click="sendMessage('Bank', 22)" :disabled="sendDisabledBank">
                    {{ sendPlaceholderBank }}
                  </i-button>
                </i-input>
              </form-item>
            </tab-pane>
          </Tabs>
        </i-form>
      </div>
      <div slot="footer">
        <i-button type="link" @click="handleReset('formReleaseConfirm', 'modify')">{{ $t('backEdit') }}</i-button>
        <i-button type="primary" @click="handleSubmit('formReleaseConfirm')" :loading="formReleaseConfirmLoading">
          {{ $t('confirmRelease') }}
        </i-button>
      </div>
    </Modal>

    <!-- 添加/修改银行卡 -->
    <div data-id="modifyBankCard">
      <Modal :title="$t('addBankCard')" :mask-closable="false" v-model="modalBankInfo" @on-cancel="handleReset('formBankInfo')">
        <i-form ref="formBankInfo" :model="formBankInfo" :rules="ruleBankInfo" label-position="top">
          <form-item :label="$t('bankName')" prop="bankName">
            <i-select v-model="formBankInfo.bankName" :placeholder="$t('bankNameHolder')">
              <i-option value="AlRajhiBank">{{ $t('AlRajhiBank') }}</i-option>
              <i-option value="TheNationalCommercialBank">{{ $t('TheNationalCommercialBank') }}</i-option>
              <i-option value="TheSaudiBritishBank">{{ $t('TheSaudiBritishBank') }}</i-option>
              <i-option value="SaudiInvestmentBank">{{ $t('SaudiInvestmentBank') }}</i-option>
              <i-option value="AlinmaBank">{{ $t('AlinmaBank') }}</i-option>
              <i-option value="BanqueSaudiFransi">{{ $t('BanqueSaudiFransi') }}</i-option>
              <i-option value="RiyadBank">{{ $t('RiyadBank') }}</i-option>
              <i-option value="SambaFinancialGroup(Samba)">{{ $t('SambaFinancialGroup(Samba)') }}</i-option>
              <i-option value="SaudiHollandiBank">{{ $t('SaudiHollandiBank') }}</i-option>
              <i-option value="ArabNationalBank">{{ $t('ArabNationalBank') }}</i-option>
              <i-option value="BankAl-Bliad">{{ $t('BankAl-Bliad') }}</i-option>
              <i-option value="BankAljazira">{{ $t('BankAljazira') }}</i-option>
            </i-select>
          </form-item>
          <form-item :label="$t('accountName')" prop="name">
            <i-input
              v-model="formBankInfo.name"
              :maxlength="64"
              :placeholder="$t('accountNameHolder')"
              @on-enter="handleSubmit('formBankInfo')"
            ></i-input>
          </form-item>
          <form-item :label="$t('cardNo')" prop="cardNo">
            <Poptip trigger="focus" :content="formBankInfo.cardNo | card" class="poptip-card">
              <i-input
                v-model="formBankInfo.cardNo"
                :maxlength="64"
                :placeholder="$t('cardNoHolder')"
                @on-enter="handleSubmit('formBankInfo')"
              ></i-input>
            </Poptip>
          </form-item>
          <form-item label="iban Number" prop="ibanNo">
            <i-input
              v-model="formBankInfo.ibanNo"
              :maxlength="64"
              :placeholder="$t('ibanNoHolder')"
              @on-enter="handleSubmit('formBankInfo')"
            ></i-input>
          </form-item>
        </i-form>
        <div slot="footer">
          <i-button type="link" @click="handleReset('formBankInfo')">{{ $t('cancel') }}</i-button>
          <i-button type="primary" @click="handleSubmit('formBankInfo')">{{ $t('nextStep') }}</i-button>
        </div>
      </Modal>
      <Modal
        :title="$t('confirmBind')"
        :mask-closable="false"
        class="modal-notice info"
        v-model="modalBankConfirm"
        @on-cancel="handleReset('formBankConfirm')"
        >
        <div class="modal-notice-header">
          <Row>
            <i-col span="8" class="text-secondary">{{ $t('bankName') }}</i-col>
            <i-col span="16" class="text-strong">{{ formBankInfo.bankName }}</i-col>
          </Row>
          <Row>
            <i-col span="8" class="text-secondary">{{ $t('accountName') }}</i-col>
            <i-col span="16" class="text-strong">{{ formBankInfo.name }}</i-col>
          </Row>
          <Row>
            <i-col span="8" class="text-secondary">{{ $t('cardNo') }}</i-col>
            <i-col span="16" class="text-strong">{{ formBankInfo.cardNo }}</i-col>
          </Row>
          <Row>
            <i-col span="8" class="text-secondary">iban Number</i-col>
            <i-col span="16" class="text-strong">{{ formBankInfo.ibanNo }}</i-col>
          </Row>
        </div>
        <div class="modal-notice-footer">
          <i-form ref="formBankConfirm" :model="formBankConfirm" :rules="ruleBankConfirm" label-position="top">
            <Tabs v-model="tabVerifyActive">
              <tab-pane :label="$t('googleVerification')" :name="1" v-if="userInfo.googleStatus">
                <form-item label="" prop="google">
                  <i-input
                    v-model="formBankConfirm.google"
                    :maxlength="6"
                    @on-change="autoSubmit($event, 'formBankConfirm')"
                    :placeholder="$t('googleVerificationHolder')"
                    @on-enter="handleSubmit('formReleaseConfirm')"
                    ></i-input>
                </form-item>
              </tab-pane>
              <tab-pane :label="$t('phoneVerification')" :name="2" v-if="userInfo.isOpenMobileCheck">
                <form-item label="" prop="phone">
                  <i-input
                    v-model="formBankConfirm.phone"
                    :maxlength="6"
                    @on-change="autoSubmit($event, 'formBankConfirm')"
                    :placeholder="$t('phoneVerificationHolder')"
                    @on-enter="handleSubmit('formReleaseConfirm')"
                    >
                    <i-button slot="append" @click="sendMessage('Bank', 3)" :disabled="sendDisabledBank">{{ sendPlaceholderBank }}</i-button>
                  </i-input>
                </form-item>
              </tab-pane>
            </Tabs>
          </i-form>
        </div>
        <div slot="footer">
          <i-button type="link" @click="handleReset('formBankConfirm', 'modify')">{{ $t('backEdit') }}</i-button>
          <i-button type="primary" @click="handleSubmit('formBankConfirm')" :loading="formBankConfirmLoading">{{ $t('confirmBind') }}</i-button>
        </div>
      </Modal>
    </div>
    <!-- 绑定WhatsApp -->
    <Modal :title="$t('addContact')" v-model="modalWhatsApp" @on-cancel="handleReset('formWhatsApp')">
      <div>
        <Row style="padding-bottom: 20px">
          <i-col span="3"><img src="../images/whatup.png" /></i-col>
          <i-col span="1">&nbsp;</i-col>
          <i-col span="20">{{ $t('addContactTips') }}</i-col>
        </Row>
        <i-form ref="formWhatsApp" :model="formWhatsApp" :rules="ruleWhatsApp" label-position="top">
          <form-item label="WhatsApp" prop="number">
            <i-input
              v-model="formWhatsApp.number"
              maxlength="30"
              :placeholder="$t('whatsAppHolder')"
              @on-enter="handleSubmit('formWhatsApp')"
            >
              <i-select class="country-select" v-model="selectCountry" slot="prepend" filterable>
                <i-option
                  v-for="(country, index) in countryArr"
                  :key="index"
                  :value="country.dialingCode"
                  :label="country.dialingCode"
                  style="width:100%;"
                >
                  <span class="float-left">{{country.dialingCode}}</span>
                  <span class="float-right">{{country.enName}}</span>
                </i-option>
              </i-select>
            </i-input>
          </form-item>
        </i-form>
      </div>
      <div slot="footer">
        <i-button type="primary" long @click="handleSubmit('formWhatsApp')" :loading="formWhatsAppLoading">
          {{ $t('confirm') }}
        </i-button>
      </div>
    </Modal>
    <!-- 谷歌绑定提示 -->
    <Modal class="google-modal" v-model="modalGoogle" :mask-closable="false" footer-hide>
      <dl class="text-center">
        <dt><img src="../images/warn.png"/></dt>
        <dd>{{ $t('bindGoogleAuthMsg') }}</dd>
        <dd>
          <i-button @click="toGoogeAuth">
            {{ $t('googleAuthBtn') }} <img src="../images/gauth.png" class="ml-10" />
          </i-button>
        </dd>
      </dl>
    </Modal>
    <!-- 暂停/取消接单 -->
    <Modal :title="modalMsg.title" v-model="modalOperationOrder" :mask-closable="false">
      <div>{{ modalMsg.desc }}</div>
      <div slot="footer">
        <i-button type="link" @click="modalOperationOrder = false">{{ $t('cancel') }}</i-button>
        <i-button type="primary" @click="manualAction">{{ modalMsg.confirmText }}</i-button>
      </div>
    </Modal>
  </div>

  <!--footer-->
  @@include('footer.html')
  <script src="../scripts/locale/all_goods.js?rev=@@hash"></script>
  <script src="../scripts/all_goods.js?rev=@@hash"></script>
</body>

</html>
