<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>UPEX</title>
  @@include('header.html')
  <link rel="stylesheet" href="../styles/my_introduce.css">
</head>
<body>
<div id="intro" v-cloak>
  <o-header ref="header"></o-header>
  <div class="intro-box intro-box-one"></div>
  <div class="intro-box bg-dark-blue" style="overflow: hidden">
    <div class="intro-box-inner intro-box-two">
      <img src="../images/intro-one-bg.png" class="intro-two-left">
      <div class="intro-two-right">
        <div class="intro-two-right-text">
          {{ $t('certify') }}
        </div>
        <div class="intro-two-right-img"></div>
      </div>
    </div>
  </div>
  <div class="intro-box bg-light-blue">
    <div class="intro-box-inner">
      <div class="intro-three-left"></div>
      <div class="intro-three-right">
        <p class="intro-three-right-text-1">{{ $t('platOne') }}</p>
        <p class="intro-three-right-text-2">{{ $t('platTwo') }}</p>
      </div>
    </div>
  </div>
  <div class="intro-box bg-dark-blue">
    <div class="intro-box-inner intro-box-four">
      <div class="intro-four-left">
        <p class="intro-four-left-text-1">{{ $t('btcOne') }}</p>
        <p class="intro-four-left-text-2">{{ $t('btcTwo') }}</p>
        <i-button class="intro-btn intro-four-btn-1" type="primary" @click="safeJump">{{ $t('btcBtnOne') }}</i-button>
        <i-button class="intro-btn intro-four-btn-2" type="ghost" @click="showDetail = true;">{{ $t('btcBtnTwo') }}
        </i-button>
      </div>
      <div class="intro-four-right"></div>
    </div>
  </div>
  <div class="intro-box bg-light-blue">
    <div class="intro-box-inner">
      <p class="intro-five-title">{{ $t('introFiveTitle') }}</p>
      <div class="intro-box-five-wrap">
        <div class="intro-box-five-item">
          <img src="../images/intro-five-1.png" alt="">
          <p class="intro-five-text-1">{{ $t('fiveLOne') }}</p>
          <p class="intro-five-text-2">{{ $t('fiveLTwo') }}</p>
        </div>
        <div class="intro-box-five-item">
          <img src="../images/intro-five-2.png" alt="">
          <p class="intro-five-text-1">{{ $t('fiveMOne') }}</p>
          <p class="intro-five-text-2">{{ $t('fiveMTwo') }}</p>
        </div>
        <div class="intro-box-five-item">
          <img src="../images/intro-five-3.png" alt="">
          <p class="intro-five-text-1">{{ $t('fiveROne') }}</p>
          <p class="intro-five-text-2">{{ $t('fiveRTwo') }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="intro-box bg-dark-blue intro-six-bg">
    <div class="intro-box-inner">
      <p class="intro-five-title">{{ $t('sixTitle') }}</p>
      <div class="intro-box-five-wrap intro-box-six-wrap">
        <div class="intro-box-six-item">

          <p class="intro-six-text-1">{{ $t('sixLOne') }}</p>
          <p class="intro-six-text-2"><img src="../images/intro-loc.png" class="loc">{{ $t('sixLTwo') }}</p>
          <p class="intro-six-text-3">{{ $t('sixLThree') }}</p>
          <img src="../images/intro-six-1.png" alt="" class="six-bg">
        </div>
        <div class="intro-box-six-item">
          <p class="intro-six-text-1">{{ $t('sixMOne') }}</p>
          <p class="intro-six-text-2"><img src="../images/intro-loc.png" class="loc">{{ $t('sixMTwo') }}</p>
          <p class="intro-six-text-3">{{ $t('sixMThree') }}</p>
          <img src="../images/intro-six-2.png" alt="" class="six-bg">
        </div>
        <div class="intro-box-six-item">
          <p class="intro-six-text-1">{{ $t('sixROne') }}</p>
          <p class="intro-six-text-2"><img src="../images/intro-loc.png" class="loc">{{ $t('sixRTwo') }}</p>
          <p class="intro-six-text-3">{{ $t('sixRThree') }}</p>
          <img src="../images/intro-six-3.png" alt="" class="six-bg">
        </div>
      </div>

    </div>
  </div>
  <div class="intro-box-last bg-dark-blue">
    <div class="intro-box-inner">
      <p class="intro-five-title" style="margin-bottom: 40px;">{{ $t('lastTitle') }}</p>
      <i-button class="intro-last-btn" type="primary" @click="indexJump">
        {{ $t('startTrade') }}
        <span class="arrow"></span>
      </i-button>
    </div>
  </div>
  <Modal
    v-model="showDetail"
    class-name="detail-modal"
    :closable="false"
    width="1100"
  >
    <div class="detail-wrap">
      <div class="detail-wrap-top">
        <img src="../images/intro/intro-detail-logo.png">
      </div>
      <div class="detail-wrap-mid">
        <p class="detail-wrap-mid-title">تأمين المعاملات – تفاصيل الضمان</p>
        <p class="detail-wrap-mid-1">
          لكل شخص يسجل / يستخدم منصة UpEx.io بإنتظام ، تتمتع كل معاملة تقوم بها بتأمين عند الشراء من المنصة. تضمن المنصة
          لك التعويض إذا كان هناك خسارة في الأصول أثناء معالجة المعاملة.
        </p>
        <p class="detail-wrap-mid-2">
          قواعد الضمان
        </p>
        <p class="detail-list-title">1- تأكد من استخدام موقع UpEx الرسمي</p>
        <ul class="detail-list detail-list-black">
          <li>موقع تداول الـOTC الرسمي: https://otc.upex.io</li>
          <li>الموقع الرسمي الآخر هو مجموعة من UPEX.IO : مثل www.upex.io ، s.upex.io إلخ.</li>
        </ul>
        <p class="detail-list-title">2- الحساب والأمان</p>
        <ul class="detail-list">
          <li>قم بالتسجيل على المنصة بإستخدام البريد الإلكتروني أو رقم الهاتف الخاص بك</li>
          <li>تأكد أن مستوى الأمان في حسابك كالآتي: الأمان من خلال (الربط بالبريد الإلكتروني ، رقم الهاتف ، مصدق جوجل)
          </li>
          <li>
            في حالة فقدان صندوق البريد المسجل / المرتبط أو رقم الهاتف أوالهاتف الجوال الذي تم التحقق منه من جوجل ،الذي يؤدي إلى عدم القدرة على الدخول، يرجى الاتصال بخدمة العملاء لتجميد الحساب في غضون ساعتين.
          </li>
          <li>
            لا تقم بإخبارالآخرين برقم حسابك ، كلمة المرور ، رمز التحقق أو أي معلومات أخرى عن الحساب
          </li>
          <li>
            لا تقم بإعطاء هاتفك الشخصي أوالكمبيوتر إلى الآخرين دون إشراف
          </li>
          <li>
            لن يقوم العاملين بالمنصة بطلب منك كلمة معلومات خاصة بك ، مثل كلمات المرور أو رموز التحقق لأي سبب
          </li>
        </ul>
        <p class="detail-list-title">3- الدفع</p>
        <ul class="detail-list detail-list-black">
          <li>بعد نجاح عملية الدفع ، تأكد من النقر على "تأكيد الدفع" خلال فترة صلاحية الطلب.</li>
          <li>يرجى تحويل المبلغ وفقًا لأوامر التشغيل ، ولا يمكن تقسيم الطلب الواحد إلى عدة مرات. </li>
          <li>يرجى التأكد من معلومات حساب الدفع الصحيحة أولًا (اسم الحساب ورقم الحساب) ثم قم بالتحويل إلى البنك.</li>
          <li>أثناء عملية التحويل، لا يمكن ملء الملاحظات بأي محتوى متعلق بالعملة الرقمية ،على سبيل المثال لا الحصر: BTC ، ETH ، USDT إلخ. </li>
          <li> احتفظ بوثائق التحويل (مثل الفواتير والإيصالات ولقطات الشاشة وما إلى ذلك) بحيث يمكنك استخدامها كدليل للدفاع عن حقوقك في حالة وجود مشكلة في المعاملة. </li>
        </ul>
        <p class="detail-list-title">4- تأكيد الإستلام </p>
        <ul class="detail-list">
          <li> تأكد من التعامل مع العميل الرسمي للبنك لتأكيد وصول الأموال ، ومن ضمنها: الخدمات المصرفية عبر الإنترنت ، والخدمات المصرفية عبر الهاتف الجوال ، وأجهزة الصراف الآلي ، ومكتب الإستقبال في البنوك. ولا يمكن تأكيد وصول الأموال من خلال القنوات غير الرسمية ، على سبيل المثال لا الحصر: الرسائل النصية ، رسائل التطبيقات ، أو رسائل الواتساب. </li>
          <li> تأكد من أن معلومات الإستلام هي نفس معلومات الطلب ، ثم القيام بـ"تأكيد الإستلام" ، تتضمن على سبيل المثال لا الحصر: رقم الحساب ، المصرف المرتجع ، اسم المرسل ، مبلغ التحويل ، وقت التحويل.</li>
        </ul>
        <p class="detail-list-title">5- نطاق الضمان:</p>
        <ul class="detail-list detail-list-black">
          <li>خسائر رأس المال الناتجة عن تجميد الحسابات البنكية.</li>
          <li> خسائر رأس المال الناتجة عن سوء الادارة.</li>
          <li>خسائر الأصول الناتجة عن إنتهاء وقت صلاحية عملية تأكيد الدفع. </li>
        </ul>
        <p class="detail-list-title">6- قيمة الضمان:</p>
        <ul class="detail-list">
          <li>ضمان المعاملات هو 2000ETH بالمقاسمة. </li>
          <li>حقوق تفسير هذا البند ملك upex.io فقط لا غير.</li>
          <li>تم تفعيل تلك الآلية في 2018/8/15（GMT+8）</li>
        </ul>
      </div>
      <div class="detail-wrap-bot"></div>
    </div>
    <div slot="footer"></div>
  </Modal>
</div>
@@include('footer.html')
<script src="../scripts/locale/my_introduce.js?rev=@@hash"></script>
<script src="../scripts/my_introduce.js?rev=@@hash"></script>
</body>
</html>
