<!DOCTYPE HTML>
<html lang="zh">

<head>
  <title>UPEX</title>
  @@include('header.html')
  <link rel="stylesheet" href="../styles/pay.css?rev=@@hash">
</head>

<body>
  <div id="app" v-cloak>
    <o-header ref="header"></o-header>
    <div class="wrapper" style="margin-bottom: 70px;margin-top:30px;" v-show="orderInfo.sequence">
      <div class="pay" v-if="step < 4">
        <div class="pay-header">
          <h3 v-if="step == 1">
            {{ $t('waitForBuyer') }}
          </h3>
          <h3 v-if="step == 2">
            {{ $t('buyerPaid') }} {{orderInfo.totalPrice}} SAR
          </h3>
          <h3 v-if="step == 3">
            {{ $t('transactionSuccessful') }} - {{ $t('received') }}
            <span style="color:#0CBF48">{{orderInfo.totalPrice}} SAR</span>
          </h3>
          <div class="step-wrapper">
            <Steps :current="step">
              <Step :content="$t('orderSuccess')"></Step>
              <Step :content="$t('waitForBuyer')"></Step>
              <Step :content="$t('payAndConfirm')"></Step>
              <Step :content="$t('tradeDone')"></Step>
            </Steps>
          </div>
        </div>
        <div class="pay-info">
          <Row>
            <i-col span="12">
              <div class="info-header">{{ $t('orderInfo') }}</div>
              <ul v-if="step<3">
                <li class="info-items">
                  <Row>
                    <i-col span="6" class="info-key">{{ $t('orderNo') }} :</i-col>
                    <i-col span="18" class="info-value">{{orderInfo.sequence}}</i-col>
                  </Row>
                </li>
                <li class="info-items">
                  <Row>
                    <i-col span="6" class="info-key">{{ $t('totalPurchase') }} :</i-col>
                    <i-col span="18" class="info-value">{{orderInfo.volume}} USDT</i-col>
                  </Row>
                </li>
                <li class="info-items">
                  <Row>
                    <i-col span="6" class="info-key">{{ $t('totalPrice') }} :</i-col>
                    <i-col span="18" class="info-value">{{orderInfo.totalPrice}} SAR</i-col>
                  </Row>
                </li>
              </ul>
              <ul v-if="step == 3">
                <li class="info-items">
                  <Row>
                    <i-col span="6" class="info-key">{{ $t('orderNo') }} :</i-col>
                    <i-col span="18" class="info-value">{{orderInfo.orderId}}</i-col>
                  </Row>
                </li>
                <li class="info-items">
                  <Row>
                    <i-col span="6" class=" info-key">{{ $t('received') }} :</i-col>
                    <i-col span="18" style="color: #0CBF48" class="info-value">{{orderInfo.totalPrice}} SAR</i-col>
                  </Row>
                </li>
                <li class="info-items">
                  <Row>
                    <i-col span="6" class="info-key">{{ $t('sold') }} :</i-col>
                    <i-col span="18" style="color: #0CBF48" class="info-value">{{orderInfo.totalVolume}} USDT</i-col>
                  </Row>
                </li>
              </ul>
            </i-col>
            <i-col span="12">
              <div class="info-header">{{ $t('buyInfo') }}</div>
              <div>
                <Row>
                  <i-col span="9">
                    <Icon type="person" size="16"></Icon>
                    {{ $t('buyName') }}
                  </i-col>
                  <i-col span="15">
                    {{orderInfo.buyer.showNickName}}
                  </i-col>
                </Row>
                <Row>
                  <i-col span="9">
                    <Icon type="iphone" size="20" style="width: 12px;text-align: center;"></Icon>
                    {{ $t('phone') }}
                  </i-col>
                  <i-col span="15">
                    {{orderInfo.buyer.hideMobileNumber}}
                  </i-col>
                </Row>
                <Row>
                  <i-col span="9">
                    <Icon type="android-contacts" size="16"></Icon>
                    {{ $t('socialNumber') }}
                  </i-col>
                  <i-col span="15">
                    <input type="text" name="Social Number" readonly class="input-copy" :value="orderInfo.socialNumber" @click="copy($event)">
                    <a class="contact" :href="'https://api.whatsapp.com/send?phone='+whatsAppLink" target="_blank">
                      <Icon type="ios-telephone-outline"></Icon>{{ $t('contactBuyer') }}</a>
                  </i-col>
                </Row>
              </div>
            </i-col>
          </Row>
        </div>
        <div class="pay-status" v-if="step == 1" v-cloak>
          <p class="pay-notice">
            {{ $t('waitForBuyer') }}<br>
            {{ $t('restTime') }}: <span class="text-error">{{leftTime}}</span>
          </p>
          <p class="pay-tips">
            1. {{ $t('helpTipsFirst') }}<br>
            2. {{ $t('helpTipsSecond') }}
          </p>
        </div>
        <div class="pay-status" v-if="step == 2" v-cloak>
          <p class="pay-notice" v-if="leftTime != 0">
            {{ $t('lastFourNumber') }} {{ orderInfo.bankCardLastNum }}, {{ $t('payYou') }}
            <span class="text-warn"> {{orderInfo.totalPrice}}</span> SAR , {{ $t('receiveAll') }}<br>
            {{ $t('notReceiveAndWait') }}<br>
            {{ $t('restTime') }}: <span class="text-error"> {{ leftTime }}</span>
          </p>
          <p class="pay-notice" v-else>
            <span class="text-error"> {{ $t('orderExpired') }}</span>
          </p>
          <div class="pay-action" v-if="leftTime != 0">
            <button @click="confirmOrder" class="pay-action-btn">{{ $t('confirm') }}</button>
          </div>
          <p class="pay-tips">
            1. {{ $t('helpTipsThird') }}<br>
            2. {{ $t('helpTipsFourth') }}
          </p>
          <div v-if="leftTime == 0" class="pay-tips">
            <a href="otc_adverts.html">{{ $t('backToHome') }}</a>
          </div>
        </div>
        <div class="pay-status" v-if="step == 3">
          <p class="pay-notice text-success">{{ $t('tradeDone') }}</p>
          <p class="pay-tips">
            <a href="otc_adverts.html">{{ $t('backToHome') }}</a>
          </p>
        </div>
      </div>
      <div v-if="step==4 || step==7" class="wrapper">
        <div class="expired">
          <h2 style="color:red;">{{ step == 4 ? $t('orderCanceledTips') : $t('orderExpiredTips') }}</h2>
          <ul>
            <li>
              <span>{{ $t('reasonForFailure') }} :</span>
              <span v-if="step == 4">{{ $t('orderCanceled') }}</span>
              <span v-if="step == 7">{{ orderInfo.paymentTime ? $t('outOfTimeToConfirm') : $t('outOfTimeToPay') }}</span>
            </li>
            <li>
              <span>{{ $t('orderNo') }} :</span>
              <span>{{ orderInfo.sequence }}</span>
            </li>
            <li>
              <span>{{ $t('totalPurchase') }} :</span>
              <span>{{ orderInfo.volume }} USDT</span>
            </li>
            <li>
              <span>{{ $t('totalPrice') }} :</span>
              <span>{{ orderInfo.totalPrice }} SAR</span>
            </li>
          </ul>
          <div class="return">
            <a href="otc_adverts.html">{{ $t('backToHome') }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  @@include('footer.html')
  <script src="../scripts/locale/wait_pay.js?rev=@@hash"></script>
  <script src="../scripts/wait_pay.js?rev=@@hash"></script>
</body>

</html>