<!DOCTYPE HTML>
<html lang="ar">

<head>
  <title>UPEX</title>
  @@include('header.html')
  <link rel="stylesheet" href="../styles/my_order.css?rev=@@hash">
</head>

<body>
  <div id="app" v-cloak>
    <o-header ref="header"></o-header>
    <div class="wrapper">
      <div class="order">
        <div class="header">
          <h3>{{ $t('myOrder') }}</h3>
        </div>
        <i-table size="large" :columns="orderColumn" :data="orderData" :loading="orderDataLoading"></i-table>
        <div class="pager">
          <Page @on-change="getMyOrder" :page-size="pageSize" :total="total" :current="current" size="small"></Page>
        </div>
      </div>
    </div>
  </div>
  @@include('footer.html')
  <script src="../scripts/locale/my_order.js?rev=@@hash"></script>
  <script src="../scripts/my_order.js?rev=@@hash"></script>
</body>

</html>