<!DOCTYPE HTML>
<html lang="zh-cn">

<head>
  <title>UPEX</title>
  @@include('header.html')
  <link rel="stylesheet" href="../styles/pay.css?rev=@@hash">
</head>

<body>
  <div id="app" v-cloak>
    <o-header ref="header"></o-header>
    <div v-if="step < 4" class="wrapper" style="margin-bottom: 70px;margin-top:30px;" v-show="orderInfo.sequence">
      <div class="pay">
        <div class="pay-header">
            <h3 v-if="step==1">
              {{ $t('payToSeller') }}
              <span>{{orderInfo.totalPrice}}SAR</span>
            </h3>
            <h3 v-if="step==2">
              {{ $t('waitForSellerConfirm') }}
            </h3>
            <h3 v-if="step==3">
              <span>
                {{ $t('transactionSuccessful') }} - {{ $t('receivePayment') }}
                <span style="color:#0CBF48"> {{orderInfo.totalPrice}} USDT</span>
              </span>
            </h3>
            <div class="step-wrapper">
              <Steps :current="step">
                <Step :content="$t('orderSuccess')"></Step>
                <Step :content="$t('payAndConfirm')"></Step>
                <Step :content="$t('receiveAndConfirm')"></Step>
                <Step :content="$t('USDTArrival')"></Step>
              </Steps>
            </div>
        </div>
        <div class="pay-info">
          <Row>
            <i-col span="12">
              <div class="info-header">{{ $t('orderInfo') }}</div>
                <ul v-if="step < 3">
                  <li class="info-items">
                    <Row>
                      <i-col span="6" class="info-key">{{ $t('orderNo') }} :</i-col>
                      <i-col span="18" class="info-value">{{orderInfo.sequence}}</i-col>
                    </Row>
                  </li>
                  <li class="info-items">
                    <Row>
                      <i-col span="6" class="info-key">{{ $t('totalPurchase') }} :</i-col>
                      <i-col span="18" class="info-value">{{orderInfo.volume}} USDT</i-col>
                    </Row>
                  </li>
                  <li class="info-items">
                    <Row>
                      <i-col span="6" class="info-key">{{ $t('totalPrice') }} :</i-col>
                      <i-col span="18" class="info-value">{{orderInfo.totalPrice}} SAR</i-col>
                    </Row>
                  </li>
                </ul>
                <ul v-if="step==3">
                  <li class="info-items">
                    <Row>
                      <i-col span="6" class="info-key">{{ $t('orderNo') }} :</i-col>
                      <i-col span="18" class="info-value">{{orderInfo.sequence}}</i-col>
                    </Row>
                  </li>
                  <li class="info-items">
                    <Row>
                      <i-col span="6" class=" info-key">{{ $t('received') }} :</i-col>
                      <i-col span="18" style="color: #0CBF48" class="info-value">{{orderInfo.volume}} USDT</i-col>
                    </Row>
                  </li>
                  <li class="info-items">
                    <Row>
                      <i-col span="6" class="info-key">{{ $t('paid') }} :</i-col>
                      <i-col span="18" style="color: #0CBF48" class="info-value">{{orderInfo.totalPrice}} SAR</i-col>
                    </Row>
                  </li>
                  <li class="info-items">
                    <Row>
                      <i-col span="6" class="info-key">{{ $t('timeOfArrival') }} :</i-col>
                      <i-col span="18" class="info-value">{{ arrivalTime }}</i-col>
                    </Row>
                  </li>

                </ul>
            </i-col>
            <i-col span="12">
              <div class="info-header">{{ $t('sellerInfo') }}</div>
                <ul class="bankcard">
                  <li v-for="(item, index) in orderInfo.paymentBanks">
                    <Row>
                      <i-col span="9" class="info-key">
                        {{ $t('bank') }}
                      </i-col>
                      <i-col span="15" class="info-value">{{item.bankName}}</i-col>
                    </Row>
                    <Row>
                      <i-col span="9" class="info-key">
                        {{ $t('cardNo') }}
                      </i-col>
                      <i-col span="15" class="info-value">{{item.cardNo}}</i-col>
                    </Row>
                    <Row>
                      <i-col span="9" class="info-key">
                        {{ $t('accountName') }} :
                      </i-col>
                      <i-col span="15" class="info-value">{{item.name}}</i-col>
                    </Row>
                    <Row>
                      <i-col span="9" class="info-key">
                        Iban {{ $t('iBanNo') }}
                      </i-col>
                      <i-col span="15" class="info-value">{{item.ibanNo}}</i-col>
                    </Row>
                  </li>
                </ul>
                <Row>
                  <i-col span="9">
                    <Icon type="android-call"></Icon>
                    {{ $t('phone') }}
                  </i-col>
                  <i-col span="15">
                    {{orderInfo.seller.hideMobileNumber}}
                  </i-col>
                </Row>
                <Row>
                  <i-col span="9">
                    <Icon type="android-contacts"></Icon>
                    {{ $t('socialNumber') }}
                  </i-col>
                  <i-col span="15">
                    <input type="text" name="Social Number" readonly class="input-copy" :value="orderInfo.seller.userExtView.watchapp" @click="copy($event)">
                    <a class="contact" :href="'https://api.whatsapp.com/send?phone='+whatsAppLink" target="_blank">
                      <Icon type="ios-telephone-outline"></Icon>{{ $t('contactSeller') }}</a>
                  </i-col>
                </Row>
            </i-col>
          </Row>
        </div>
        <div class="pay-status" v-if="step < 2">
          <p class="pay-notice">
            {{ $t('payInTime') }}
            <span class="text-error">{{leftTime}}</span>
          </p>
          <div class="pay-action">
            <button @click="toPay" class="pay-action-btn">{{ $t('iPaid') }}</button>
            <span class="pay-action-tips">{{ $t('iPaidTips') }}</span>
          </div>
          <i-button type="text" size="large" class="cancel-order" @click.native="cancelPay">{{ $t('cancelOrder') }}</i-button>
        </div>
        <div class="pay-status" v-if="step==2">
          <p class="pay-notice">
            {{ $t('sellerNotConfirmIn') }}<span class="text-success">24</span> {{ $t('hour') }}<br>
            {{ $t('restTime') }}<span class="text-error">{{leftTime}}</span>
          </p>
        </div>
        <div class="pay-status" v-if="step==3">
          <p class="pay-tips">
            <a href="otc_adverts.html">{{ $t('backToHome') }}</a>
          </p>
        </div>
        <div class="pay-status" v-if="step < 3">
          <p class="pay-tips">
            1. {{ $t('helpTipsFirst') }}<br>
            2. {{ $t('helpTipsSecond') }}<br>
            3. {{ $t('helpTipsThird') }}<br>
            4. {{ $t('helpTipsFourth') }}
          </p>
        </div>
      </div>
    </div>
    <!--订单超时显示-->
    <div v-if="step==4 || step==7" class="wrapper">
      <div class="expired">
        <h2 style="color:red;">{{ step == 4 ? $t('orderCanceledTips') : $t('orderExpiredTips') }}</h2>
        <ul>
          <li>
            <span>{{ $t('reasonForFailure') }} :</span>
            <span>{{ step == 4 ? $t('orderCanceled') : $t('orderExpired') }}</span>
          </li>
          <li>
            <span>{{ $t('orderNo') }} :</span>
            <span>{{ orderInfo.sequence }}</span>
          </li>
          <li>
            <span>{{ $t('totalPurchase') }} :</span>
            <span>{{ orderInfo.volume }} USDT</span>
          </li>
          <li>
            <span>{{ $t('totalPrice') }} :</span>
            <span>{{ orderInfo.totalPrice }} SAR</span>
          </li>
        </ul>
        <p>{{ $t('paidAndClick') }}
          <a href="#" class="text-error">{{ $t('appeal') }}</a>
        </p>
        <div class="return">
          <a href="otc_adverts.html">{{ $t('backToHome') }}</a>
        </div>
      </div>
    </div>
    <!--订单超时END-->
    <div class="o-modal pay-modal" :class="isPayDialogShow?'is-show':'is-not-show'">
      <div class="content">
        <div class="content-wrapper" style="width:440px; height: 223px;">
          <div class="pay-modal-title">
            <h3>{{ $t('hasPaid') }}</h3>
            <p>{{ $t('notPayWarn') }}</p>
          </div>
          <Row class="pay-modal-content">
            <i-col span="8">
              <i-button type="text" size="large" @click.native="isPayDialogShow = false">
                <u>{{ $t('cancel') }}</u>
              </i-button>
            </i-col>
            <i-col span="16">
              <button @click="paid" class="paid">{{ $t('alreadyPaid') }}</button>
            </i-col>
          </Row>
        </div>
      </div>
    </div>
    <!-- -->
    <div class="o-modal pay-info-modal" :class="isPayInfoDialogShow? 'is-show': 'is-not-show'">
      <div class="content">
        <div class="content-wrapper" style="width:500px; height: 424px ;">
          <div class="p-i-header">
            My transfer information
            <Icon @click="close" type="close" class="close"></Icon>
          </div>
          <div class="p-i-content">
            <ul>
              <li>
                <label>{{ $t('lastFourNumber') }}</label>
                <div>
                  <input type="text" maxlength="4" v-model="card">
                  <p class="error" v-if="cardErrorTips">{{ cardErrorTips }}</p>
                </div>
              </li>
              <li>
                <label>{{ $t('lastFourNumber') }}</label>
                <div>
                  <input type="text" maxlength="4" v-model="recard">
                  <p class="error" v-if="recardErrorTips">{{ recardErrorTips }}</p>
                </div>
              </li>
              <li>
                <button @click="confirm" class="confirm">{{ $t('confirm') }}</button>
                <p>
                  {{ $t('transferTips') }}
                </p>
                <p class="error" v-if="infoError">{{ infoError }}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  @@include('footer.html')
  <script src="../scripts/locale/pay.js?rev=@@hash"></script>
  <script src="../scripts/pay.js?rev=@@hash"></script>
</body>

</html>