<!DOCTYPE HTML>
<html lang="ar">

<head>
  <title>UPEX</title>
  @@include('header.html')
  <link rel="stylesheet" href="../styles/my_goods.css?rev=@@hash">
</head>

<body>
  <div id="app" v-cloak>
    <o-header ref="header"></o-header>
    <div class="wrapper">
      <div class="pend-order">
        <div class="header">
          <h3>{{ $t('pendingOrder') }}</h3>
        </div>
        <i-table size="large" :columns="pendingOrdersColumn" :data="pendingOrdersData" :loading="pendingOrdersDataLoading"></i-table>
        <div class="pager">
          <Page :total="pendingOrdersCount" @on-change="getAdvert" :current="current" :page-size="pageSize" size="small"></Page>
        </div>
        <Modal :title="modalMsg.title" v-model="showModal" :mask-closable="false">
          <div>{{ modalMsg.desc }}</div>
          <div slot="footer">
            <i-button type="link" @click="showModal = false">{{ $t('cancel') }}</i-button>
            <i-button type="primary" @click="manualAction">{{ modalMsg.confirmText }}</i-button>
          </div>
        </Modal>
      </div>
    </div>
  </div>
  @@include('footer.html')
  <script src="../scripts/locale/my_goods.js?rev=@@hash"></script>
  <script src="../scripts/my_goods.js?rev=@@hash"></script>
</body>

</html>