<!DOCTYPE HTML>
<html lang="zh-cn">

<head>
  <title>UPEX</title>
  @@include('header.html')
  <link rel="stylesheet" href="../styles/my_account.css?rev=@@hash">
</head>

<body>
  <div id="account" v-cloak>
    <o-header ref="header"></o-header>
    <div class="banner">
      {{ $t('myAccount') }}
    </div>
    <div class="container account">
      <!-- 账户与安全信息 -->
      <Row class="container-row" v-show="user.id">
        <i-col span="12">
          <dl class="account-card">
            <dt>
              <Row class="account-row">
                <i-col span="12">
                  <span class="account-row-title">{{ $t('accountInfo') }}</span>
                  <Tag color="#ff4d4d">{{ $t('accountFrozen') }}</Tag>
                </i-col>
                <i-col span="12" class="text-right">
                  <i-button type="text" size="small" @click="loginOut">{{ $t('loginOut') }}</i-button>
                </i-col>
              </Row>
            </dt>
            <dd>
              <Row>
                <i-col span="8" class="text-secondary">
                  <Icon type="person" color="#cfcfcf" size="16"></Icon>
                  {{ $t('accountNo') }}
                </i-col>
                <i-col span="8" class="text-strong">{{ user.id }}</i-col>
              </Row>
            </dd>
            <dd>
              <Row>
                <i-col span="8" class="text-secondary">
                  <Icon type="social-whatsapp" color="#cfcfcf" size="16"></Icon>
                  WhatsApp
                </i-col>
                <i-col span="8" class="text-strong">{{ user.userExtView.watchapp }}</i-col>
                <i-col span="8" class="text-right">
                  <i-button type="text" size="small" @click="modifyWhatsApp">{{ $t('change') }}</i-button>
                </i-col>
              </Row>
            </dd>
            <dd>
              <Row>
                <i-col span="8" class="text-secondary">
                  <Icon type="locked" color="#cfcfcf" size="16"></Icon>
                  {{ $t('password') }}
                </i-col>
                <i-col span="8" class="text-strong">********</i-col>
                <i-col span="8" class="text-right">
                  <i-button type="text" size="small" @click="modalPassword = true">{{ $t('change') }}</i-button>
                </i-col>
              </Row>
            </dd>
          </dl>
        </i-col>
        <i-col span="12">
          <dl class="account-card border-left">
            <dt>
              <Row class="account-row">
                <i-col span="12">
                  <span class="account-row-title">{{ $t('securitySet') }}</span>
                  <Badge :count="$t('unsafe')"></Badge>
                </i-col>
              </Row>
            </dt>
            <dd>
              <Row>
                <i-col span="8" class="text-secondary">
                  <Icon type="social-google" color="#cfcfcf" size="16"></Icon>
                  {{ $t('googleAuth') }}
                </i-col>
                <i-col span="8" class="text-strong">{{ user.googleAuthenticatorStatus ? $t('bound') : $t('unBound')}}</i-col>
                <i-col span="8" class="text-right" v-if="user.googleAuthenticatorStatus">
                  <i-switch controllable size="large" v-model="googleStatus" @on-change="modifyGoogleStatus">
                    <span slot="open">On</span>
                    <span slot="close">Off</span>
                  </i-switch>
                </i-col>
                <i-col span="8" class="text-right" v-else>
                  <i-button type="error" size="small" @click="isRegisterGoogleShow = true">{{ $t('bind') }}</i-button>
                </i-col>
              </Row>
            </dd>
            <dd>
              <Row>
                <i-col span="8" class="text-secondary">
                  <Icon type="email" color="#cfcfcf" size="16"></Icon>
                  Email
                </i-col>
                <i-col span="8" class="text-strong">{{ user.email ? user.email : $t('unBound') }}</i-col>
                <i-col span="8" class="text-right" v-if="user.email">
                  <i-button type="text" size="small" @click="modifyEmail">{{ $t('change') }}</i-button>
                </i-col>
                <i-col span="8" class="text-right" v-else>
                  <i-button type="error" size="small" @click="modifyEmail">{{ $t('bind') }}</i-button>
                </i-col>
              </Row>
            </dd>
            <dd>
              <Row>
                <i-col span="8" class="text-secondary">
                  <Icon type="iphone" color="#cfcfcf" size="20"></Icon>
                  {{ $t('phoneAuth') }}
                </i-col>
                <i-col span="8" class="text-strong">{{ user.hideMobileNumber }}</i-col>
                <i-col span="8" class="text-right" v-if="user.mobileAuthenticatorStatus">
                  <i-button type="text" size="small" @click="modifyPhone">{{ $t('change') }}</i-button>
                </i-col>
                <i-col span="8" class="text-right" v-else>
                  <i-button type="text" size="small" @click="modifyPhone">{{ $t('change') }}</i-button>
                </i-col>
              </Row>
            </dd>
          </dl>
        </i-col>
      </Row>
      <!-- 银行卡列表 -->
      <Row class="container-row">
        <i-col span="24">
          <Row class="account-row">
            <i-col span="12">
              <span class="account-row-title">{{ $t('bankCard') }}</span>
              {{ $t('bankCardTips') }}
            </i-col>
            <i-col span="12" class="text-right">
              <i-button type="text" size="small" icon="plus" @click="modifyBankInfo">{{ $t('addBankCard') }}</i-button>
            </i-col>
          </Row>
          <i-table size="small" :columns="bankColumn" :data="bankData"></i-table>
        </i-col>
      </Row>
      <!-- 登录/操作历史 -->
      <div class="container-row" style="margin-top: 2px;">
        <Tabs v-model="tabLogActive">
          <tab-pane :label="$t('loginHistory')" name="loginHistory">
            <i-table size="small" :columns="loginColumn" :data="loginData"></i-table>
            <Page :total="loginDataTotalCount" size="small" show-total @on-change="loginPageChange"></Page>
          </tab-pane>
          <tab-pane :label="$t('securityHistory')" name="securityHistory">
            <i-table size="small" :columns="securityColumn" :data="securityData"></i-table>
            <Page :total="securityDataTotalCount" size="small" show-total @on-change="securityPageChange"></Page>
          </tab-pane>
        </Tabs>
      </div>
    </div>
    <!-- 修改WhatsApp -->
    <Modal title="修改WhatsApp" v-model="modalWhatsApp">
      <i-form ref="formWhatsApp" :model="formWhatsApp" :rules="ruleWhatsApp" :label-position="top">
        <form-item label="WhatsApp" prop="number">
          <i-input
            v-model="formWhatsApp.number"
            maxlength="30"
            placeholder="Enter your WhatsApp number"
          >
            <i-select class="country-select" v-model="selectCountry" slot="prepend" filterable>
              <i-option
                v-for="(country, index) in countryArr"
                :key="index"
                :value="country.dialingCode"
                :label="country.dialingCode"
                style="width:100%;"
              >
                <span class="float-left">{{country.dialingCode}}</span>
                <span class="float-right" style="color:#aaaaaa;">{{country.enName}}</span>
              </i-option>
            </i-select>
          </i-input>
        </form-item>
      </i-form>
      <div slot="footer">
        <i-button type="text" @click="handleReset('formWhatsApp')" style="margin-left: 8px">取消</i-button>
        <i-button type="primary" @click="handleSubmit('formWhatsApp')">确定</i-button>
      </div>
    </Modal>
    <!-- 修改密码 -->
    <Modal title="修改密码" v-model="modalPassword">
      <i-form ref="formPassword" :model="formPassword" :rules="rulePassword" :label-position="top">
        <form-item label="原密码" prop="password">
          <i-input type="password" v-model="formPassword.password"></i-input>
        </form-item>
        <form-item label="新密码" prop="passwordNew">
          <i-input type="password" v-model="formPassword.passwordNew"></i-input>
        </form-item>
        <form-item label="重复新密码" prop="passwordReNew">
          <i-input type="password" v-model="formPassword.passwordReNew"></i-input>
        </form-item>
        <Tabs v-model="tabVerifyActive">
          <tab-pane :label="$t('googleAuth')" name="1" v-if="user.googleAuthenticatorStatus">
            <form-item label="" prop="google">
              <i-input v-model="formPassword.google" maxlength="30" placeholder="Enter your account name"></i-input>
            </form-item>
          </tab-pane>
          <tab-pane :label="$t('phoneAuth')" name="2" v-if="user.mobileAuthenticatorStatus">
            <form-item label="" prop="phone">
              <i-input v-model="formPassword.phone" maxlength="6" placeholder="Enter your phone number">
                <i-button slot="append" @click="sendMessageSecurity('Password', 5)" :disabled="sendDisabledPassword">{{ sendPlaceholderPassword }}</i-button>
              </i-input>
            </form-item>
          </tab-pane>
        </Tabs>
      </i-form>
      <div slot="footer">
        <i-button type="text" @click="handleReset('formPassword')" style="margin-left: 8px">取消</i-button>
        <i-button type="primary" @click="handleSubmit('formPassword')">确定</i-button>
      </div>
    </Modal>
    <!-- 修改谷歌 -->
    <myregistergoogle :register-google="isRegisterGoogleShow" :register-cookie="isregisterCookie"></myregistergoogle>
    <Modal title="关闭谷歌验证" v-model="modalGoogle">
      <i-form ref="formGoogle" :model="formGoogle" :rules="rulePassword" :label-position="top">
        <form-item label="短信验证" prop="phone">
          <i-input v-model="formGoogle.phone" maxlength="6" placeholder="Enter your phone code">
            <i-button slot="append" @click="sendMessageSecurity('Google', 30)" :disabled="sendDisabledGoogle">{{ sendPlaceholderGoogle }}</i-button>
          </i-input>
        </form-item>
        <form-item :label="$t('googleAuth')" prop="google">
          <i-input v-model="formGoogle.google" maxlength="6" placeholder="Enter your google code"></i-input>
        </form-item>
        <form-item label="登录密码" prop="password">
          <i-input type="password" v-model="formGoogle.password" placeholder="Enter your password"></i-input>
        </form-item>
      </i-form>
      <div slot="footer">
        <i-button type="text" @click="handleReset('formGoogle')" style="margin-left: 8px">取消</i-button>
        <i-button type="primary" @click="handleSubmit('formGoogle')">确定</i-button>
      </div>
    </Modal>
    <!-- 修改邮箱 -->
    <Modal title="修改邮箱" v-model="modalEmail">
      <i-form ref="formEmail" :model="formEmail" :rules="ruleEmail" :label-position="top">
        <form-item label="Email" prop="email">
          <i-input v-model="formEmail.email" maxlength="30" placeholder="Enter your Email number">
            <i-button slot="append" @click="sendMessageSecurity('Email', 2)" :disabled="sendDisabledBindEmail">{{ sendPlaceholderBindEmail }}</i-button>
          </i-input>
        </form-item>
        <form-item label="邮箱验证码" prop="verify">
          <i-input v-model="formEmail.verify" maxlength="30" placeholder="Enter your Email number"></i-input>
        </form-item>
        <Tabs v-model="tabVerifyActive">
          <tab-pane :label="$t('googleAuth')" name="1" v-if="user.googleAuthenticatorStatus">
            <form-item label="" prop="google">
              <i-input v-model="formEmail.google" maxlength="30" placeholder="Enter your account name"></i-input>
            </form-item>
          </tab-pane>
          <tab-pane :label="$t('phoneAuth')" name="2" v-if="user.mobileAuthenticatorStatus">
            <form-item label="" prop="phone">
              <i-input v-model="formEmail.phone" maxlength="6" placeholder="Enter your phone number">
                <i-button slot="append" @click="sendMessage('Email', 8)" :disabled="sendDisabledEmail">{{ sendPlaceholderEmail }}</i-button>
              </i-input>
            </form-item>
          </tab-pane>
        </Tabs>
      </i-form>
      <div slot="footer">
        <i-button type="text" @click="handleReset('formEmail')" style="margin-left: 8px">取消</i-button>
        <i-button type="primary" @click="handleSubmit('formEmail')">确定</i-button>
      </div>
    </Modal>
    <!-- 修改手机 -->
    <Modal title="修改手机" v-model="modalPhone">
      <i-form ref="formPhone" :model="formPhone" :rules="rulePhone" :label-position="top">
        <form-item :label="'原手机验证码(手机号' + user.hideMobileNumber + ')'" prop="oldVerify" v-if="user.mobileAuthenticatorStatus">
          <i-input v-model="formPhone.oldVerify" maxlength="6" placeholder="Enter your phone number">
            <i-button slot="append" @click="sendMessage('OldPhone', 3)" :disabled="sendDisabledOldPhone">{{ sendPlaceholderOldPhone }}</i-button>
          </i-input>
        </form-item>
        <form-item label="新手机号码" prop="phone">
          <i-input v-model="formPhone.phone" maxlength="30" placeholder="Enter your phone number">
            <i-select class="country-select" v-model="selectCountry" slot="prepend" filterable>
              <i-option
                v-for="(country, index) in countryArr"
                :key="index"
                :value="country.dialingCode"
                :label="country.dialingCode"
                style="width:100%;"
              >
                <span class="float-left">{{country.dialingCode}}</span>
                <span class="float-right" style="color:#aaaaaa;">{{country.enName}}</span>
              </i-option>
            </i-select>
          </i-input>
        </form-item>
        <form-item label="新手机验证码" prop="verify">
          <i-input v-model="formPhone.verify" maxlength="6" placeholder="Enter your verify number">
            <i-button slot="append" @click="sendMessageSecurity('NewPhone', 2)" :disabled="sendDisabledNewPhone">{{ sendPlaceholderNewPhone }}</i-button>
          </i-input>
        </form-item>
        <form-item label="谷歌验证码" prop="google">
          <i-input v-model="formPhone.google" maxlength="6" placeholder="Enter your account name"></i-input>
        </form-item>
      </i-form>
      <div slot="footer">
        <i-button type="text" @click="handleReset('formPhone')" style="margin-left: 8px">取消</i-button>
        <i-button type="primary" @click="handleSubmit('formPhone')">确定</i-button>
      </div>
    </Modal>
    <!-- 添加/修改银行卡 -->
    <div>
      <Modal title="修改银行卡" v-model="modalBankInfo">
        <i-form ref="formBankInfo" :model="formBankInfo" :rules="ruleBankInfo" :label-position="top">
          <form-item label="银行名称" prop="bankName">
            <i-input v-model="formBankInfo.bankName" maxlength="30" placeholder="Enter your bank name"></i-input>
          </form-item>
          <form-item label="账户名称" prop="name">
            <i-input v-model="formBankInfo.name" maxlength="30" placeholder="Enter your account name"></i-input>
          </form-item>
          <form-item label="卡号" prop="cardNo">
            <i-input v-model="formBankInfo.cardNo" maxlength="30" placeholder="Enter your account name"></i-input>
          </form-item>
          <form-item label="iban号码" prop="ibanNo">
            <i-input v-model="formBankInfo.ibanNo" maxlength="30" placeholder="Enter your account ibanNo"></i-input>
          </form-item>
        </i-form>
        <div slot="footer">
          <i-button type="text" @click="handleReset('formBankInfo')" style="margin-left: 8px">取消</i-button>
          <i-button type="primary" @click="handleSubmit('formBankInfo')">确定</i-button>
        </div>
      </Modal>
      <Modal title="确认绑定" class="modal-notice info" v-model="modalBankConfirm">
        <div class="modal-notice-header">
          <Row>
            <i-col span="8" class="text-secondary">银行名称</i-col>
            <i-col span="16" class="text-strong">{{ formBankInfo.bankName }}</i-col>
          </Row>
          <Row>
            <i-col span="8" class="text-secondary">账户名称</i-col>
            <i-col span="16" class="text-strong">{{ formBankInfo.name }}</i-col>
          </Row>
          <Row>
            <i-col span="8" class="text-secondary">银行卡号</i-col>
            <i-col span="16" class="text-strong">{{ formBankInfo.cardNo }}</i-col>
          </Row>
          <Row>
            <i-col span="8" class="text-secondary">iban号码</i-col>
            <i-col span="16" class="text-strong">{{ formBankInfo.ibanNo }}</i-col>
          </Row>
        </div>
        <div class="modal-notice-footer">
          <i-form ref="formBankConfirm" :model="formBankConfirm" :rules="ruleBankConfirm" :label-position="top">
            <Tabs v-model="tabVerifyActive">
              <tab-pane :label="$t('googleAuth')" name="1">
                <form-item label="" prop="google">
                  <i-input v-model="formBankConfirm.google" maxlength="30" placeholder="Enter your account name"></i-input>
                </form-item>
              </tab-pane>
              <tab-pane :label="$t('phoneAuth')" name="2">
                <form-item label="" prop="phone">
                  <i-input v-model="formBankConfirm.phone" maxlength="6" placeholder="Enter your phone number">
                    <i-button slot="append" @click="sendMessage('Bank', 3)" :disabled="sendDisabledBank">{{ sendPlaceholderBank }}</i-button>
                  </i-input>
                </form-item>
              </tab-pane>
            </Tabs>
          </i-form>
        </div>
        <div slot="footer">
          <i-button type="text" @click="handleReset('formBankConfirm')" style="margin-left: 8px">取消</i-button>
          <i-button type="primary" @click="handleSubmit('formBankConfirm')">确定</i-button>
        </div>
      </Modal>
    </div>
  </div>
  @@include('footer.html')
  <script src="../scripts/locale/my_account.js?rev=@@hash"></script>
  <script src="../scripts/my_account.js?rev=@@hash"></script>
</body>

</html>