@charset "UTF-8";
* {
  direction: inherit;
}

body[dir='rtl'] * {
  direction: rtl;
  unicode-bidi: embed;
}

body[dir='ltr'] * {
  direction: ltr;
  unicode-bidi: embed;
}

*[dir='ltr'] {
  direction: ltr;
}

*[dir='rtl'] {
  direction: rtl;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.text-white {
  color: #fff;
}

body[dir='rtl'] .ml-10 {
  margin-left: 0;
  margin-right: 10px;
}

body[dir='rtl'] .mr-10 {
  margin-right: 0;
  margin-left: 10px;
}

.ivu-form-item-required .ivu-form-item-label:before {
  display: none;
}

.poptip-card.ivu-poptip {
  width: 100%;
}
.poptip-card .ivu-poptip-rel {
  width: 100%;
}
.poptip-card .ivu-poptip-inner {
  height: 40px;
  line-height: 26px;
  font-size: 22px;
  font-weight: bold;
}
.poptip-card .ivu-poptip-popper {
  width: 100%;
}

.border-top-dashed {
  border-top: 1px #f4f4f4 dashed;
}

.text-blue{
  color: #2d8cf0;
}

.ivu-tabs.spreaded {
  height: 300px;
  transition: ease 500ms;
}

.authority {
  padding-bottom: 10px;
}
.authority .ivu-tabs {
  margin-bottom: 30px;
}
.authority .ivu-tabs-bar,
.authority .ivu-form-item {
  margin-bottom: 30px;
}
.authority-tips {
  padding-top: 10px;
}
.authority-footer {
  padding-top: 30px;
}

.country-select {
  min-width: 86px;
}
.country-select .ivu-select-input {
  text-align: center !important;
}
.country-select .ivu-select-dropdown {
  left: 1px !important;
  width: 100% !important;
  overflow-x: hidden;
}
.country-select .ivu-select-item {
  height: 26px;
}


.modal-notice .ivu-modal-body {
  padding: 0;
}

.modal-notice .ivu-row {
  line-height: 32px;
}

.modal-notice .modal-notice-header {
  padding: 20px 50px;
}

.modal-notice.primary .modal-notice-header {
  background-color: #596fed;
}

.modal-notice.info .modal-notice-header {
  background-color: #f4f4f4;
}

.modal-notice.warning .modal-notice-header {
  background-color: #AB0F0F;
}

.modal-notice .modal-notice-footer {
  padding: 20px 20px 0;
}

/* 下面是原来的样式 */

div,
ul {
  margin: 0 auto;
}

ul > li {
  list-style: none;
}

.flex-wrapper {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.wrapper {
  width: 1200px;
}

/* to avoid {{}}  expression when render dom*/
[v-cloak] {
  display: none;
}
@font-face {
  font-family: 'font_family';
  src: url('../../fonts/iconfont.ttf');
}
.font_family{
  font-family:"font_family" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-size: 14px;
  background-color: #ebebeb;
}

button {
  cursor: pointer;
}

input::-webkit-inner-spin-button {
  display: none !important;
}

.is-show {
  display: block !important;
}

.is-not-show {
  display: none;
}

.error {
  border-color: red;
  color: red;
}

.success {
  color: #0cbf48;
}

/*  style of o-modal			 */

.o-modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(55, 55, 55, 0.6);
  height: 100%;
  z-index: 10000;
}

.o-modal > .content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}

.o-modal > .content > .content-wrapper {
  position: relative;
  top: 20%;
  margin: 0 auto;
  padding: 0;
  width: 500px;
  background-color: white;
  border-radius: 5px;
}

/******************************
 * style of navbar			  *
 ******************************/

.om-header {
  padding: 0 40px;
  height: 50px;
  background-color: #0f0f10;
  color: #adadad;
}

.om-header .om-header-row {
  margin: 0 auto;
  width: 1200px;
}

.om-header .logo-wrapper {
  margin-top: 14px;
}

.om-header .my-orders:hover .order-card {
  display: block !important;
}

.om-header .management > ul > li {
  position: relative;
}

.om-header .om-market > ul > li,
.om-header .management > ul > li {
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
}


.om-header .om-market > ul > li > a,
.om-header .management > ul > li > a {
  line-height: 50px;
  color: #adadad;
}

.om-header > .ivu-row > .ivu-col-span-10:last-child {
  padding-right: 20px;
}

.om-header ul > li > a > svg {
  position: relative;
  top: 3px;
}


.om-header .order-card {
  width: 365px;
  min-height: 430px;
  position: absolute;
  background: #ffffff;
  border-radius: 3px;
  right: 0;
  z-index: 1002;
  box-shadow: 0px 2px 9px 0px rgba(210, 210, 210, 0.46);
}

.om-header .order-card .card-header {
  padding: 14px 15px;
  height: 48px;
  line-height: 20px;
  border-bottom: 1px solid #eeeeee;
}

.om-header .order-card ul > li .ivu-row {
  padding: 16px;
  border-bottom: 1px solid #eeeeee;
}

.om-header .order-card ul > li .ivu-row .ivu-col-span-4:first-child {
  height: 66px;
  line-height: 66px;
}

.om-header .order-card .buyType,
.om-header .order-card .sellType {
  display: inline-block;
  margin-top: 4px;
  font-size: 12px;
  height: 30px;
  width: 30px;
  background: #ff2e2e;
  border-radius: 50%;
  text-align: center;
  line-height: 33px;
  color: white;
}

.om-header .order-card .sellType {
  background: rgba(92, 149, 234, 1);

}

.om-header .order-card ul > li .ivu-row .ivu-col > .tip {
  color: #333333;
}

.om-header .order-card .view {
  display: inline-block;
  margin-top: 10px;
  padding: 2px 10px;
  border: 1px solid #4878f6;
  text-align: center;
  border-radius: 10px;
  font-size: 10px;
}

.om-header .order-card .card-footer {
  text-align: center;
  margin-top: 6px;
  text-align: center;
}

.om-header .items > span {
  display: inline-block;
  line-height: 50px;
}

.om-header .items .ivu-badge a {
  color: #adadad;
}

.om-header .ivu-dropdown {
  line-height: 50px;
}

.om-header .ivu-dropdown-rel > a {
  color: #adadad;
}

.om-header .ivu-dropdown-menu > a {
  color: #495060;
}

.order-dropdown .ivu-badge-count{
  padding: 0;
  min-width: 16px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  box-shadow: none;
}

.order-dropdown .ivu-dropdown-item:not(:first-child) {
  padding: 16px 22px;
  height: 66px;
  line-height: 16px;
  border-top: 1px solid #e6e6e6;
}

.order-dropdown .ivu-dropdown-item.order-dropdown-empty {
  padding: 120px 0;
  height: 300px;
}

.order-dropdown .ivu-row,
.order-dropdown .ivu-col {
  height: 100%;
}

.order-dropdown .ivu-col h4 {
  margin-bottom: 6px;
}

.order-dropdown .ivu-col .ivu-avatar-string {
  left: 0 !important;
  width: 100%;
}

.order-dropdown .order-dropdown-view {
  display: inline-block;
  margin-top: 6px;
  padding: 2px 8px;
  border: 1px solid #5C95EA;
  border-radius: 16px;
}

.om-header .arrow {
  border: 10px solid #020202;
  z-index: 10000000;
  width: 6px;
  height: -14px;
  position: absolute;
  top: -23px;
  right: 14px;
  border-color: #ff000000;
  border-bottom: 13px solid white;
}

.banner {
  background-color: rgb(25, 25, 32);
  height: 220px;
  background-position: center;
  background-size: cover;
}

html[lang='zh'] .banner,
html[lang='en'] .banner {
  background-image: url('../../images/topbanner-en.png');
}

html[lang='ar'] .banner {
  background-image: url('../../images/topbanner-ar.png');
}

.banner > div {
  text-align: center;
  line-height: 220px;
  color: white;
}
/*****************************/

/*       bind card style     */

/*****************************/

.add-bankcard-modal .content .content-wrapper {
  background: white;
  border-radius: 5px;
}

.add-bankcard-modal .content .content-wrapper .o-header {
  position: relative;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #e6e6e6;
  padding: 0 30px;
}

.add-bankcard-modal .content .content-wrapper .o-header span {
  font-size: 18px;
  font-family: SanFranciscoDisplay-Semibold;
  color: #333333;
}

.add-bankcard-modal .content .content-wrapper .o-header .close {
  position: absolute;
  right: 30px;
  top: 20px;
}

.add-bankcard-modal .content .content-wrapper .o-content {
  padding: 0 50px 30px;
}

.add-bankcard-modal .content .content-wrapper .o-content ul li {
  list-style: none;
  margin-top: 30px;
}

.add-bankcard-modal .content .content-wrapper .o-content ul li p {
  font-size: 14px;
  font-family: SanFranciscoDisplay-Medium;
  color: #333333;
}

.add-bankcard-modal .content .content-wrapper .o-content ul li input {
  height: 40px;
  width: 400px;
  background: #fafafa;
  border-radius: 2px;
  border: 1px solid #eeeeee;
}

.add-bankcard-modal .content .content-wrapper .o-content ul li button {
  outline: none;
  border: none;
  width: 400px;
  height: 44px;
  background: #ffed00;
  border-radius: 5px;
}

/*********************************/

/* style of confirm bind card    */

/*********************************/

.confirm-bankcard-modal .content .content-wrapper .o-header {
  position: relative;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #e6e6e6;
  padding: 0 30px;
}

.confirm-bankcard-modal .content .content-wrapper .o-header span {
  font-size: 18px;
  font-family: SanFranciscoDisplay-Semibold;
  color: #333333;
}

.confirm-bankcard-modal .content .content-wrapper .o-header .close {
  position: absolute;
  right: 30px;
  top: 20px;
}

.confirm-bankcard-modal .content .content-wrapper .o-content .info {
  font-size: 16px;
  color: white;
  height: 218px;
  background: linear-gradient(-138.7deg, #596fed, #4878f6);
  padding: 0 40px;
}

.confirm-bankcard-modal .content .content-wrapper .o-content .info ul {
  padding-top: 25px;
}

.confirm-bankcard-modal .content .content-wrapper .o-content .info ul li {
  list-style: none;
  margin-top: 15px;
}

.confirm-bankcard-modal .content .content-wrapper .o-content .foot {
  margin-top: 20px;
  padding: 0 30px 30px;
  text-align: center;
}

.confirm-bankcard-modal .content .content-wrapper .o-content .foot .return {
  margin-right: 110px;
  color: #333333;
}

.confirm-bankcard-modal .content .content-wrapper .o-content .foot .binding {
  width: 240px;
  height: 44px;
  background: #ffed00;
  border-radius: 5px;
  border: none;
}

.confirm-bankcard-modal .ivu-tabs-content .ivu-tabs-tabpane {
  padding: 0 30px;
}

.confirm-bankcard-modal .ivu-tabs-content .ivu-tabs-tabpane .g-code {
  position: relative;
  margin-top: 20px;
  width: 440px;
  height: 40px;
}

.confirm-bankcard-modal .ivu-tabs-content .ivu-tabs-tabpane .g-code > input {
  padding-left: 10px;
  padding-right: 40px;
  width: 100%;
  height: 100%;
  background: #fafafa;
  border-radius: 2px;
  border: 1px solid #eeeeee;
}

.confirm-bankcard-modal .ivu-tabs-content .ivu-tabs-tabpane .g-code .sendMsg {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  text-align: center;
  line-height: 40px;
  color: rgba(202, 171, 0, 1);
  cursor: pointer;
}

.confirm-bankcard-modal .nav-text {
  width: 100%;
}

.confirm-bankcard-modal .nav-text .ivu-tabs-tab {
  height: 50px;
  line-height: 34px;
  width: 50%;
  font-size: 14px;
  color: #434343;
  margin-right: 0;
  text-align: center;
  background-color: #ebebeb;
}

.confirm-bankcard-modal .nav-text .ivu-tabs-tab .ivu-icon-social-google {
  color: #ff6a4b;
}

.confirm-bankcard-modal .nav-text .ivu-tabs-tab .ivu-icon-android-textsms {
  color: #009688;
}

.confirm-bankcard-modal .nav-text .ivu-tabs-tab-active {
  background-color: #fff;
  border: none;
}

.confirm-bankcard-modal .nav-text .ivu-tabs-ink-bar {
  background-color: white;
}

/******************************googe validate**************************/

.google-modal dl {
  padding: 10px 0;
  text-align: center;
}

.google-modal dt {
  margin-bottom: 20px;
}

.google-modal dd .ivu-btn {
  margin-top: 20px;
  width: 240px;
  height: 54px;
}

.google-modal dd .ivu-btn > span {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 24px;
  font-size: 16px;
}

.google-modal dd .ivu-btn > span img{
  margin-top: -8px;
  vertical-align: top;
  width: 40px;
  margin-top: -8px;
}

.googleAuth-modal .pay-modal-title {
  text-align: center;
  padding-top: 10px;
}

.googleAuth-modal .pay-modal-title h3{
  color: #333;
}

.googleAuth-modal .pay-modal-title p {
  margin: 18px;
  color: #666666;
}

.googleAuth-modal .content-wrapper .pay-modal-content {
  padding-top: 20px;
}

.googleAuth-modal .content-wrapper .pay-modal-content .cancel {
  line-height: 44px;
}

body[dir='rtl'] .googleAuth-modal .content-wrapper .pay-modal-content .cancel-btn{
  float: left;
}

body[dir='rtl'] .googleAuth-modal .content-wrapper .pay-modal-content .paid{
  float: left;
}

.googleAuth-modal .content-wrapper .pay-modal-content .paid {
  float: right;
  width: 135px;
  background: #5C95EA;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
}

.googleAuth-modal .content-wrapper .cancel-btn{
  float: right;
  padding: 0;
  border-radius: 0;
  line-height: 20px;
  padding-top: 10px;
  margin: 0 30px;
  color: #333;
  border: 0;
  border-bottom: 1px solid #333;
  background: transparent;
}



/**********************googe validate end****************************/

/***************************add contact style ***********************/

.add-contact-modal .o-header {
  height: 60px;
  line-height: 60px;
  margin-left: 20px;
  font-size: 18px;
  color: rgba(51, 51, 51, 1);
}

.add-contact-modal .o-header .close {
  position: absolute;
  right: 20px;
  top: 20px;
}

.add-contact-modal .tp {
  text-align: center;
  width: 500px;
  height: 218px;
  background: rgba(244, 244, 244, 1);
}

.add-contact-modal .tp > div > img {
  margin-top: 60px;
}

.add-contact-modal .o-body ul.bt {
  margin: 30px 40px;
}

.add-contact-modal .o-body ul.bt > li {
  padding-bottom: 30px;
}

.add-contact-modal .o-body ul.bt > li .ivu-select-dropdown {
  left: 0 !important;
  width: 100% !important;
}

.add-contact-modal .o-body ul.bt > li .ivu-select-item {
  height: 24px;
}

.add-contact-modal .o-body ul.bt li .ivu-input {
  height: 40px;
  line-height: 40px;
}

.add-contact-modal .o-body ul.bt li .ivu-input-group-prepend {
  background: #ffffff;
}

.add-contact-modal .o-body ul.bt li .ivu-select-input {
  text-align: center;
}

.add-contact-modal .o-body ul.bt li > button {
  width: 426px;
  height: 44px;
  background: #5C95EA;
  border-radius: 5px;
  border: none;
  outline: none;
}

.add-contact-modal .o-body ul.bt li > button:hover {
  background: rgb(215, 202, 20);
}

.success-tips {
  top: 39%;
  right: 24%;
  width: 260px;
  height: 100px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  position: absolute;
  color: white;
  z-index: 100;
}

.success-tips > div {
  margin-top: 20px;
}

.success-tips > * {
  text-align: center;
}

/***************************add contact style end ***********************/

.select-card-modal > .content > .content-wrapper > .s-header {
  height: 60px;
  line-height: 60px;
  padding-left: 30px;
}

.select-card-modal > .content > .content-wrapper > .s-header > .close {
  position: absolute;
  right: 20px;
  top: 20px;
}

.select-card-modal > .content > .content-wrapper > .s-body {
  padding: 20px 30px;
  background: linear-gradient(-138.7deg, rgba(89, 111, 237, 1), rgba(72, 120, 246, 1));
  color: white;
  min-height: 200px;
}

.select-card-modal > .content > .content-wrapper > .s-body p {
  color: #bbceff;
}

.select-card-modal > .content > .content-wrapper > .s-body ul > li {
  margin-bottom: 20px;
}

.select-card-modal > .content > .content-wrapper > .s-foot {
  text-align: center;
  padding: 20px;
}

.select-card-modal > .content > .content-wrapper > .s-foot button {
  width: 400px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background: #ffed00;
  color: #333333;
  font-size: 16px;
  font-weight: 500;
  outline: none;
}

.select-card-modal > .content > .content-wrapper > .s-foot button:hover {
  background: rgb(227, 212, 7);
}

.toast {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.toast-content {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px;
  min-width: 220px;
  height: 100px;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
}

.toast-content .toast-content-image {
  height: 40px;
  line-height: 40px;
}
.toast-content .toast-content-text {
  height: 30px;
  padding-top: 10px;
  line-height: 20px;
}

.toast-content .toast-content-image img {
  vertical-align: middle;
  max-width: 40px;
  max-height: 40px;
}

.expand-row{
  margin:8px 0;
}
