@charset "UTF-8";

li{
  list-style: none;
}

@font-face {
  font-family: 'font_family';
  src:  url('../../fonts/iconfont.ttf');
}

.font_family{ font-family:"font_family" !important; font-size:16px;font-style:normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; -moz-osx-font-smoothing: grayscale; }

@font-face {
  font-family: 'DROIDKUFI';
  src: url('../../fonts/DROIDKUFI-REGULAR.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DROIDKUFIBold';
  src: url('../../fonts/DROIDKUFI-BOLD.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SanFranciscoDisplay';
  src: url('../../fonts/SanFranciscoDisplay-Regular-2.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SanFranciscoDisplayMedium';
  src: url('../../fonts/SanFranciscoDisplay-Medium-7.otf');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: 'DROIDKUFI', 'DROIDKUFIBold', 'SanFranciscoDisplay', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-width: 1200px;
  -webkit-text-size-adjust: none;
}

html[lang='en'],
body[dir='ltr'] {
  font-family: 'SanFranciscoDisplay', 'SanFranciscoDisplayMedium';
}

html[lang='ar'],
body[dir='rtl'] {
  font-family: 'DROIDKUFI', 'DROIDKUFIBold';
}

* {
  direction: inherit;
  unicode-bidi: normal;
}

body[dir='rtl'] * {
  direction: rtl;
}

body[dir='ltr'] * {
  direction: ltr;
}

*[dir='ltr'] {
  direction: ltr;
}

*[dir='rtl'] {
  direction: rtl;
}

.ml-8 {
  margin-left: 8px;
}

.mr-8 {
  margin-right: 8px;
}
.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.text-white {
  color: #fff;
}

body[dir='rtl'] .ml-8 {
  margin-left: 0;
  margin-right: 8px;
}

body[dir='rtl'] .mr-8 {
  margin-right: 0;
  margin-left: 8px;
}

body[dir='rtl'] .ml-10 {
  margin-left: 0;
  margin-right: 10px;
}

body[dir='rtl'] .mr-10 {
  margin-right: 0;
  margin-left: 10px;
}

body[dir='rtl'] .text-dir-ltr {
  text-align: right;
  direction: ltr !important;
  unicode-bidi: embed;
}

body[dir='rtl'] .ivu-radio {
  margin-left: 6px;
}

body[dir='rtl'] .ivu-table-large .ivu-table-header {
  font-size: 12px;
}

body[dir='rtl'] .ivu-table-large .ivu-table-header .limit-tips{
  font-size: 10px;
}

body[dir='rtl'] .ivu-radio-group-button .ivu-radio-wrapper:first-child {
  border-radius: 0 5px 5px 0;
}

body[dir='rtl'] .ivu-radio-group-button .ivu-radio-wrapper:last-child {
  border-radius: 5px 0 0 5px;
}

.ivu-form-item-required .ivu-form-item-label:before {
  display: none;
}

.poptip-card.ivu-poptip {
  width: 100%;
}
.poptip-card .ivu-poptip-rel {
  width: 100%;
}
.poptip-card .ivu-poptip-inner {
  height: 40px;
  line-height: 26px;
  font-size: 22px;
  font-weight: bold;
}
.poptip-card .ivu-poptip-popper {
  width: 100%;
}

.border-top-dashed {
  border-top: 1px #f4f4f4 dashed;
}

.text-blue{
  color: #2d8cf0;
}

.ivu-tabs.spreaded {
  height: 300px;
  transition: ease 500ms;
}

.ivu-form-item .ivu-input-group-prepend .ivu-btn,
.ivu-form-item .ivu-input-group-append .ivu-btn {
  height: 38px;
  box-shadow: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.authority {
  padding-bottom: 10px;
}
.authority .ivu-tabs {
  margin-bottom: 30px;
}
.authority .ivu-tabs-bar,
.authority .ivu-form-item {
  margin-bottom: 30px;
}
.authority-tips {
  padding-top: 10px;
}
.authority-footer {
  padding-top: 30px;
}

.country-select {
  min-width: 86px;
}
.country-select .ivu-select-input {
  text-align: center !important;
}
.country-select .ivu-select-dropdown {
  left: 1px !important;
  width: 100% !important;
  overflow-x: hidden;
}


.modal-notice .ivu-modal-body {
  padding: 0;
}

.modal-notice .ivu-row {
  line-height: 32px;
}

.modal-notice .modal-notice-header {
  padding: 20px 50px;
}

.modal-notice.primary .modal-notice-header {
  background-color: #596fed;
}

.modal-notice.info .modal-notice-header {
  background-color: #f4f4f4;
}

.modal-notice.warning .modal-notice-header {
  background-color: #AB0F0F;
}

.modal-notice .modal-notice-footer {
  padding: 20px 20px 0;
}

/* 下面是原来的样式 */
.wrapper {
  margin: 0 auto;
  width: 1200px;
}
.flex-wrapper {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

input[type='number'] {
  -moz-appearance: textfield;
}
/* to avoid {{}}  expression when render dom*/
[v-cloak] {
  display: none;
}
body {
  font-size: 14px;
  background-color: #ebebeb;
}

input::-webkit-inner-spin-button {
  display: none !important;
}

.is-show {
  display: block !important;
}

.is-not-show {
  display: none;
}

.error {
  border-color: red;
  color: red;
}

.success {
  color: #0cbf48;
}

/*  style of o-modal			 */

.o-modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(55, 55, 55, 0.6);
  height: 100%;
  z-index: 10000;
}

.o-modal > .content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}

.o-modal > .content > .content-wrapper {
  position: relative;
  top: 20%;
  margin: 0 auto;
  padding: 0;
  width: 500px;
  background-color: white;
  border-radius: 5px;
}

/******************************
 * style of navbar			  *
 ******************************/

.om-header {
  height: 50px;
  background-color: #0f0f10;
  color: #adadad;
}

.om-header .om-header-row {
  margin: 0 auto;
  padding: 0 10px;
  width: 1200px;
}

.om-header .logo-wrapper {
  margin-top: 14px;
}

.om-header .my-orders:hover .order-card {
  display: block !important;
}

.om-header .management > ul > li {
  position: relative;
}

.om-header .om-market > ul > li,
.om-header .management > ul > li {
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
}


.om-header .om-market > ul > li > a,
.om-header .management > ul > li > a {
  line-height: 50px;
  color: #adadad;
}

.om-header > .ivu-row > .ivu-col-span-10:last-child {
  padding-right: 20px;
}

.om-header ul > li > a > svg {
  position: relative;
  top: 3px;
}


.om-header .order-card {
  width: 365px;
  min-height: 430px;
  position: absolute;
  background: #ffffff;
  border-radius: 3px;
  right: 0;
  z-index: 1002;
  box-shadow: 0px 2px 9px 0px rgba(210, 210, 210, 0.46);
}

.om-header .order-card .card-header {
  padding: 14px 15px;
  height: 48px;
  line-height: 20px;
  border-bottom: 1px solid #eeeeee;
}

.om-header .order-card ul > li .ivu-row {
  padding: 16px;
  border-bottom: 1px solid #eeeeee;
}

.om-header .order-card ul > li .ivu-row .ivu-col-span-4:first-child {
  height: 66px;
  line-height: 66px;
}

.om-header .order-card .buyType,
.om-header .order-card .sellType {
  display: inline-block;
  margin-top: 4px;
  font-size: 12px;
  height: 30px;
  width: 30px;
  background: #ff2e2e;
  border-radius: 50%;
  text-align: center;
  line-height: 33px;
  color: white;
}

.om-header .order-card .sellType {
  background: rgba(92, 149, 234, 1);

}

.om-header .order-card ul > li .ivu-row .ivu-col > .tip {
  color: #333333;
}

.om-header .order-card .view {
  display: inline-block;
  margin-top: 10px;
  padding: 2px 10px;
  border: 1px solid #4878f6;
  text-align: center;
  border-radius: 10px;
  font-size: 10px;
}

.om-header .order-card .card-footer {
  text-align: center;
  margin-top: 6px;
  text-align: center;
}

.om-header .items > span {
  display: inline-block;
  line-height: 50px;
}

.om-header .items .ivu-badge a {
  color: #adadad;
}

.om-header .items .ivu-select-dropdown {
  margin-top: -1px;
}

.om-header .ivu-dropdown {
  height: 50px;
  line-height: 50px;
}

.om-header .ivu-dropdown.text-center .ivu-dropdown-item:hover,
.om-header .ivu-dropdown.text-left .ivu-dropdown-item:hover {
  color: #5C95EA;
}

.om-header .ivu-dropdown-rel > a {
  color: #adadad;
}

.om-header .ivu-dropdown-menu > a {
  color: #495060;
}

.order-dropdown .ivu-badge {
  height: 50px;
  line-height: 48px;
}

.order-dropdown .ivu-badge-count{
  top: 8px;
  padding: 0;
  min-width: 16px;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 14px;
  box-shadow: none;
}

.order-dropdown .ivu-dropdown-item:not(:first-child) {
  padding: 16px 22px;
  min-height: 66px;
  line-height: 14px;
  border-top: 1px solid #eeeeee;
}

.order-dropdown .ivu-dropdown-item.order-dropdown-empty {
  padding: 40px 0;
  height: 170px;
}

.order-dropdown .ivu-dropdown-item.order-dropdown-empty:hover {
  background-color: #fff;
}

.order-dropdown .ivu-row,
.order-dropdown .ivu-col {
  height: 100%;
}

.order-dropdown .ivu-col h4 {
  margin-bottom: 4px;
}

.order-dropdown .ivu-col p {
  white-space: normal;
}

.order-dropdown .ivu-col .ivu-avatar-string {
  left: 0 !important;
  width: 100%;
}

.order-dropdown .order-dropdown-view {
  display: inline-block;
  margin-top: 6px;
  padding: 2px 8px;
  color: #5C95EA;
  border: 1px solid #5C95EA;
  border-radius: 16px;
}

.om-header .arrow {
  border: 10px solid #020202;
  z-index: 10000000;
  width: 6px;
  height: -14px;
  position: absolute;
  top: -23px;
  right: 14px;
  border-color: #ff000000;
  border-bottom: 13px solid white;
}

.banner {
  background-color: rgb(25, 25, 32);
  height: 220px;
  background-position: center;
  background-size: cover;
}

/******************************googe validate**************************/

.google-modal dl {
  padding: 10px 0;
  text-align: center;
}

.google-modal dt {
  margin-bottom: 20px;
}

.google-modal dd .ivu-btn {
  margin-top: 20px;
  width: 240px;
  height: 54px;
}

.google-modal dd .ivu-btn > span {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 24px;
  font-size: 16px;
}

.google-modal dd .ivu-btn > span img{
  margin-top: -8px;
  vertical-align: top;
  width: 40px;
  margin-top: -8px;
}

.googleAuth-modal .pay-modal-title {
  text-align: center;
  padding-top: 10px;
}

.googleAuth-modal .ivu-modal-body{
  padding-bottom: 30px;
}

.googleAuth-modal .pay-modal-title h3{
  color: #333;
}

.googleAuth-modal .pay-modal-title p {
  margin: 18px;
  color: #666666;
}

.googleAuth-modal .content-wrapper .pay-modal-content {
  padding-top: 20px;
}

.googleAuth-modal .content-wrapper .pay-modal-content .cancel {
  line-height: 44px;
}

body[dir='rtl'] .googleAuth-modal .content-wrapper .pay-modal-content .cancel-btn{
  float: left;
}

body[dir='rtl'] .googleAuth-modal .content-wrapper .pay-modal-content .paid{
  float: left;
}

.googleAuth-modal .content-wrapper .pay-modal-content .paid {
  float: right;
  width: 135px;
  background: #5C95EA;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
}

.googleAuth-modal .content-wrapper .cancel-btn{
  float: right;
  padding: 0;
  border-radius: 0;
  line-height: 20px;
  padding-top: 10px;
  margin: 0 30px;
  color: #333;
  border: 0;
  border-bottom: 1px solid #333;
  background: transparent;
}

/**********************googe validate end****************************/

.toast {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.toast-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  padding: 24px 50px;
  max-width: 410px;
  min-width: 260px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

.toast-content .toast-content-image {
  padding-bottom: 10px;
  height: 40px;
  line-height: 30px;
}
.toast-content .toast-content-text {
  line-height: 18px;
}

.toast-content .toast-content-image img {
  vertical-align: middle;
  max-width: 30px;
  max-height: 30px;
}

.expand-row{
  margin:8px 0;
}

.expand-key{
  margin-left: 0;
  margin-right: 6px;
}

body[dir='rtl'] .expand-row{
  text-align: right;
}

body[dir='rtl'] .expand-row .expand-key{
  margin-left: 6px;
}
