.grecaptcha-badge {
  display: none;
}

.my-login .clear:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.my-login .ivu-modal-body {
  padding: 0;
}

.my-login .ivu-modal-header-inner {
  text-align: center;
}

.my-login .ivu-modal {
  top: 0;
}

.my-login .ivu-modal-header {
  border-bottom: none;
  padding-top: 27px;
  padding-bottom: 27px;
}

.my-login .ivu-modal-close {
  right: 30px;
  top: 20px;
}

.my-login .iview-input {
  width: 400px;
  margin: 0 auto;
  display: block;
}

.my-login .iview-input:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
body[dir='rtl'] .my-login .ivu-input-group-append{
  right: initial;
  left: 1px;
}

body[dir='rtl'] .my-register .ivu-input-group-append{
  right: initial;
  left: 51px;
}

/*谷歌注册样式*/
body[dir='rtl'] .loginGoogle-ul li .li-title .tip-img{
  left: 0;
  right: auto;
}
body[dir='rtl'] .loginGoogle-ul li .li-title .qr{
  right: 174px;
}
body[dir='rtl'] .bindGoogle-input{
  margin: 20px 0 0;
}
body[dir='rtl'] .loginGoogle-title-icon{
  float: right;
}
body[dir='rtl'] .loginGoogle-title-right-wrap{
  float: right;
  padding-right: 20px;
}
body[dir='rtl'] .my-loginGoogle .ivu-modal-footer{
  margin-right: 50px;
  margin-left: auto;
}
body[dir='rtl'] .loginGoogle-ul-download-wrap div{
  float: right;
}
body[dir='rtl'] .loginGoogle-ul li .li-title .tip-img1{
  background-image: url(../../images/tip-img1-ar.png);
}
body[dir='rtl'] .loginGoogle-ul li .li-title .tip-img2{
  background-image: url(../../images/tip-img2-ar.png);
}

/*登陆注册样式*/
body[dir='rtl'] .my-login .iview-input-countryPhone .ivu-input{
  border-right: 1px solid #dddee1;
}

.my-login .ivu-input-group-append {
  position: absolute;
  right: 1px;
  z-index: 2;
  background: #fafafa;
  border: none;
  top: 1px;
  height: 38px;
  line-height: 30px;
  width: auto;
  cursor: pointer;
  color: #bbbec4;
}

.my-login .ivu-modal-body {
  position: relative;
  z-index: 2;
}

.my-login .ivu-modal-footer {
  display: block;
  width: 400px;
  padding: 0 0 30px;
}

.my-login .ivu-btn-primary {
  background-color: #5c95ea;
  border-color: #5C95EA;
}

.my-login .login-footer-wrap {
  text-align: center;
  padding-top: 30px;
  font-size: 14px;
}

.my-login .login-footer-wrap span {
  margin: 0 5px;
}

.my-login .login-footer-wrap .blue {
  color: #3461a7;
  text-decoration: underline;
  cursor: pointer;
}

.my-login .login-footer-wrap .black {
  color: #333;
}

.my-login .ivu-tabs-bar {
  border: none;
  padding: 0 50px;
  margin-bottom: 30px;
}

.my-login .ivu-tabs-nav .ivu-tabs-tab {
  padding: 8px 0;
}

.my-login .ivu-tabs {
  overflow: inherit;
  color: #879FC2;
}

.my-login .ivu-menu-light.ivu-menu-horizontal .ivu-menu-item-active, .my-login .ivu-menu-light.ivu-menu-horizontal .ivu-menu-item:hover, .my-login .ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu-active, .my-login .ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu:hover {
  color: #5C95EA;
  border-bottom-color: #5C95EA;
}

.my-login .ivu-input-group-with-append .ivu-input, .my-login .ivu-input-group-with-append.ivu-input-group-small .ivu-input, .my-login .ivu-input-group-append, .my-login .ivu-input-group > .ivu-input:last-child {
  border-radius: 4px !important;
}

.my-login .vertical-center-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-login .is-red .ivu-input {
  border: 1px solid #ff2e2e;
}

.my-login .my-login-error {
  color: #ff2e2e;
  font-size: 14px;
  width: 400px;
  margin: 0 auto;
  height: 30px;
  line-height: 30px;
}

.my-login .ivu-input-group-prepend {
  position: absolute;
  left: 1px;
  z-index: 3;
  background: #fff;
  border: none;
  top: 1px;
  width: 87px;
  cursor: pointer;
  color: #bbbec4;
  height: 38px;
  border-right: 1px solid #DBDBDB;
}

body[dir='rtl'] .my-login .ivu-input-group-prepend{
  right: 1px;
  left: auto;
  border-right: 0;
  border-left: 1px solid #DBDBDB;
}

body[dir='rtl'] .my-login .iview-input-countryPhone .ivu-input:hover, body[dir='rtl'] .my-login .iview-input-countryPhone .ivu-input:focus{
  border-right: 1px solid #7daaee;
}

.my-login .ivu-select-item{
  line-height: 26px;
}
.my-login .ivu-select-item .iview-input-countryPhone-span{
  color: #000;
}

.my-login .ivu-select-item:hover .iview-input-countryPhone-span{
  font-weight: 600;
}

.my-login .ivu-select-single .ivu-select-input {
  text-align: center;
  height: 48px;
}

.my-login .ivu-select-arrow{
  margin-top: -2px;
}

.my-login .iview-input-countryPhone .ivu-input {
  text-indent: 87px;
}

.my-login .ivu-modal-content {
  overflow: hidden;
}

.my-login .iview-input-countryPhone-span {
  float: right;
  color: #aaa;
}

.my-login .ivu-select-dropdown {
  text-align: left;
  left: -1px !important;
  width: 400px !important;
}

body[dir='rtl'] .my-login .ivu-select-dropdown{
  right: 0;
  left: auto;
}

.my-loginGoogle .ivu-modal-body {
  padding: 0 50px;
}

.loginGoogle-title {
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 40px;
}

.loginGoogle-title-icon {
  display: block;
  float: left;
  width: 80px;
  height: 80px;
  background-image: url("../../images/Google authenticator.png");
}

.loginGoogle-title-right-wrap {
  float: left;
  padding: 10px 0 0 20px;
}

.loginGoogle-title-right-wrap h1 {
  color: #333;
  font-size: 22px;
  line-height: 30px;
}

.loginGoogle-title-right-wrap h2 {
  font-size: 16px;
  color: #333;
  line-height: 30px;
}

.loginGoogle-ul li {
  margin-bottom: 60px;
  position: relative;
}

.loginGoogle-ul li .li-title .list-num {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: top;
  background: #333;
  color: #fff;
  text-align: center;
  line-height: 20px;
  border-radius: 10px;
}

.loginGoogle-ul li .li-title .qr {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #333;
  right: 296px;
  top: 0;
}

.loginGoogle-ul li .li-title .tip-img {
  position: absolute;
  width: 234px;
  height: 160px;
  right: 0;
  top: -20px;
}

.loginGoogle-ul li .li-title .tip-img1 {
  background-image: url("../../images/tip-img1.png");
}

.loginGoogle-ul li .li-title .tip-img2 {
  background-image: url("../../images/tip-img2.png");
  top: -10px;
}

.loginGoogle-ul li .li-title p {
  color: #333;
  font-size: 14px;
  display: inline-block;
  margin-left: 28px;
}

.loginGoogle-ul-download-wrap {
  margin-left: 50px;
  margin-top: 22px;
}

.my-loginGoogle .ivu-modal-footer {
  width: 288px;
  margin-left: 100px;
  padding: 0 0 40px;
}

.loginGoogle-ul-download-wrap div {
  width: 140px;
  height: 40px;
  margin-right: 10px;
  float: left;
  cursor: pointer;
}

.loginGoogle-ul-download-wrap .loginGoogle-ul-download-ios {
  background-image: url("../../images/download-ios.png");
}

.loginGoogle-ul-download-wrap .loginGoogle-ul-download-google {
  background-image: url("../../images/download-google.png");
}

.bindGoogle-input {
  width: 288px;
  margin: 20px 50px 0;
}

.my-login .ivu-modal-body {
  position: static;
}

.my-loginNext .loginNext-title {
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  font-weight: bold;
}

.loginNext-input {
  text-align: center;
  margin: 50px 0 0;
}

.loginNext-sms-input {
  margin: 20px 0 0;
  position: relative;
}

.loginNext-input .ivu-input {
  width: 400px;
  float: inherit;
}

.loginNext-input .ivu-input-group-append {
  position: absolute;
  right: 51px;
  color: #3461A7;
  text-align: right;
}

.loginNext-input-red .ivu-input {
  border-color: #ff2e2e;
}

.loginNext-input .my-slot-append-gary {
  color: #999;
  cursor: auto;
}

.my-loginNext-error {
  margin: 0 0 48px 50px;
  height: 30px;
  line-height: 30px;
  color: #ff2e2e;
}

.loginNextSmsText {
  text-align: left;
  padding-left: 50px;
  margin-top: 40px;
  color: #999;
}

.loginNextSmsText span {
  color: #333;
  margin-left: 4px;
}

.my-register .loginNext-sms-input {
  margin-top: 0;
}

.my-register .my-loginNext-error {
  margin-bottom: 0;
}

